---
import EcosystemNavbar from "@/components/ecosystem-pages/ecosystem-navbar.astro";
import Layout from "@/layouts/layout.astro";

import Dashboard from "@/components/ecosystem-pages/providers-page/dashboard.tsx";
import { SortActions } from "@/components/ecosystem-pages/sort-actions";
import { getProviderList } from "@/components/ecosystem-pages/providers-page/useProviderList";
import TopMargin from "@/components/ui/top-margin.astro";

const astroUrl = Astro.url;

const pathName = astroUrl.pathname.split("/");

let initialData = await getProviderList();
---

<Layout
  title="Providers | Explore the Akash Ecosystem"
  image="/meta-images/ecosystem.png"
>
  <TopMargin>
    <h1 class="text-2xl font-bold md:block md:text-2lg lg:text-3lg">
      Explore the Akash Ecosystem
    </h1>
  </TopMargin>

  <Dashboard client:load pathName={pathName} initialProviders={initialData} />
</Layout>
