---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
type Project = CollectionEntry<"Community_Akash_Edu_Page">;
interface Props {
  contribution: Project;
}

const { contribution } = Astro.props;
---

<a
  href={contribution.data.link}
  target="_blank"
  rel="noopener noreferrer"
  class="group rounded-[8px] border bg-background2 p-5"
>
  <div class="overflow-hidden rounded-[4px]">
    <Image
      class="w-full transform object-cover transition-transform duration-300 ease-in-out group-hover:scale-105"
      alt="Feature illustration"
      width={1200}
      height={1200}
      src={contribution.data.image}
      format="webp"
    />
  </div>

  <div class="mt-4 flex flex-col">
    <h4 class="mt-1 text-base font-bold leading-normal text-foreground">
      {contribution.data.title}
    </h4>

    <p
      class="mt-4 line-clamp-4 text-xs font-medium leading-[18px] text-cardGray md:mt-6 md:text-sm"
    >
      {contribution.data.description}{" "}
    </p>
  </div>
</a>
