---
import FeatureCard from "../cards/FeatureCard.astro";

const responsibilities = [
  {
    title: "Block Validation",
    description:
      "Validators actively validate transactions and create new blocks as part of Akash Network's robust, secure, and attack-resistant consensus algorithm.",
    icon: `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9 3H4C3.44772 3 3 3.44772 3 4V9C3 9.55228 3.44772 10 4 10H9C9.55228 10 10 9.55228 10 9V4C10 3.44772 9.55228 3 9 3Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M20 3H15C14.4477 3 14 3.44772 14 4V9C14 9.55228 14.4477 10 15 10H20C20.5523 10 21 9.55228 21 9V4C21 3.44772 20.5523 3 20 3Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M20 14H15C14.4477 14 14 14.4477 14 15V20C14 20.5523 14.4477 21 15 21H20C20.5523 21 21 20.5523 21 20V15C21 14.4477 20.5523 14 20 14Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9 14H4C3.44772 14 3 14.4477 3 15V20C3 20.5523 3.44772 21 4 21H9C9.55228 21 10 20.5523 10 20V15C10 14.4477 9.55228 14 9 14Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<circle cx="12" cy="12" r="7" stroke="currentColor" stroke-width="1.5"/>
</svg>
`,
  },
  {
    title: "Network Security",
    description:
      "Validators are central to maintaining the overall security of the network, preventing malicious activities like double-spending and ensuring blockchain integrity.",
    icon: `<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.6 4.75L5.35 8C5.35 8 4.6 19.25 12.6 19.25C20.6 19.25 19.85 8 19.85 8L12.6 4.75Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
`,
  },
  {
    title: "Staking",
    description:
      "Validators must stake a specific amount of $AKT (Akash Network's native cryptocurrency) to join the consensus process. Staking incentivizes honesty by aligning validators' interests with the network's success.",
    icon: `<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.35327 11.9998C2.35327 6.5617 6.76172 2.15326 12.1998 2.15326C17.6379 2.15326 22.0463 6.5617 22.0463 11.9998C22.0463 17.4378 17.6379 21.8463 12.1998 21.8463C6.76172 21.8463 2.35327 17.4378 2.35327 11.9998ZM12.1998 2.17325C6.77276 2.17325 2.37328 6.57275 2.37328 11.9998C2.37328 17.4268 6.77276 21.8263 12.1998 21.8263C17.6268 21.8263 22.0263 17.4268 22.0263 11.9998C22.0263 6.57276 17.6268 2.17325 12.1998 2.17325Z" fill="currentColor" stroke="currentColor" stroke-width="1.5"/>
</svg>
`,
  },
  {
    title: "Governance",
    description:
      "Validators may participate in the governance process, contributing to decisions affecting the protocol and the network’s development trajectory.",
    icon: `<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.80005 12L11.8 14L15.8 10M22.8 19H2.80005M5.80005 7C5.80005 5.9 6.70005 5 7.80005 5H17.8C18.3305 5 18.8392 5.21071 19.2143 5.58579C19.5893 5.96086 19.8 6.46957 19.8 7V19H5.80005V7Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
`,
  },
  {
    title: "Reliability",
    description:
      "Validators ensure the network's reliability and availability by managing stable, well-connected nodes that keep it operational.",
    icon: `<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.39985 12L11.3999 14L15.3999 9.99998M4.24985 8.61998C4.10389 7.9625 4.1263 7.27882 4.31501 6.63231C4.50371 5.98581 4.8526 5.39742 5.32932 4.9217C5.80604 4.44597 6.39516 4.09832 7.04206 3.91097C7.68896 3.72362 8.37268 3.70264 9.02985 3.84998C9.39156 3.28428 9.88985 2.81873 10.4788 2.49626C11.0677 2.17379 11.7284 2.00476 12.3999 2.00476C13.0713 2.00476 13.732 2.17379 14.3209 2.49626C14.9098 2.81873 15.4081 3.28428 15.7699 3.84998C16.428 3.702 17.1129 3.72288 17.7608 3.91069C18.4088 4.09849 18.9987 4.44712 19.4757 4.92413C19.9527 5.40114 20.3013 5.99105 20.4891 6.63898C20.6769 7.28691 20.6978 7.97181 20.5499 8.62998C21.1155 8.99168 21.5811 9.48998 21.9036 10.0789C22.226 10.6679 22.3951 11.3285 22.3951 12C22.3951 12.6714 22.226 13.3321 21.9036 13.921C21.5811 14.51 21.1155 15.0083 20.5499 15.37C20.6972 16.0271 20.6762 16.7109 20.4889 17.3578C20.3015 18.0047 19.9539 18.5938 19.4781 19.0705C19.0024 19.5472 18.414 19.8961 17.7675 20.0848C17.121 20.2735 16.4373 20.2959 15.7799 20.15C15.4186 20.7178 14.9199 21.1854 14.33 21.5093C13.74 21.8332 13.0779 22.003 12.4049 22.003C11.7318 22.003 11.0697 21.8332 10.4797 21.5093C9.88977 21.1854 9.39109 20.7178 9.02985 20.15C8.37268 20.2973 7.68896 20.2763 7.04206 20.089C6.39516 19.9016 5.80604 19.554 5.32932 19.0783C4.8526 18.6025 4.50371 18.0141 4.31501 17.3676C4.1263 16.7211 4.10389 16.0374 4.24985 15.38C3.67981 15.0192 3.21027 14.5201 2.8849 13.9292C2.55953 13.3382 2.38892 12.6746 2.38892 12C2.38892 11.3254 2.55953 10.6617 2.8849 10.0708C3.21027 9.4798 3.67981 8.98073 4.24985 8.61998Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
`,
  },
];
---

<div class="not-prose flex flex-col gap-10">
  <div>
    <h2 class="text-center text-3xl font-semibold">Responsibilities</h2>
    <p class="m-auto max-w-3xl pt-2 text-center text-sm md:text-base">
      The primary responsibilities of an Akash Network Validators encompass:
    </p>
  </div>
  <div class="flex grid-cols-5 gap-5 overflow-x-auto md:grid">
    {
      responsibilities.map((responsibility) => (
        <FeatureCard
          autoHeight
          className="min-w-[145px] w-full lg:min-w-[unset]"
          card={responsibility}
          icon={responsibility.icon}
        />
      ))
    }
  </div>
</div>
