---
import { nav } from "@/components/about-pages/nav-config.ts";
import { type CollectionEntry, getCollection } from "astro:content";

import TopMargin from "@/components/ui/top-margin.astro";
import Layout from "@/layouts/layout.astro";
import { proseClasses } from "@/lib/prose-classes";

export async function getStaticPaths() {
  const pages = await getCollection("About_Page");

  return pages.map((page) => ({
    params: { slug: page.slug },
    props: page,
  }));
}

type Props = CollectionEntry<"Development_Page">;

const page = Astro.props;

const { Content, headings } = await page.render();

const pageIndex = nav.findIndex(
  (item: any) => item.link === `/about/${page.slug}/`,
);

if (pageIndex !== -1) {
  const pageIndexSubItems = headings
    .filter((heading) => heading.depth <= 3)
    .map((heading) => ({
      label: heading.text,
      link: `#${heading.slug}`,
      enabled: true,
    }));

  nav[pageIndex].subItems = pageIndexSubItems;
}
---

<Layout
  title="About Akash Network - Empowering a Decentralized Cloud Revolution"
  description="Learn about Akash Network's mission, values, and the vision for revolutionizing cloud computing through decentralization. Explore our journey and commitment to a more open and inclusive cloud infrastructure."
  image="/meta-images/about.png"
>
  <TopMargin>
    <div class="space-y-10">
      <h1 id="overview" class="mt-10 text-3xl md:mt-0 md:text-4xl lg:text-5xl">
        {page.data.title}
      </h1>

      <article class={proseClasses}>
        <Content />
      </article>
    </div>
  </TopMargin>
</Layout>
