<div class="not-prose sidebar-scroll relative mt-10 overflow-x-auto">
  <table
    class="w-full table-auto text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400"
  >
    <slot />
  </table>
</div>
