---
import Layout from "@/layouts/layout.astro";
import { Pricing } from "@/components/pricing-page/pricing.tsx";
---

<Layout
  title="  GPU Availability and Pricing"
  description="  GPU Availability and Pricing"
  image="/meta-images/gpus.png"
>
  <section
    class="container px-8 mx-auto flex max-w-[1380px] flex-col gap-10 md:gap-[4.5rem] pt-12 md:pt-[100px]"
  >
    <h1
      class="text-center text-2xl font-bold text-[1.4rem] md:text-2lg lg:text-3lg lg:leading-10"
    >
      Explorer pricing and calculate<br /> your costs or earnings
    </h1>
    <div
      class="sidebar-scroll flex items-center overflow-x-auto md:overflow-x-hidden lg:justify-center"
    >
      <Pricing client:load />
    </div>
  </section>
</Layout>
