---
import Categories from "./categories-mobile";
import SearchDialog from "./search-dialog";
const astroUrl = Astro.url;
const pathName = astroUrl.pathname.split("/");

const { tags } = Astro.props;
---

<h1 class="w-full text-center text-3xl md:text-4xl lg:text-5xl">
  Explore the Akash Ecosystem
</h1>

<div
  class="mt-6 flex flex-col justify-between gap-x-6 pb-6 md:mt-8 md:pb-8 lg:mt-10 lg:flex-row lg:border-b lg:pb-10"
>
  <div class="my-5 border-b lg:hidden"></div>

  <div class="flex items-center justify-between">
    <Categories
      client:load
      tags={tags}
      className=" md:hidden"
      page={pathName?.[2]}
    />
    <div class="block md:hidden">
      <SearchDialog client:load currentPath={astroUrl.pathname} />
    </div>
  </div>
</div>
