---
import { nav } from "@/components/development-pages/nav-config";
import TopMargin from "@/components/ui/top-margin.astro";
import Layout from "@/layouts/layout.astro";
import { proseClasses } from "@/lib/prose-classes";
import { type CollectionEntry, getCollection } from "astro:content";
import clsx from "clsx";

export async function getStaticPaths() {
  const pages = await getCollection("Development_Page");

  return pages.map((page) => ({
    params: { slug: page.slug },
    props: page,
  }));
}

type Props = CollectionEntry<"Development_Page">;

const page = Astro.props;
console.log(page);

const { Content, headings } = await page.render();

const akashInsidersIndex = nav.findIndex(
  (item: any) => item.link === `/development/${page.slug}/`,
);

if (akashInsidersIndex !== -1) {
  const akashInsidersSubItems = headings
    .filter((heading) => heading.depth <= 3)
    .map((heading) => ({
      label: heading.text,
      link: `#${heading.slug}`,
      enabled: true,
    }));

  nav[akashInsidersIndex].subItems = akashInsidersSubItems;
}
---

<Layout
  title="Developer Hub - Build on Akash Network"
  description="Access resources, tools, and documentation for developers interested in building on the Akash Network. Explore our APIs, SDKs, and developer-friendly features."
  image="/meta-images/development.png"
>
  <TopMargin>
    <div class="space-y-10 max-w-[1150px] w-full mx-auto px-4 2xl:p-0 xl:px-[8rem] lg:px-[6rem] md:px-[4rem] text-padding">
      <div class="mt-10 md:mt-0">
        <h1
          id="overview"
          class={clsx(
            "text-3xl md:text-4xl lg:text-5xl",
            page?.data?.centeredHeader && "text-center",
            page?.data?.hideHeader && "hidden",
          )}
        >
          {page.data.title}
        </h1>
      </div>

      <article class={proseClasses}>
        <Content />
      </article>
    </div>
  </TopMargin>
</Layout>
