---
import { Image } from "astro:assets";

const { card } = Astro.props;
---

<div
  class={`flex-col gap-8 lg:gap-x-[80px]  lg:flex lg:items-center   ${
    card.id % 2 === 0 ? "lg:flex-row" : "lg:flex-row-reverse"
  }`}
>
  <div class={`max-w-[575px] w-full flex-1 flex-shrink-0`}>
    <Image
      class="w-full object-contain dark:hidden"
      alt="Feature illustration"
      width={1200}
      height={1200}
      src={card.image}
    />
    <Image
      class="hidden w-full object-contain dark:block"
      alt="Feature illustration"
      width={1200}
      height={1200}
      src={card.darkImage ?? card.image}
    />
  </div>
  <div class="mt-[34px] flex w-full flex-1 flex-col pt-0 lg:mt-0">
    <h2
      class="text-start font-instrument text-3xl !leading-[1.14] text-foreground md:text-4xl xl:text-5xl 2xl:text-[56px]"
      set:html={card.title}
    />
    <p
      class="mt-6 text-start text-base md:mt-10 md:text-lg"
      set:html={card.description}
    />
  </div>
</div>
