---
import Carousel from "@/components/community-pages/carousel";
import PointerSection from "@/components/community-pages/pointer-section.astro";
import CommunityHero from "@/components/mdx-cards/community-hero.astro";
import ButtonLink from "@/components/ui/button-link.astro";
import TopMargin from "@/components/ui/top-margin.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout
  title="Akash Community - Join the Decentralized Cloud Movement"
  description="Connect with like-minded individuals in the Akash Network community. Engage in discussions, share experiences, and contribute to the growth of decentralized cloud computing."
  image="/meta-images/community.png"
>
  <TopMargin isNotContainer>
    <CommunityHero
      container
      subTitle="Akash Insiders:"
      title="Connecting Cloud Innovators, <br/> AI Enthusiasts, and Crypto Crusaders"
      description="Akash Insiders are leaders within the Akash ecosystem. They are an inclusive community of collaborative, digital pioneers helping to move DePIN technologies forward."
      buttonLabel="Apply to become an Akash Insider today!"
      buttonLink="https://akashnet.typeform.com/to/PXpRWgfD?typeform-source=akash.network"
    />
    <div class="flex flex-col gap-20 lg:gap-40">
      <div>
        <Carousel client:only />
      </div>
      <div class="container-reader flex flex-col gap-20 lg:gap-40">
        <PointerSection
          title="What do Akash Insiders do?"
          items={[
            {
              title: "Contribute to the development of the Akash ecosystem",
            },
            {
              title: "Test new features and products within the Akash Network",
            },
            {
              title:
                "Create and maintain technical documentation and tutorials",
            },
            {
              title:
                "Support community members and foster collaborative learning",
            },
            {
              title:
                "Educate the community through workshops and webinars on DePIN and AI",
            },
            {
              title: "Represent the Akash Network online and in person",
            },
          ]}
          image="/images/insiders/akash-image.png"
        />

        <PointerSection
          title="Why Become an Insider?"
          items={[
            {
              title:
                "Connect with like-minded AI, crypto and DePIN advocates from around the world.",
            },
            {
              title: "Gain early access to Akash ecosystem features",
            },
            {
              title: "Learn cutting-edge AI, crypto, and DePIN technologies",
            },
            {
              title:
                "Interact directly with Overclock Labs team, the creators of the Akash Network",
            },
            {
              title:
                "Opportunities to attend in-person events around the world",
            },
          ]}
          image="/images/insiders/become-insider.png"
          reverse={true}
        />

        <div class="not-prose flex flex-col items-center justify-center gap-10">
          <h2 class="text-center text-3xl font-semibold">
            Interested in becoming an Akash Insider?
          </h2>
          <ButtonLink
            arrow
            className="mt-0"
            link="https://akashnet.typeform.com/to/PXpRWgfD?typeform-source=akash.network"
            variant="secondary"
            size="lg"
          >
            Apply today!
          </ButtonLink>
        </div>
      </div>
    </div>
  </TopMargin>
</Layout>
