---
import JoinUs from "@/components/community-pages/join-us.astro";
import Socials from "@/components/community-pages/socials.astro";
import ButtonLink from "@/components/ui/button-link.astro";
import TopMargin from "@/components/ui/top-margin.astro";
import Layout from "@/layouts/layout.astro";
const title = "Help shape the Future of Akash";
const description =
  " A global community collaborating and contributing to the development of the Akash Network.";
---

<Layout
  title={title}
  description={description}
  image="/meta-images/community.png"
>
  <TopMargin isNotContainer>
    <div
      class={`not-prose mb-[66px]  lg:px-0 flex flex-col items-center justify-between gap-x-10 gap-y-6 text-center md:mb-[96px] `}
    >
      <div class="flex w-full flex-1 flex-col">
        <div class="flex flex-col items-center justify-center px-6">
          <h1
            class="text-3xl !font-semibold md:text-4xl md:leading-snug lg:text-5xl"
          >
            Akash Network Community:<br /> Help shape the Future <br
              class="md:hidden"
            /> of Akash
          </h1>

          <p class="mx-auto max-w-3xl pt-6 !leading-relaxed lg:text-lg">
            A global community collaborating and contributing to the development
            of the Akash Network.
          </p>
          <div class="mt-6 flex justify-center gap-4">
            <ButtonLink link={"#join-us"} variant="secondary" size="lg">
              Get Involved
            </ButtonLink>
            <ButtonLink link={"#socials"} variant="secondary" size="lg">
              Akash Socials
            </ButtonLink>
          </div>
        </div>
        <div class="mt-12">
          <div class="flex justify-center border border-black bg-[#f6f5f3]">
            <img
              src="/images/akash-community-head.png"
              class="aspect-[16/10] w-full max-w-[1700px] object-cover md:aspect-[16/5] md:object-contain lg:aspect-auto"
            />
          </div>
          <div class="w-full border-x border-b border-black bg-[#DDDADA] pt-3">
          </div>
        </div>
      </div>
    </div>

    <JoinUs />
    <Socials />
  </TopMargin>
</Layout>
