---
import FeatureCard from "@/components/cards/FeatureCard.astro";

const { infrastructureSection } = Astro.props;
---

<section class="container mb-10">
  <div class="border-b border-paraDark pb-[80px] pt-0 md:pb-[120px] md:pt-10">
    <h2 class="text-center text-xl font-medium md:text-[28px]">
      {infrastructureSection.title}
    </h2>

    <div class="mt-10 lg:mt-20">
      <div
        class="grid grid-cols-1 gap-10 sm:grid-cols-2 lg:grid-cols-3 3xl:grid-cols-6 3xl:gap-6"
      >
        {
          infrastructureSection.cards.map((card: any) => (
            <FeatureCard card={card} />
          ))
        }
      </div>
    </div>
  </div>
</section>
