---
import { ArrowUpCircle } from "lucide-react";
const { buyingAKTSection } = Astro.props;
---

<div class="py-[40px] md:pb-[80px] md:pt-[80px]">
  <div>
    <h2 class="text-2xl font-bold leading-9 md:text-2lg md:leading-10">
      {buyingAKTSection.title}
    </h2>
    <p class="mt-4 text-base font-normal md:text-lg md:leading-[30px]">
      {buyingAKTSection.description}
    </p>
  </div>

  <div class="mt-4">
    {
      buyingAKTSection.table.map(
        (
          table: {
            row: {
              title: string;
              link?: string;
            }[];
          },
          i: number,
        ) => {
          const colsArray = table.row;

          if (i === 0) {
            return (
              <div class="flex w-full justify-between border-b  py-[20px] text-base font-bold leading-normal md:text-lg md:leading-9 lg:text-2xl">
                {colsArray.map((col) => (
                  <div class="flex w-full justify-start">{col.title}</div>
                ))}
              </div>
            );
          } else {
            return (
              <div class={`flex w-full justify-between  border-b  py-[16px] `}>
                {colsArray.map((col, i) => (
                  <a
                    href={col.link ?? "#"}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="group flex w-full cursor-pointer items-center justify-start gap-x-2 "
                  >
                    {col && (
                      <ArrowUpCircle className="w-4 rotate-45 group-hover:text-primary" />
                    )}

                    <p class="text-xs font-medium leading-[15px] text-foreground group-hover:text-primary md:text-base md:leading-[28px] lg:text-xl">
                      {col.title}
                    </p>
                  </a>
                ))}
              </div>
            );
          }
        },
      )
    }
  </div>
</div>
