---
const { heroSection } = Astro.props;
---

<div class="flex flex-col items-center gap-10 md:gap-20">
  <h1 class="text-center text-2xl !leading-[1.2] lg:text-5xl">
    {heroSection.title}
  </h1>

  <div class="flex flex-col gap-8">
    <h2 class="text-center text-2xl font-medium lg:text-3xl">The AKT Token</h2>
    <p class="max-w-[37rem] text-center text-base">
      {heroSection.description}
    </p>
  </div>
</div>
