---
const { heroSection } = Astro.props;
---

<div class="mb-10 flex flex-col items-center gap-10 md:mb-20 md:gap-14">
  <div class="w-full flex-1">
    <p class="mb-2 text-center text-base font-medium md:text-base lg:text-xl">
      The AKT Token
    </p>
    <h1 class="text-center text-xl leading-tight md:text-2xl lg:text-[32px]">
      {heroSection.title}
    </h1>
  </div>
  <div class="flex-1 lg:max-w-[575px]">
    <img alt="Feature illustration" src={heroSection.heroImage.mobile.src} />
  </div>
</div>
