---
import Card from "./card.astro";

const howItWorksSection = {
  title: "How It Works",
  cards: [
    {
      title: "Security",
      description:
        "Akash Network is secured by a Proof-of-Stake (PoS) blockchain, and AKT is used to secure the network by staking. Staking AKT provides a passive income stream for stakers, and increases the security of the network.",
      icon: `<svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9 12.8125L11 14.8125L15 10.8125M12 22.8125C12 22.8125 20 18.8125 20 12.8125V5.8125L12 2.8125L4 5.8125V12.8125C4 18.8125 12 22.8125 12 22.8125Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
`,
    },
    {
      title: "Governance",
      description:
        "Akash Network is community-owned and all aspects of the network are governed by AKT holders. AKT holders can vote on proposals to improve the network and manage critical parameters such as inflation rate and take rates.",
      icon: `<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.25 12.8125L11.25 14.8125L15.25 10.8125M22.25 19.8125H2.25M5.25 7.8125C5.25 6.7125 6.15 5.8125 7.25 5.8125H17.25C17.7804 5.8125 18.2891 6.02321 18.6642 6.39829C19.0393 6.77336 19.25 7.28207 19.25 7.8125V19.8125H5.25V7.8125Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
`,
    },
    {
      title: "Value Exchange",
      description:
        "AKT provides a default mechanism to store and exchange value, and acts as a reserve currency in Cosmos’ multi-currency and multi-chain ecosystem.",
      icon: `<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.5 3.8125L20.5 7.8125M20.5 7.8125L16.5 11.8125M20.5 7.8125H4.5M8.5 21.8125L4.5 17.8125M4.5 17.8125L8.5 13.8125M4.5 17.8125H20.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
`,
    },
    {
      title: "Incentivization",
      description:
        "AKT provides a default mechanism to store and exchange value, and acts as a reserve currency in Cosmos’ multi-currency and multi-chain ecosystem.",
      icon: `<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.90234 12.8124C2.90234 7.37427 7.31079 2.96582 12.7489 2.96582C18.187 2.96582 22.5953 7.37426 22.5953 12.8124C22.5953 18.2503 18.187 22.6589 12.7489 22.6589C7.31079 22.6589 2.90234 18.2503 2.90234 12.8124ZM12.7489 2.98581C7.32183 2.98581 2.92235 7.38531 2.92235 12.8124C2.92235 18.2394 7.32184 22.6389 12.7489 22.6389C18.1759 22.6389 22.5753 18.2394 22.5753 12.8124C22.5753 7.38532 18.1759 2.98581 12.7489 2.98581Z" fill="currentColor" stroke="currentColor" stroke-width="1.5"/>
</svg>
`,
    },
  ],
};
---

<div>
  <h2 class="text-center text-2xl font-semibold md:text-2lg">
    {howItWorksSection.title}
  </h2>

  <div
    class="mx-auto mt-[40px] grid grid-cols-1 gap-10 md:grid-cols-2 xl:grid-cols-4"
  >
    {
      howItWorksSection.cards.map((card: any) => (
        <Card
          icon={card.icon}
          title={card.title}
          description={card.description}
        />
      ))
    }
  </div>
</div>
