---
import Card from "./card.astro";

const { howItWorksSection } = Astro.props;
---

<div>
  <h2 class="text-center text-2xl font-semibold md:text-2lg">
    {howItWorksSection.title}
  </h2>

  <div
    class="mx-auto mt-[40px] grid grid-cols-1 gap-10 md:grid-cols-2 xl:grid-cols-4"
  >
    {
      howItWorksSection.cards.map((card: any) => (
        <Card
          icon={card.icon}
          title={card.title}
          description={card.description}
        />
      ))
    }
  </div>
</div>
