---
import Logo from "@/components/ui/logo.astro";
import DarkModeToggle from "../dark-mode-toggle.astro";
import { DiscordIcon, GithubIcon, TwitterIcon } from "../header/icons";
import SpeakToExpert from "../pricing-page/SpeakToExpert";
import AlgoliaSearch from "./algolia-search.jsx";
---

<nav class="flex flex-col">
  <div class="flex items-center justify-between border-b px-4 py-6 md:px-10">
    <div class="flex items-center gap-8">
      <div class="flex items-end gap-x-1">
        <a href="/">
          <Logo width={100} />
        </a>
      </div>

      <AlgoliaSearch client:only />
    </div>
    <div class="hidden flex-shrink-0 md:flex md:gap-x-[14px]">
      <div class="hidden items-center gap-x-[14px] text-para md:flex">
        <DarkModeToggle />
        <a
          class="cursor-pointer hover:text-primary"
          href="https://twitter.com/akashnet_"
          target="_blank"
        >
          <TwitterIcon />
        </a>
        <a
          class="cursor-pointer hover:text-primary"
          href="https://github.com/akash-network"
          target="_blank"
        >
          <GithubIcon />
        </a>
        <a
          class="cursor-pointer hover:text-primary"
          href="https://discord.com/invite/akash"
          target="_blank"
        >
          <DiscordIcon />
        </a>
      </div>

      <div class="flex items-center md:gap-x-3">
        <SpeakToExpert size="extra-small" variant="secondary" />
        <a
          id="console-header"
          href="https://console.akash.network/"
          class="flex items-center justify-center rounded-[4px] bg-primary px-[11px] py-[7px] text-xs font-medium leading-[16px] text-white hover:bg-darkGray"
        >
          Deploy Now
        </a>
      </div>
    </div>
  </div>
</nav>
