---
const { nav } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
---

<div class="flex items-center justify-between border-b px-10 pt-1.5">
  <div class="flex gap-6">
    {
      nav.map((item: any, index: any) => {
        return (
          <a
            href={item.link}
            class={`
            ${
              pathname.split("/")[2] === item.link.split("/")[2]
                ? "border-b-2  border-primary text-primary"
                : "text-para"
            }
            px-2 py-2 text-sm font-bold`}
          >
            {item.label}
          </a>
        );
      })
    }
  </div>
</div>
