---
import { acc2025 } from "./acc-2025";
---

<section
  class="container-nav-2 flex flex-col pb-10 pt-10 md:pb-0 lg:pb-16 sxl:pb-5"
>
  <div class="flex items-center justify-between">
    <svg
      class="w-[130px] md:w-[148px]"
      viewBox="0 0 148 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M51.6094 0.739258C61.225 0.739258 69.8958 2.38415 76.1348 5.01465C79.2556 6.33049 81.7335 7.87849 83.4199 9.55957C85.1036 11.2379 85.96 13.0067 85.96 14.7949C85.9599 16.583 85.1033 18.3511 83.4199 20.0293C81.7334 21.7104 79.2557 23.2593 76.1348 24.5752C69.8958 27.2057 61.225 28.8496 51.6094 28.8496C41.9941 28.8496 33.3238 27.2055 27.085 24.5752C23.964 23.2593 21.4863 21.7104 19.7998 20.0293C18.1162 18.351 17.2588 16.5831 17.2588 14.7949C17.2588 13.0067 18.1162 11.2379 19.7998 9.55957C21.4863 7.87859 23.9642 6.33042 27.085 5.01465C33.3238 2.38428 41.9941 0.739281 51.6094 0.739258Z"
        stroke="white"
        strokeWidth="1.47948"></path>
      <path
        d="M51.6094 0.739258C61.0139 0.739258 68.415 7.14569 68.415 14.7949C68.415 22.4441 61.0139 28.8496 51.6094 28.8496C42.2049 28.8496 34.8038 22.4441 34.8037 14.7949C34.8037 7.14571 42.2049 0.739305 51.6094 0.739258Z"
        stroke="white"
        strokeWidth="1.47948"></path>
      <path
        d="M51.6094 0.739258C65.6735 0.739258 78.3788 2.39088 87.5439 5.04395C92.1311 6.37183 95.7894 7.93912 98.2842 9.64648C100.803 11.3704 101.979 13.1231 101.979 14.7949C101.979 16.4667 100.803 18.2195 98.2842 19.9434C95.7893 21.6507 92.1311 23.218 87.5439 24.5459C78.3788 27.199 65.6735 28.8496 51.6094 28.8496C37.5455 28.8496 24.8409 27.1989 15.6758 24.5459C11.0885 23.218 7.42947 21.6508 4.93457 19.9434C2.41577 18.2195 1.2393 16.4667 1.23926 14.7949C1.23926 13.1231 2.41572 11.3704 4.93457 9.64648C7.42947 7.93905 11.0884 6.37187 15.6758 5.04395C24.8409 2.39096 37.5455 0.739261 51.6094 0.739258Z"
        stroke="white"
        strokeWidth="1.47948"></path>
      <line
        x1="2.02563"
        y1="14.0551"
        x2="101.956"
        y2="14.0551"
        stroke="white"
        strokeWidth="1.47948"></line>
      <line
        x1="51.5864"
        y1="0.643127"
        x2="51.5864"
        y2="29.5895"
        stroke="white"
        strokeWidth="1.47948"></line>
      <path
        d="M146.352 14.4058C146.567 14.5817 146.594 14.8917 146.433 15.1011L146.352 15.1841L133.916 25.3199C133.588 25.587 133.097 25.3535 133.097 24.9302L133.097 4.65973C133.097 4.26272 133.529 4.03183 133.854 4.22516L133.916 4.27008L146.352 14.4058Z"
        stroke="white"
        strokeWidth="1.47948"></path>
      <path
        d="M131.541 14.4146C131.744 14.5898 131.769 14.8867 131.617 15.0923L131.541 15.1744L119.957 25.2056C119.632 25.4873 119.127 25.2569 119.126 24.8267L119.126 4.76324C119.126 4.35978 119.571 4.13136 119.895 4.33649L119.957 4.38336L131.541 14.4146Z"
        stroke="white"
        strokeWidth="1.47948"></path>
    </svg>
    <svg
      width="72"
      height="39"
      class="md:h-[39px] md:w-[72px]"
      viewBox="0 0 72 39"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M36.25 1.62531C46.0041 1.62531 54.7892 3.70521 61.1025 7.02374C67.4585 10.3647 71.083 14.8214 71.083 19.5003C71.0828 24.1791 67.4582 28.635 61.1025 31.9759C54.7892 35.2944 46.0041 37.3753 36.25 37.3753C26.4959 37.3753 17.7108 35.2944 11.3975 31.9759C5.04178 28.635 1.41716 24.1791 1.41699 19.5003C1.41699 14.8214 5.04155 10.3647 11.3975 7.02374C17.7108 3.70521 26.4959 1.62531 36.25 1.62531Z"
        stroke="white"
        strokeWidth="1.83333"></path>
      <path
        d="M39.3749 22.8002L43.4733 27.9414L44.1997 29.7197H36.2529L32.2773 22.8002H39.3749Z"
        fill="white"></path>
      <path
        d="M44.1975 29.7203L48.1666 22.8007L40.222 8.95825H32.2773L44.1975 29.7203Z"
        fill="white"></path>
      <path
        d="M28.3053 15.8763H36.2499L28.3086 29.7187L24.333 22.7992L28.3053 15.8763Z"
        fill="white"></path>
      <path
        d="M49.7756 9.12875C49.8259 8.88497 50.1741 8.88497 50.2244 9.12875L50.6754 11.3131C50.6939 11.4027 50.7639 11.4727 50.8535 11.4912L53.0379 11.9422C53.2817 11.9925 53.2817 12.3407 53.0379 12.3911L50.8535 12.842C50.7639 12.8605 50.6939 12.9305 50.6754 13.0201L50.2244 15.2045C50.1741 15.4483 49.8259 15.4483 49.7756 15.2045L49.3246 13.0201C49.3061 12.9305 49.2361 12.8605 49.1465 12.842L46.9621 12.3911C46.7183 12.3407 46.7183 11.9925 46.9621 11.9422L49.1465 11.4912C49.2361 11.4727 49.3061 11.4027 49.3246 11.3131L49.7756 9.12875Z"
        fill="white"></path>
    </svg>
  </div>
  <div class="mt-4 flex flex-col justify-between lg:flex-row lg:gap-14">
    <div class="flex w-full flex-1 flex-col items-start gap-4">
      <h1
        class="text-5xl !font-semibold !leading-[1] tracking-[-3px] md:text-6xl xl:text-[88px]"
      >
        Akash <br /> Accelerate <span class="font-instrument font-normal italic"
          >2025</span
        >
      </h1>
      <p
        class="font-jetBrainsMono text-sm font-medium text-foreground md:my-4 md:text-lg"
      >
        NYC + Virtual / June 23rd / 9:30-6:30pm
      </p>
      <div class="my-5 flex w-full md:hidden">
        <img
          src="/images/acc-2025/hero.png"
          alt="Akash Accelerate 2025"
          class="w-full object-contain"
        />
      </div>
      <p class="text-lg text-[#737373] lg:max-w-[35rem] xl:text-xl">
        Akash Accelerate is a full-day summit that brings together the DeAI
        ecosystem for a packed agenda of presentations and panels exploring the
        future of decentralized compute and open-source AI.
      </p>
      <div
        class="mt-2 flex w-full flex-col gap-5 md:mb-14 md:mt-8 lg:max-w-[35rem]"
      >
        <div class="flex flex-col items-center gap-3 md:flex-row">
          <p
            class="rounded-full border-2 border-[#2E2E2E] bg-[#232323] px-4 py-2 text-center font-jetBrainsMono text-foreground slg:px-8"
          >
            Free to Attend
          </p>
          <p
            class="flex-1 rounded-full border-2 border-[#2E2E2E] bg-[#232323] px-4 py-2 text-center font-jetBrainsMono text-foreground"
          >
            Only <span class="text-primary">125</span> Spots Remaining
          </p>
        </div>
        <a
          href={acc2025.register}
          target="_blank"
          class="flex w-full justify-center gap-1 rounded bg-primary px-6 py-3 text-center font-jetBrainsMono text-xl uppercase tracking-wide transition-all hover:bg-white hover:text-black md:py-4 2xl:text-2xl"
        >
          Register
        </a>
      </div>
    </div>
    <div class="hidden w-full flex-1 items-center justify-center md:flex">
      <img
        src="/images/acc-2025/hero.png"
        alt="Akash Accelerate 2025"
        class="w-full object-contain md:w-[75%] lg:h-[80%] lg:w-full"
      />
    </div>
  </div>
</section>
