---

---

<div
  class="relative bg-[radial-gradient(50%_50%_at_50%_50%,_#696969_0%,_#0D0D0D_100%)]"
>
  <section
    class="4xl:max-w-[1200px] mx-auto flex w-full max-w-[900px] flex-col gap-5 pt-10 md:pb-10 lg:max-w-[70vw]"
  >
      <iframe
          src="https://www.youtube.com/embed/wiVrlo7XJA0?si=sKjzGiGUrKi-DX2_&rel=0&showinfo=0&controls=0&modestbranding=1&disablekb=1&enablejsapi=1&iv_load_policy=3&cc_load_policy=0"
          title="Akash Accelerate 2025 Livestream"
          class="aspect-video w-full overflow-hidden rounded-xl border-2 border-[#2E2E2E]"
          allowfullscreen>
      </iframe>
  </section>
</div>
