---

---

<section>
  <div
    class="overflow-hidden border-b-2 pb-10 pt-[18px] dark:border-[#D9D9D9] md:overflow-visible md:pb-20 md:pt-10"
  >
    <div class="flex flex-col">
      <div class="flex flex-row items-center gap-2 md:gap-5">
        <h2 class="text-3xl font-semibold lg:text-4xl 2xl:text-5xl">
          Run of Show
        </h2>
        <svg
          width="37"
          height="37"
          class="w-[28px] md:w-[37px]"
          viewBox="0 0 37 37"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="18.5" cy="18.4998" r="18.5" fill="#FAA634"></circle>
          <path
            d="M29.3232 18.8918L19.5925 26.9819L19.5925 10.8018L29.3232 18.8918Z"
            fill="white"></path>
          <path
            d="M21.0215 18.8918L11.2907 26.9819L11.2907 10.8018L21.0215 18.8918Z"
            fill="white"></path>
        </svg>
      </div>
      <div>
        <img
          src="/images/acc-2025/show.svg"
          alt="show"
          class="hidden w-full md:block"
        />
        <img
          src="/images/acc-2025/show-mobile.svg"
          alt="show"
          class="block w-full md:hidden"
        />
      </div>
    </div>
  </div>
</section>
