---
import { ArrowUpCircle } from "lucide-react";
import { acc2025 } from "./acc-2025";
import AccTabs from "./AccTabs";
import FromAutoScroll from "./FromAutoScroll";
import SpeakersContent from "./Speakers";

const from = [
  {
    logo: "/images/acc-2025/speakers/from/near.svg",
    name: "Near",
  },
  {
    logo: "/images/acc-2025/speakers/from/softbank.svg",
    name: "SoftBank",
  },
  {
    logo: "/images/acc-2025/speakers/from/nous.svg",
    name: "Nous",
  },
  {
    logo: "/images/acc-2025/speakers/from/helium.svg",
    name: "Helium",
  },
  {
    logo: "/images/acc-2025/speakers/from/coinfund.svg",
    name: "CoinFund",
  },
  {
    logo: "/images/acc-2025/speakers/from/dragonfly.svg",
    name: "Dragonfly",
  },
];

type Props = {
  isLivestream?: boolean;
};

const { isLivestream }: Props = Astro.props;
---

<section
  class="container-nav-2 overflow-hidden pb-10 pt-10 md:overflow-visible md:pb-16"
>
  <div class="flex flex-col gap-8 md:gap-10">
    <h3
      class="text-center font-jetBrainsMono text-lg font-medium !text-[#626262] md:text-xl"
    >
      Speakers from
    </h3>
    <div class="hidden justify-evenly gap-8 overflow-y-auto md:gap-4 lg:flex">
      {
        from.map((item) => (
          <img src={item.logo} alt={item.name} class="w-auto object-contain" />
        ))
      }
    </div>
    <FromAutoScroll from={from} client:only />

    {
      !isLivestream && (
        <>
          <div class="mx-auto mt-3 h-[1px] w-full max-w-[18rem] bg-[#626262] md:mt-5" />
          <h2 class="mt-3 text-center text-3xl font-semibold md:mt-5 lg:text-4xl">
            Speakers
          </h2>
        </>
      )
    }
    {
      isLivestream ? (
        <AccTabs client:load />
      ) : (
        <>
          <SpeakersContent />
          <a
            href={acc2025.apply}
            target="_blank"
            class="flex w-full items-center justify-center gap-2 rounded border-2 border-[#666666] px-4 py-2.5 font-jetBrainsMono text-lg font-medium transition-all hover:bg-[#666666] md:mx-auto md:mt-4 md:w-auto"
          >
            <ArrowUpCircle className="size-6 rotate-45" />
            Interested in speaking?
          </a>
        </>
      )
    }
  </div>
</section>
