---

---

<section
  class="flex flex-col gap-10 border-b-2 pb-10 pt-[18px] dark:border-[#D9D9D9] md:pb-20 md:pt-10"
>
  <h3 class="text-3xl font-semibold lg:text-4xl 2xl:text-5xl">
    Things to see and do
  </h3>

  <div class="grid grid-cols-1 gap-10 md:gap-8 lg:grid-cols-3">
    <!-- Inspiring Talks & Keynotes -->
    <div class="flex flex-col gap-4">
      <svg
        width="91"
        height="37"
        viewBox="0 0 91 37"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M32.1154 0.435059H8.02885C3.59492 0.435059 0 4.02997 0 8.4639V20.5072C0 24.9411 3.59492 28.536 8.02885 28.536H16.0577V32.5504H10.0361C8.92607 32.5504 8.02885 33.4477 8.02885 34.5577C8.02885 35.6676 8.92607 36.5649 10.0361 36.5649H30.1082C31.2182 36.5649 32.1154 35.6676 32.1154 34.5577C32.1154 33.4477 31.2182 32.5504 30.1082 32.5504H24.0865V28.536H32.1154C36.5493 28.536 40.1442 24.9411 40.1442 20.5072V8.4639C40.1442 4.02997 36.5493 0.435059 32.1154 0.435059Z"
          class="fill-foreground"></path>
        <path
          d="M79.5455 0C75.1011 0 71.9835 1.8943 70 3.72545C68.0165 1.8943 64.8989 0 60.4545 0C54.1374 0 49 5.30996 49 11.8394C49 29.6813 70 37 70 37C70 37 91 29.6813 91 11.8394C91 5.30996 85.8626 0 79.5455 0Z"
          class="fill-foreground"></path>
      </svg>

      <h4 class="text-2xl font-semibold !leading-[1.3] 2xl:text-3xl">
        Inspiring Talks &<br />
        Keynotes
      </h4>
      <div class="border-b-2 border-[#D9D9D9]"></div>
      <p class="max-w-[327px] text-lg text-foreground md:text-xl 2xl:text-2xl">
        Hear from top minds in decentralized compute and open-source AI as they
        share insights on the latest tech, real-world applications, and where
        the industry is headed.
      </p>
    </div>

    <!-- Engaging Panels & Discussions -->
    <div class="flex flex-col gap-4">
      <svg
        width="43"
        height="39"
        viewBox="0 0 43 39"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7.3333 5.87463e-05L35.4993 0C39.5494 0 42.8327 3.28325 42.8327 7.33333V22.0001C42.8327 26.0501 39.5494 29.3333 35.4993 29.3333H31.0994V36.6667C31.0994 37.2598 30.7421 37.7945 30.1938 38.0216C29.6459 38.2486 29.0149 38.1231 28.5955 37.7039L20.2253 29.3333H7.33333C3.28325 29.3333 0 26.0501 0 22.0001V7.33339C0 3.28331 3.28322 8.80797e-05 7.3333 5.87463e-05Z"
          class="fill-foreground"></path>
      </svg>

      <h4 class="text-2xl font-semibold !leading-[1.3] 2xl:text-3xl">
        Engaging Panels &<br /> Discussions
      </h4>
      <div class="border-b-2 border-[#D9D9D9]"></div>
      <p class="max-w-[327px] text-lg text-foreground md:text-xl 2xl:text-2xl">
        Join deep-dive conversations on scaling AI, decentralized cloud
        infrastructure, and the economics of open-source compute. Get
        perspectives from developers, founders, and researchers.
      </p>
    </div>

    <!-- Networking & Collaboration -->
    <div class="flex flex-col gap-4">
      <svg
        width="90"
        height="45"
        viewBox="0 0 90 45"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M22.2585 0.0944824C9.99377 0.0944824 0.0507812 10.0375 0.0507812 22.3022C0.0507812 34.5669 9.99377 44.5098 22.2585 44.5098C34.5232 44.5098 44.4661 34.5669 44.4661 22.3022C44.4661 10.0375 34.5232 0.0944824 22.2585 0.0944824ZM40.3093 20.2833H32.3064C32.0621 14.3114 30.7438 9.02601 28.7774 5.36174C34.9794 7.75613 39.5482 13.4453 40.3093 20.2833ZM22.2585 40.4721C20.603 40.4721 16.7005 34.8273 16.2483 24.321H28.2707C27.8185 34.8273 23.9119 40.4721 22.2585 40.4721ZM16.2483 20.2833C16.7005 9.77703 20.605 4.13224 22.2585 4.13224C23.9119 4.13224 27.8164 9.77703 28.2687 20.2833H16.2483ZM15.7395 5.36174C13.7731 9.02601 12.4548 14.3114 12.2105 20.2833H4.20766C4.96675 13.4474 9.5375 7.75815 15.7395 5.36174ZM4.20766 24.321H12.2105C12.4548 30.2929 13.7731 35.5783 15.7395 39.2426C9.5375 36.8482 4.96877 31.159 4.20766 24.321ZM28.7774 39.2426C30.7438 35.5783 32.0621 30.2929 32.3064 24.321H40.3093C39.5502 31.159 34.9794 36.8462 28.7774 39.2426Z"
          class="fill-foreground"></path>
        <path
          d="M90 42H56V27.8747L68.1337 19.8947H77.8663L90 27.8747V42Z"
          class="fill-foreground"></path>
        <path
          d="M73 17.6842C68.3122 17.6842 64.5 13.7185 64.5 8.8421C64.5 3.96568 68.3122 0 73 0C77.6877 0 81.5 3.96568 81.5 8.8421C81.5 13.7185 77.6877 17.6842 73 17.6842Z"
          class="fill-foreground"></path>
      </svg>

      <h4 class="text-2xl font-semibold !leading-[1.3] 2xl:text-3xl">
        Networking &<br /> Collaboration
      </h4>
      <div class="border-b-2 border-[#D9D9D9]"></div>
      <p class="max-w-[327px] text-lg text-foreground md:text-xl 2xl:text-2xl">
        Meet builders, connect with partners, and explore new ideas. Whether
        it's in breakout sessions, demos, or casual meetups, there's plenty of
        room to collaborate and grow.
      </p>
    </div>
  </div>
</section>
