---
import ButtonLink from "@/components/ui/button-link.astro";
import Card from "./card.astro";
const { aiModelsAndAppsSection } = Astro.props;
---

<section class="container mb-[40px]">
  <div
    class="border-b border-paraDark pb-[80px] pt-[40px] md:pb-[120px] md:pt-[80px]"
  >
    <h2
      class="leading-[30px ] text-center text-xl font-medium md:text-2lg md:leading-[48px]"
    >
      What’s possible with Akash?
    </h2>
    <p
      class="mt-8 text-center text-base leading-[24px] md:mt-4 md:text-lg md:leading-[28px]"
    >
      Akash is a community-owned and managed. As a free public service, its
      source code is available to everyone. The community actively oversees all
      aspects of Akash, making decisions about the implementation of new
      features.
    </p>

    <div class="mt-8 flex justify-center md:mt-10">
      <div class="hidden md:block">
        <ButtonLink
          aria-label="View Akash Ecosystem"
          link="/ecosystem/showcase/latest"
          variant="secondary"
          size="xl"
        >
          View Akash Ecosystem
        </ButtonLink>
      </div>

      <div class="block md:hidden">
        <ButtonLink
          aria-label="View Akash Ecosystem"
          link="/ecosystem/showcase/latest"
          variant="secondary"
          size="md"
        >
          View Akash Ecosystem
        </ButtonLink>
      </div>
    </div>

    <!-- AI Deployment Templates -->
    <div class="mt-10">
      <p class="text-sm font-medium leading-none md:text-base">AI & ML</p>
      <div
        class="mt-2 grid grid-cols-1 gap-6 sm:grid-cols-2 md:mt-3 lg:grid-cols-3"
      >
        {aiModelsAndAppsSection.cards1.map((card: any) => <Card card={card} />)}
      </div>
    </div>

    <!-- tools -->
    <div class="mt-10">
      <p class="text-sm font-medium leading-none md:text-base">
        Latest Integrations
      </p>
      <div
        class="mt-2 grid grid-cols-1 gap-6 sm:grid-cols-2 md:mt-3 lg:grid-cols-3"
      >
        {aiModelsAndAppsSection.cards2.map((card: any) => <Card card={card} />)}
      </div>
    </div>

    <!-- Dev Tools -->
    <div class="mt-10">
      <p class="text-sm font-medium leading-none md:text-base">Dev Tools</p>
      <div
        class="mt-2 grid grid-cols-1 gap-6 sm:grid-cols-2 md:mt-3 lg:grid-cols-3"
      >
        {aiModelsAndAppsSection.cards3.map((card: any) => <Card card={card} />)}
      </div>
    </div>
  </div>
</section>
