---
import Card from "./card.astro";
const { aiModelsAndAppsSection } = Astro.props;
---

<section class="bg-[#181818] py-12 md:py-20">
  <div class="container-home relative z-[2]">
    <h2 class="text-center text-[26px] font-medium md:text-[56px]">
      Akash Apps
    </h2>
    <p class="mt-3 text-center text-base md:mt-6 md:text-lg">
      Free instant AI tools at your fingertips—no infrastructure required.
    </p>

    <div class="mt-10 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {aiModelsAndAppsSection.cards1.map((card: any) => <Card card={card} />)}
    </div>
  </div>
</section>
