---
import { Image } from "astro:assets";
import Button from "@/components/ui/button-link.astro";
const { title, image, description, link, linkIcon, linkLabel, darkImage } =
  Astro.props;

console.log(title);
---

<div class="flex flex-col rounded-lg border bg-background2 p-5">
  {
    image && (
      <div>
        <Image
          class="w-full object-cover dark:hidden"
          alt="Feature illustration"
          width={1200}
          height={1200}
          src={image}
          format="webp"
        />
        <Image
          class="hidden w-full object-cover dark:block"
          alt="Feature illustration"
          width={1200}
          height={1200}
          src={darkImage ?? image}
          format="webp"
        />
      </div>
    )
  }

  <div class="mt-4">
    <h3 class="text-base font-bold sm:text-lg md:text-xl lg:text-2xl">
      {title}
    </h3>
    <p
      class={`mt-3 md:mt-4 text-[#7E868C] text-sm leading-[20px] font-medium ${
        link ? "line-clamp-3" : ""
      }`}
      set:html={description}
    />
  </div>

  <div class="flex flex-grow items-end gap-x-4">
    {
      link && (
        <div class="mt-[34px] flex justify-start md:mt-[44px]">
          <Button link={link ? link : "#"} variant="secondary" size="lg">
            {linkIcon && (
              <div class="flex items-center justify-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="21"
                  viewBox="0 0 20 21"
                  fill="none"
                  class="hidden text-para dark:text-iconText md:inline"
                >
                  <path
                    d="M7.64062 12.4953L12.3547 7.78125M12.3547 7.78125H8.22988M12.3547 7.78125V11.9061"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M9.9974 18.4714C14.5997 18.4714 18.3307 14.7404 18.3307 10.138C18.3307 5.53565 14.5997 1.80469 9.9974 1.80469C5.39502 1.80469 1.66406 5.53565 1.66406 10.138C1.66406 14.7404 5.39502 18.4714 9.9974 18.4714Z"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13.8"
                  height="13.8"
                  viewBox="0 0 20 21"
                  fill="none"
                  class="inline text-para dark:text-iconText md:hidden"
                >
                  <path
                    d="M7.64062 12.4953L12.3547 7.78125M12.3547 7.78125H8.22988M12.3547 7.78125V11.9061"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M9.9974 18.4714C14.5997 18.4714 18.3307 14.7404 18.3307 10.138C18.3307 5.53565 14.5997 1.80469 9.9974 1.80469C5.39502 1.80469 1.66406 5.53565 1.66406 10.138C1.66406 14.7404 5.39502 18.4714 9.9974 18.4714Z"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            )}

            <span class="text-xs leading-4 md:text-sm md:leading-5">
              {linkLabel}
            </span>
          </Button>
        </div>
      )
    }
  </div>
</div>
