---
import TableCard from "./table-card.astro";
---

<div class="relative">
  <div class="absolute -right-10 top-10">
    <svg
      width="201"
      height="201"
      viewBox="0 0 201 201"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_d_4244_72389)">
        <circle cx="100.5" cy="93.5" r="86.5" fill="#FF414C"></circle>
      </g>
      <path
        d="M53.5419 112.754L51.1163 113.837C50.8696 113.47 50.5848 113.174 50.2618 112.95C49.937 112.722 49.588 112.561 49.2147 112.469C48.8415 112.376 48.4535 112.355 48.0507 112.405C47.6503 112.449 47.2469 112.561 46.8405 112.743C46.1184 113.065 45.5596 113.532 45.1639 114.144C44.7663 114.752 44.565 115.475 44.56 116.312C44.5531 117.144 44.7726 118.06 45.2183 119.059C45.6718 120.075 46.2117 120.861 46.838 121.416C47.4667 121.965 48.1369 122.293 48.8486 122.401C49.5627 122.502 50.2786 122.392 50.9963 122.072C51.3941 121.895 51.7428 121.677 52.0424 121.419C52.3444 121.154 52.5874 120.856 52.7715 120.525C52.96 120.192 53.0817 119.832 53.1369 119.445C53.1964 119.055 53.1761 118.649 53.0759 118.227L55.5073 117.158C55.6983 117.83 55.7659 118.51 55.7102 119.198C55.6589 119.885 55.4857 120.548 55.1905 121.188C54.8934 121.824 54.4737 122.405 53.9312 122.932C53.3869 123.455 52.719 123.893 51.9278 124.246C50.7604 124.767 49.5977 124.962 48.4399 124.831C47.282 124.699 46.2116 124.241 45.2287 123.456C44.2458 122.671 43.436 121.565 42.7992 120.138C42.1605 118.707 41.8803 117.365 41.9586 116.112C42.035 114.854 42.411 113.75 43.0864 112.801C43.7618 111.851 44.6789 111.118 45.8377 110.6C46.5771 110.27 47.3109 110.067 48.0391 109.991C48.7673 109.915 49.4698 109.967 50.1465 110.147C50.8212 110.323 51.4479 110.63 52.0264 111.066C52.6073 111.496 53.1125 112.059 53.5419 112.754ZM64.0018 118.873C63.0289 119.307 62.0903 119.47 61.1858 119.36C60.2814 119.25 59.4607 118.899 58.7237 118.305C57.9911 117.709 57.3951 116.896 56.9359 115.867C56.4766 114.838 56.2688 113.85 56.3126 112.902C56.3606 111.952 56.6458 111.104 57.1682 110.358C57.6906 109.612 58.4382 109.021 59.4111 108.587C60.3839 108.153 61.3226 107.991 62.227 108.1C63.1315 108.21 63.951 108.565 64.6856 109.165C65.4245 109.763 66.0235 110.577 66.4828 111.606C66.9421 112.635 67.1467 113.622 67.0967 114.568C67.0511 115.511 66.767 116.356 66.2447 117.102C65.7223 117.849 64.9747 118.439 64.0018 118.873ZM63.1754 116.987C63.7029 116.751 64.0792 116.41 64.3045 115.962C64.5278 115.509 64.616 114.998 64.569 114.428C64.5262 113.856 64.3698 113.267 64.0997 112.662C63.8276 112.052 63.4929 111.541 63.0956 111.127C62.7008 110.707 62.2605 110.429 61.7747 110.293C61.2889 110.157 60.7823 110.207 60.2548 110.443C59.7143 110.684 59.3302 111.032 59.1026 111.486C58.8793 111.938 58.7899 112.452 58.8345 113.029C58.8816 113.599 59.0411 114.189 59.3132 114.798C59.5834 115.404 59.9149 115.914 60.3079 116.33C60.7051 116.744 61.1466 117.018 61.6324 117.154C62.1206 117.284 62.6349 117.228 63.1754 116.987ZM70.6811 115.659L66.2351 105.697L68.4792 104.695L69.2347 106.388L69.3514 106.336C69.3042 105.673 69.4492 105.074 69.7864 104.54C70.1216 104.001 70.6221 103.584 71.288 103.286C71.9625 102.985 72.6044 102.896 73.2137 103.018C73.8254 103.134 74.3518 103.43 74.7929 103.908L74.8967 103.861C74.8702 103.209 75.0452 102.602 75.4217 102.04C75.8006 101.472 76.3511 101.027 77.0732 100.704C77.9898 100.295 78.8671 100.251 79.7051 100.572C80.5431 100.893 81.21 101.609 81.7059 102.72L84.6902 109.407L82.3359 110.458L79.5137 104.134C79.2378 103.516 78.8718 103.137 78.4159 102.998C77.958 102.855 77.4912 102.89 77.0156 103.102C76.4492 103.355 76.0851 103.73 75.9234 104.228C75.7641 104.719 75.8098 105.245 76.0607 105.807L78.8336 112.021L76.5312 113.048L73.6656 106.627C73.436 106.113 73.097 105.771 72.6487 105.603C72.2047 105.433 71.7341 105.459 71.2369 105.681C70.8996 105.832 70.6312 106.055 70.4317 106.352C70.2302 106.644 70.1168 106.982 70.0914 107.367C70.0641 107.747 70.1421 108.143 70.3255 108.554L73.029 114.611L70.6811 115.659ZM87.0721 108.344L82.6261 98.3818L84.9739 97.334L89.4199 107.296L87.0721 108.344ZM83.1755 96.4411C82.8036 96.6071 82.4287 96.6266 82.0506 96.4998C81.6706 96.3687 81.4024 96.128 81.2461 95.7778C81.0879 95.4232 81.0878 95.0629 81.2459 94.6968C81.4021 94.3264 81.6661 94.0582 82.0379 93.8923C82.4141 93.7244 82.79 93.707 83.1657 93.84C83.5437 93.9668 83.8119 94.2075 83.9701 94.5621C84.1264 94.9123 84.1265 95.2726 83.9703 95.6431C83.8166 96.0072 83.5516 96.2732 83.1755 96.4411ZM91.5769 99.3336L94.182 105.171L91.8342 106.218L87.3882 96.2565L89.6322 95.255L90.3877 96.9478L90.5044 96.8957C90.4847 96.2356 90.6522 95.6294 91.0071 95.0769C91.3664 94.5225 91.9178 94.0794 92.6615 93.7475C93.349 93.4407 94.0134 93.3204 94.6549 93.3867C95.3006 93.4511 95.8885 93.6995 96.4185 94.1318C96.9528 94.5622 97.3953 95.1762 97.746 95.9737L100.577 102.317L98.229 103.364L95.5603 97.3847C95.2631 96.7188 94.8576 96.275 94.3439 96.0532C93.8344 95.8295 93.277 95.8527 92.6717 96.1229C92.2609 96.3062 91.9361 96.56 91.6972 96.8844C91.4606 97.2026 91.3268 97.5708 91.2958 97.9891C91.269 98.4055 91.3627 98.8536 91.5769 99.3336ZM109.056 103.261C108.213 103.638 107.437 103.846 106.73 103.887C106.024 103.932 105.403 103.847 104.865 103.63C104.328 103.414 103.885 103.106 103.536 102.707L105.421 101.251C105.603 101.403 105.827 101.534 106.094 101.643C106.362 101.757 106.678 101.808 107.041 101.796C107.41 101.787 107.83 101.677 108.302 101.467C108.968 101.17 109.446 100.761 109.738 100.242C110.032 99.7274 110.015 99.1024 109.687 98.3674L108.845 96.4801L108.728 96.5322C108.715 96.8283 108.649 97.1561 108.529 97.5154C108.414 97.8728 108.205 98.2228 107.901 98.5656C107.602 98.9064 107.167 99.2042 106.597 99.4589C105.831 99.8005 105.057 99.9307 104.275 99.8498C103.494 99.7625 102.76 99.442 102.072 98.8883C101.387 98.3283 100.802 97.5057 100.318 96.4204C99.8293 95.3265 99.5989 94.3223 99.6264 93.4079C99.6562 92.4872 99.8956 91.6934 100.345 91.0263C100.792 90.355 101.398 89.8486 102.163 89.507C102.747 89.2465 103.271 89.1317 103.736 89.1628C104.203 89.1875 104.611 89.2881 104.959 89.4645C105.306 89.6365 105.592 89.8176 105.816 90.0076L105.946 89.9497L105.211 88.3023L107.526 87.269L112.045 97.3931C112.425 98.2449 112.536 99.0404 112.379 99.7795C112.221 100.519 111.852 101.184 111.27 101.775C110.689 102.366 109.951 102.862 109.056 103.261ZM106.43 97.3246C106.927 97.1027 107.297 96.7925 107.539 96.3941C107.781 95.9957 107.892 95.5289 107.871 94.9939C107.85 94.4588 107.697 93.8735 107.414 93.2379C107.134 92.611 106.798 92.1024 106.406 91.7121C106.018 91.32 105.592 91.0723 105.126 90.9692C104.662 90.8598 104.177 90.918 103.671 91.1438C103.148 91.3773 102.772 91.7084 102.544 92.1371C102.315 92.5658 102.218 93.0575 102.253 93.6122C102.286 94.1626 102.437 94.7384 102.705 95.3394C102.977 95.949 103.304 96.4434 103.686 96.8226C104.07 97.1956 104.494 97.4315 104.958 97.5303C105.425 97.6228 105.915 97.5543 106.43 97.3246ZM121.933 81.2361C121.619 80.6967 121.167 80.3696 120.577 80.2546C119.991 80.1377 119.341 80.2385 118.627 80.5569C118.126 80.7807 117.729 81.0484 117.438 81.3599C117.147 81.6714 116.964 81.9993 116.889 82.3436C116.815 82.688 116.85 83.0276 116.994 83.3624C117.117 83.6392 117.287 83.8511 117.503 83.9984C117.724 84.1437 117.976 84.2385 118.26 84.2828C118.543 84.3227 118.839 84.3305 119.149 84.3059C119.46 84.2814 119.766 84.2408 120.067 84.1841L121.451 83.9397C122.005 83.8326 122.558 83.7752 123.109 83.7676C123.665 83.7581 124.194 83.8227 124.697 83.9613C125.203 84.098 125.661 84.3322 126.068 84.6638C126.475 84.9953 126.807 85.4486 127.064 86.0237C127.411 86.802 127.518 87.5761 127.384 88.346C127.249 89.1115 126.88 89.8287 126.276 90.4974C125.674 91.1598 124.842 91.7284 123.778 92.2031C122.745 92.6643 121.776 92.9047 120.873 92.9244C119.973 92.9421 119.172 92.7395 118.47 92.3166C117.773 91.8917 117.21 91.2459 116.781 90.3793L119.149 89.3228C119.39 89.77 119.704 90.0912 120.092 90.2862C120.48 90.4813 120.908 90.5648 121.378 90.5366C121.852 90.5066 122.34 90.3796 122.841 90.1558C123.364 89.9223 123.788 89.6399 124.112 89.3087C124.438 88.9712 124.651 88.6117 124.751 88.2303C124.848 87.8446 124.814 87.4605 124.649 87.0781C124.49 86.7341 124.261 86.4941 123.962 86.3581C123.661 86.2177 123.297 86.1519 122.87 86.1607C122.446 86.1633 121.97 86.2102 121.44 86.3014L119.755 86.5867C118.536 86.7938 117.481 86.7539 116.591 86.4668C115.703 86.1735 115.046 85.5512 114.622 84.5999C114.273 83.8173 114.179 83.0375 114.34 82.2603C114.506 81.4813 114.884 80.7656 115.474 80.1132C116.062 79.4566 116.821 78.9208 117.751 78.5059C118.693 78.0852 119.593 77.881 120.448 77.8931C121.307 77.899 122.068 78.1009 122.733 78.4989C123.396 78.8926 123.901 79.4606 124.248 80.2028L121.933 81.2361ZM135.202 87.0972C134.229 87.5313 133.29 87.6936 132.386 87.5839C131.481 87.4743 130.66 87.1224 129.923 86.5284C129.191 85.9324 128.595 85.1199 128.136 84.0909C127.676 83.0618 127.469 82.0735 127.512 81.1258C127.56 80.1763 127.846 79.3283 128.368 78.5818C128.89 77.8354 129.638 77.245 130.611 76.8109C131.584 76.3767 132.522 76.2144 133.427 76.3241C134.331 76.4337 135.151 76.7887 135.885 77.389C136.624 77.9874 137.223 78.8011 137.683 79.8301C138.142 80.8592 138.346 81.8463 138.296 82.7916C138.251 83.7349 137.967 84.5797 137.444 85.3262C136.922 86.0727 136.174 86.663 135.202 87.0972ZM134.375 85.2105C134.903 84.9751 135.279 84.6334 135.504 84.1855C135.728 83.7332 135.816 83.2221 135.769 82.652C135.726 82.0799 135.57 81.4913 135.299 80.8859C135.027 80.2763 134.693 79.7646 134.295 79.3508C133.901 78.9307 133.46 78.6528 132.974 78.517C132.489 78.3812 131.982 78.431 131.455 78.6665C130.914 78.9077 130.53 79.2554 130.302 79.7096C130.079 80.1618 129.99 80.6761 130.034 81.2525C130.081 81.8226 130.241 82.4124 130.513 83.0221C130.783 83.6274 131.115 84.1379 131.508 84.5537C131.905 84.9675 132.346 85.2423 132.832 85.378C133.32 85.5076 133.835 85.4517 134.375 85.2105ZM146.313 82.1381C145.34 82.5723 144.402 82.7345 143.497 82.6249C142.593 82.5152 141.772 82.1634 141.035 81.5694C140.302 80.9734 139.706 80.1609 139.247 79.1318C138.788 78.1028 138.58 77.1144 138.624 76.1668C138.672 75.2172 138.957 74.3692 139.48 73.6228C140.002 72.8763 140.75 72.286 141.722 71.8518C142.695 71.4176 143.634 71.2554 144.538 71.365C145.443 71.4747 146.262 71.8297 146.997 72.4299C147.736 73.0283 148.335 73.842 148.794 74.8711C149.253 75.9001 149.458 76.8873 149.408 77.8325C149.362 78.7758 149.078 79.6207 148.556 80.3672C148.034 81.1136 147.286 81.7039 146.313 82.1381ZM145.487 80.2515C146.014 80.016 146.391 79.6744 146.616 79.2264C146.839 78.7742 146.927 78.263 146.88 77.6929C146.838 77.1209 146.681 76.5322 146.411 75.9269C146.139 75.3172 145.804 74.8055 145.407 74.3917C145.012 73.9717 144.572 73.6937 144.086 73.558C143.6 73.4222 143.094 73.472 142.566 73.7074C142.026 73.9486 141.642 74.2963 141.414 74.7505C141.191 75.2028 141.101 75.7171 141.146 76.2934C141.193 76.8635 141.352 77.4534 141.625 78.063C141.895 78.6684 142.226 79.1789 142.619 79.5946C143.016 80.0084 143.458 80.2832 143.944 80.419C144.432 80.5485 144.946 80.4927 145.487 80.2515ZM152.735 72.0389L155.34 77.876L152.992 78.9238L148.546 68.9618L150.791 67.9603L151.546 69.6531L151.663 69.601C151.643 68.9409 151.811 68.3347 152.165 67.7822C152.525 67.2278 153.076 66.7847 153.82 66.4528C154.507 66.146 155.172 66.0257 155.813 66.092C156.459 66.1564 157.047 66.4048 157.577 66.8371C158.111 67.2675 158.554 67.8815 158.904 68.679L161.735 75.022L159.387 76.0698L156.719 70.09C156.421 69.4242 156.016 68.9803 155.502 68.7585C154.993 68.5348 154.435 68.558 153.83 68.8282C153.419 69.0115 153.094 69.2654 152.855 69.5897C152.619 69.9079 152.485 70.2761 152.454 70.6944C152.427 71.1108 152.521 71.5589 152.735 72.0389Z"
        fill="white"></path>
      <defs>
        <filter
          id="filter0_d_4244_72389"
          x="0"
          y="0"
          width="201"
          height="201"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"></feColorMatrix>
          <feOffset dy="7"></feOffset>
          <feGaussianBlur stdDeviation="7"></feGaussianBlur>
          <feComposite in2="hardAlpha" operator="out"></feComposite>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_4244_72389"></feBlend>
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_4244_72389"
            result="shape"></feBlend>
        </filter>
      </defs>
    </svg>
  </div>
  <div class="relative flex w-full flex-col gap-4 blur-sm">
    {
      new Array(5).fill(0).map((_, i) => (
        <TableCard time="11:30 AM">
          <svg
            slot="svg"
            width="104"
            height="34"
            viewBox="0 0 104 34"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_4244_73104)">
              <path
                d="M87.5005 1.948H16.5003C7.95268 1.948 1.02344 8.87724 1.02344 17.4249C1.02344 25.9726 7.95268 32.9018 16.5003 32.9018H87.5005C96.0482 32.9018 102.977 25.9726 102.977 17.4249C102.977 8.87724 96.0482 1.948 87.5005 1.948Z"
                stroke="#E4E4E7"
                stroke-width="1.04623"
              />
              <path
                d="M17.6445 22.4249V11.2249H20.0925V16.1529H20.1245L24.7165 11.2249H28.0605L23.4205 16.0249L28.1085 22.4249H25.1325L21.8205 17.6409H21.7885L20.0925 19.4649V22.4249H17.6445ZM28.137 18.2009C28.137 15.5929 30.073 13.7049 32.745 13.7049C35.561 13.7049 37.353 15.6889 37.353 18.2649V18.9369H30.473C30.553 20.0409 31.465 20.7449 32.873 20.7449C33.897 20.7449 34.633 20.3609 35.481 19.4809L36.953 20.9529C35.929 22.0569 34.665 22.6649 32.889 22.6649C29.929 22.6649 28.137 20.8889 28.137 18.2009ZM30.505 17.2729H35.049C34.937 16.2649 34.057 15.6249 32.793 15.6249C31.513 15.6249 30.633 16.2649 30.505 17.2729ZM39.397 26.0249L41.413 21.9609L37.493 13.9449H40.101L42.677 19.4809H42.709L45.253 13.9449H47.877L42.005 26.0249H39.397ZM49.0036 22.4249V13.9449H51.2916V14.7449H51.3236C52.0276 14.0889 53.0516 13.7049 54.1876 13.7049C56.5876 13.7049 58.2516 15.2889 58.2516 17.5929V22.4249H55.8836V17.8969C55.8836 16.6009 55.0356 15.8169 53.6756 15.8169C52.3156 15.8169 51.3716 16.6649 51.3716 17.8969V22.4249H49.0036ZM59.7376 18.1849C59.6896 15.7049 61.8176 13.6569 64.5216 13.7049C67.2896 13.7049 69.3056 15.6729 69.3056 18.1849C69.3056 20.6969 67.2896 22.6649 64.5216 22.6649C61.8176 22.7129 59.6896 20.6649 59.7376 18.1849ZM66.9376 18.1849C66.9376 16.7929 65.9776 15.7849 64.5216 15.7849C63.0656 15.7849 62.1056 16.7929 62.1056 18.1849C62.1056 19.5769 63.0656 20.5849 64.5216 20.5849C65.9776 20.5849 66.9376 19.5769 66.9376 18.1849ZM76.9807 15.9609H74.2447V19.5449C74.2447 20.0729 74.4207 20.2329 75.1087 20.2329H76.6607V22.4249H74.8687C72.7407 22.4249 71.8767 21.5929 71.8767 19.6889V15.9609H69.8767V13.9449H71.8767V11.8169H74.2447V13.9449H76.9807V15.9609ZM77.7839 18.2009C77.7839 15.5929 79.7199 13.7049 82.3919 13.7049C85.2079 13.7049 86.9999 15.6889 86.9999 18.2649V18.9369H80.1199C80.1999 20.0409 81.1119 20.7449 82.5199 20.7449C83.5439 20.7449 84.2799 20.3609 85.1279 19.4809L86.5999 20.9529C85.5759 22.0569 84.3119 22.6649 82.5359 22.6649C79.5759 22.6649 77.7839 20.8889 77.7839 18.2009ZM80.1519 17.2729H84.6959C84.5839 16.2649 83.7039 15.6249 82.4399 15.6249C81.1599 15.6249 80.2799 16.2649 80.1519 17.2729Z"
                fill="#FF414C"
              />
            </g>
            <defs>
              <clipPath id="clip0_4244_73104">
                <rect
                  width="104"
                  height="33"
                  fill="white"
                  transform="translate(0 0.962402)"
                />
              </clipPath>
            </defs>
          </svg>

          <div class="flex flex-col">
            <h1 class="text-xl font-bold">
              State of DePin: Pioneering Possibilities
            </h1>
            <div class="flex items-center gap-2">
              <p>Greg Osuri</p>
              <div class="h-1.5 w-1.5 rounded-full bg-primary" />
              <p>Founder of Akash Network and CEO of Overclock Labs</p>
            </div>
          </div>
        </TableCard>
      ))
    }
  </div>
</div>
