---
import TableCard from "./table-card.astro";
---

<div class="relative flex w-full flex-col gap-4 blur-sm">
  {
    new Array(5).fill(0).map((_, i) => (
      <TableCard time="11:30 AM">
        <svg
          slot="svg"
          width="104"
          height="34"
          viewBox="0 0 104 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_4244_73104)">
            <path
              d="M87.5005 1.948H16.5003C7.95268 1.948 1.02344 8.87724 1.02344 17.4249C1.02344 25.9726 7.95268 32.9018 16.5003 32.9018H87.5005C96.0482 32.9018 102.977 25.9726 102.977 17.4249C102.977 8.87724 96.0482 1.948 87.5005 1.948Z"
              stroke="#E4E4E7"
              stroke-width="1.04623"
            />
            <path
              d="M17.6445 22.4249V11.2249H20.0925V16.1529H20.1245L24.7165 11.2249H28.0605L23.4205 16.0249L28.1085 22.4249H25.1325L21.8205 17.6409H21.7885L20.0925 19.4649V22.4249H17.6445ZM28.137 18.2009C28.137 15.5929 30.073 13.7049 32.745 13.7049C35.561 13.7049 37.353 15.6889 37.353 18.2649V18.9369H30.473C30.553 20.0409 31.465 20.7449 32.873 20.7449C33.897 20.7449 34.633 20.3609 35.481 19.4809L36.953 20.9529C35.929 22.0569 34.665 22.6649 32.889 22.6649C29.929 22.6649 28.137 20.8889 28.137 18.2009ZM30.505 17.2729H35.049C34.937 16.2649 34.057 15.6249 32.793 15.6249C31.513 15.6249 30.633 16.2649 30.505 17.2729ZM39.397 26.0249L41.413 21.9609L37.493 13.9449H40.101L42.677 19.4809H42.709L45.253 13.9449H47.877L42.005 26.0249H39.397ZM49.0036 22.4249V13.9449H51.2916V14.7449H51.3236C52.0276 14.0889 53.0516 13.7049 54.1876 13.7049C56.5876 13.7049 58.2516 15.2889 58.2516 17.5929V22.4249H55.8836V17.8969C55.8836 16.6009 55.0356 15.8169 53.6756 15.8169C52.3156 15.8169 51.3716 16.6649 51.3716 17.8969V22.4249H49.0036ZM59.7376 18.1849C59.6896 15.7049 61.8176 13.6569 64.5216 13.7049C67.2896 13.7049 69.3056 15.6729 69.3056 18.1849C69.3056 20.6969 67.2896 22.6649 64.5216 22.6649C61.8176 22.7129 59.6896 20.6649 59.7376 18.1849ZM66.9376 18.1849C66.9376 16.7929 65.9776 15.7849 64.5216 15.7849C63.0656 15.7849 62.1056 16.7929 62.1056 18.1849C62.1056 19.5769 63.0656 20.5849 64.5216 20.5849C65.9776 20.5849 66.9376 19.5769 66.9376 18.1849ZM76.9807 15.9609H74.2447V19.5449C74.2447 20.0729 74.4207 20.2329 75.1087 20.2329H76.6607V22.4249H74.8687C72.7407 22.4249 71.8767 21.5929 71.8767 19.6889V15.9609H69.8767V13.9449H71.8767V11.8169H74.2447V13.9449H76.9807V15.9609ZM77.7839 18.2009C77.7839 15.5929 79.7199 13.7049 82.3919 13.7049C85.2079 13.7049 86.9999 15.6889 86.9999 18.2649V18.9369H80.1199C80.1999 20.0409 81.1119 20.7449 82.5199 20.7449C83.5439 20.7449 84.2799 20.3609 85.1279 19.4809L86.5999 20.9529C85.5759 22.0569 84.3119 22.6649 82.5359 22.6649C79.5759 22.6649 77.7839 20.8889 77.7839 18.2009ZM80.1519 17.2729H84.6959C84.5839 16.2649 83.7039 15.6249 82.4399 15.6249C81.1599 15.6249 80.2799 16.2649 80.1519 17.2729Z"
              fill="#FF414C"
            />
          </g>
          <defs>
            <clipPath id="clip0_4244_73104">
              <rect
                width="104"
                height="33"
                fill="white"
                transform="translate(0 0.962402)"
              />
            </clipPath>
          </defs>
        </svg>

        <div class="flex flex-col">
          <h1 class="text-xl font-bold">
            State of DePin: Pioneering Possibilities
          </h1>
          <div class="flex items-center gap-2">
            <p>Greg Osuri</p>
            <div class="h-1.5 w-1.5 rounded-full bg-primary" />
            <p>Founder of Akash Network and CEO of Overclock Labs</p>
          </div>
        </div>
      </TableCard>
    ))
  }
</div>
