---
import TableCard from "./table-card.astro";
---

<div class="relative">
  <div class="absolute -right-10 top-10 z-[1]">
    <svg
      width="185"
      height="185"
      viewBox="0 0 185 185"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g filter="url(#filter0_d_1409_34811)">
        <circle cx="92.5" cy="85.5" r="78.5" fill="#FF414C"></circle>
      </g>
      <path
        d="M63.6276 85.0539L61.202 86.1365C60.9553 85.7696 60.6704 85.4741 60.3475 85.2501C60.0226 85.0218 59.6736 84.8613 59.3004 84.7686C58.9272 84.6759 58.5392 84.6546 58.1364 84.7047C57.736 84.7486 57.3326 84.8613 56.9262 85.0427C56.2041 85.3649 55.6452 85.8321 55.2495 86.4442C54.8519 87.052 54.6507 87.7744 54.6457 88.6114C54.6388 89.4441 54.8582 90.3598 55.304 91.3586C55.7575 92.3747 56.2974 93.1604 56.9237 93.7157C57.5524 94.2647 58.2226 94.593 58.9343 94.7005C59.6483 94.8018 60.3643 94.6923 61.082 94.372C61.4798 94.1944 61.8285 93.9766 62.1281 93.7184C62.4301 93.454 62.6731 93.1563 62.8572 92.8253C63.0456 92.4923 63.1674 92.132 63.2226 91.7445C63.2821 91.355 63.2617 90.9492 63.1616 90.5273L65.593 89.4577C65.7839 90.1295 65.8516 90.8097 65.7959 91.4982C65.7446 92.1848 65.5713 92.848 65.2762 93.4879C64.9791 94.1234 64.5593 94.7048 64.0169 95.2321C63.4725 95.755 62.8047 96.193 62.0135 96.5462C60.846 97.0672 59.6834 97.262 58.5255 97.1306C57.3677 96.9992 56.2973 96.541 55.3144 95.7561C54.3315 94.9711 53.5216 93.8651 52.8848 92.4383C52.2461 91.0071 51.9659 89.6648 52.0443 88.4114C52.1207 87.1536 52.4966 86.0499 53.1721 85.1004C53.8475 84.1508 54.7646 83.4175 55.9234 82.9003C56.6627 82.5703 57.3965 82.3673 58.1247 82.2911C58.853 82.215 59.5554 82.2671 60.2321 82.4473C60.9069 82.6231 61.5335 82.9294 62.1121 83.366C62.693 83.7963 63.1982 84.359 63.6276 85.0539ZM74.0875 91.1731C73.1146 91.6073 72.176 91.7696 71.2715 91.6599C70.367 91.5503 69.5463 91.1984 68.8094 90.6044C68.0768 90.0084 67.4808 89.1959 67.0215 88.1669C66.5623 87.1378 66.3545 86.1494 66.3982 85.2018C66.4463 84.2523 66.7315 83.4043 67.2539 82.6578C67.7763 81.9113 68.5239 81.321 69.4967 80.8869C70.4696 80.4527 71.4082 80.2904 72.3127 80.4001C73.2172 80.5097 74.0367 80.8647 74.7712 81.465C75.5101 82.0633 76.1092 82.877 76.5685 83.9061C77.0277 84.9352 77.2324 85.9223 77.1824 86.8675C77.1367 87.8109 76.8527 88.6557 76.3303 89.4022C75.8079 90.1486 75.0603 90.739 74.0875 91.1731ZM73.261 89.2865C73.7885 89.0511 74.1649 88.7094 74.3902 88.2615C74.6135 87.8092 74.7016 87.298 74.6546 86.7279C74.6119 86.1559 74.4555 85.5672 74.1853 84.9619C73.9132 84.3523 73.5786 83.8405 73.1813 83.4267C72.7864 83.0067 72.3461 82.7288 71.8603 82.593C71.3746 82.4572 70.8679 82.507 70.3404 82.7425C69.8 82.9837 69.4159 83.3314 69.1882 83.7855C68.9649 84.2378 68.8756 84.7521 68.9202 85.3284C68.9672 85.8985 69.1268 86.4884 69.3989 87.0981C69.669 87.7034 70.0006 88.2139 70.3935 88.6297C70.7908 89.0434 71.2323 89.3182 71.7181 89.454C72.2062 89.5836 72.7205 89.5277 73.261 89.2865ZM80.7668 87.9588L76.3208 77.9968L78.5649 76.9953L79.3203 78.6881L79.4371 78.636C79.3899 77.9726 79.5349 77.3739 79.872 76.8397C80.2072 76.3012 80.7078 75.8834 81.3736 75.5862C82.0481 75.2852 82.69 75.1958 83.2994 75.3179C83.911 75.4338 84.4374 75.7303 84.8786 76.2075L84.9823 76.1612C84.9558 75.5093 85.1309 74.9023 85.5074 74.3402C85.8863 73.7719 86.4368 73.3266 87.1589 73.0043C88.0755 72.5952 88.9528 72.5511 89.7908 72.8719C90.6287 73.1927 91.2957 73.9087 91.7916 75.0199L94.7759 81.7067L92.4216 82.7574L89.5994 76.4338C89.3235 75.8155 88.9575 75.437 88.5015 75.2983C88.0436 75.1553 87.5769 75.1899 87.1013 75.4022C86.5348 75.655 86.1708 76.03 86.0091 76.5274C85.8497 77.0185 85.8955 77.5451 86.1463 78.1071L88.9193 84.3204L86.6169 85.348L83.7513 78.9272C83.5217 78.4126 83.1827 78.0713 82.7344 77.9033C82.2904 77.7333 81.8198 77.7593 81.3225 77.9812C80.9853 78.1317 80.7169 78.3552 80.5173 78.6516C80.3159 78.9438 80.2025 79.2822 80.1771 79.6668C80.1498 80.0471 80.2278 80.4426 80.4111 80.8534L83.1146 86.911L80.7668 87.9588ZM97.1577 80.6436L92.7117 70.6817L95.0595 69.6338L99.5055 79.5958L97.1577 80.6436ZM93.2611 68.741C92.8893 68.9069 92.5143 68.9265 92.1363 68.7997C91.7563 68.6685 91.4881 68.4279 91.3318 68.0776C91.1736 67.7231 91.1735 67.3628 91.3316 66.9967C91.4877 66.6262 91.7517 66.3581 92.1236 66.1921C92.4997 66.0242 92.8757 66.0068 93.2513 66.1399C93.6294 66.2667 93.8975 66.5074 94.0558 66.8619C94.2121 67.2122 94.2122 67.5725 94.056 67.9429C93.9023 68.3071 93.6373 68.5731 93.2611 68.741ZM101.663 71.6334L104.268 77.4705L101.92 78.5183L97.4738 68.5563L99.7179 67.5548L100.473 69.2476L100.59 69.1955C100.57 68.5355 100.738 67.9292 101.093 67.3768C101.452 66.8224 102.003 66.3792 102.747 66.0473C103.435 65.7405 104.099 65.6203 104.741 65.6866C105.386 65.751 105.974 65.9993 106.504 66.4317C107.038 66.8621 107.481 67.476 107.832 68.2735L110.663 74.6165L108.315 75.6643L105.646 69.6845C105.349 69.0187 104.943 68.5749 104.43 68.3531C103.92 68.1293 103.363 68.1525 102.757 68.4227C102.347 68.606 102.022 68.8599 101.783 69.1843C101.546 69.5024 101.413 69.8706 101.381 70.2889C101.355 70.7053 101.448 71.1535 101.663 71.6334ZM119.142 75.5611C118.298 75.9374 117.523 76.146 116.815 76.187C116.11 76.2323 115.488 76.1467 114.951 75.9303C114.414 75.7138 113.97 75.4061 113.621 75.0071L115.507 73.5511C115.689 73.7033 115.913 73.8339 116.18 73.9431C116.448 74.0566 116.764 74.1076 117.127 74.096C117.496 74.0867 117.916 73.977 118.387 73.7666C119.053 73.4695 119.532 73.0613 119.824 72.5421C120.118 72.0272 120.101 71.4023 119.773 70.6672L118.931 68.7799L118.814 68.832C118.801 69.1282 118.735 69.4559 118.615 69.8152C118.5 70.1726 118.29 70.5227 117.987 70.8654C117.688 71.2063 117.253 71.504 116.682 71.7588C115.917 72.1003 115.143 72.2306 114.36 72.1496C113.58 72.0623 112.846 71.7419 112.158 71.1881C111.472 70.6282 110.888 69.8055 110.403 68.7203C109.915 67.6263 109.685 66.6222 109.712 65.7077C109.742 64.787 109.981 63.9932 110.43 63.3262C110.877 62.6548 111.483 62.1484 112.249 61.8068C112.832 61.5463 113.357 61.4316 113.822 61.4626C114.289 61.4874 114.697 61.5879 115.045 61.7643C115.392 61.9364 115.677 62.1174 115.902 62.3074L116.032 62.2495L115.296 60.6022L117.612 59.5688L122.13 69.693C122.51 70.5448 122.622 71.3402 122.464 72.0794C122.307 72.8185 121.937 73.4838 121.356 74.075C120.775 74.6663 120.037 75.1616 119.142 75.5611ZM116.515 69.6245C117.013 69.4026 117.382 69.0924 117.625 68.694C117.867 68.2955 117.977 67.8288 117.956 67.2937C117.935 66.7587 117.783 66.1734 117.499 65.5378C117.219 64.9108 116.884 64.4022 116.492 64.012C116.104 63.6198 115.677 63.3722 115.211 63.269C114.748 63.1597 114.263 63.2179 113.757 63.4436C113.234 63.6771 112.858 64.0082 112.629 64.4369C112.401 64.8656 112.304 65.3573 112.339 65.9121C112.372 66.4625 112.522 67.0382 112.791 67.6392C113.063 68.2489 113.39 68.7433 113.771 69.1225C114.156 69.4954 114.58 69.7313 115.044 69.8301C115.51 69.9227 116.001 69.8541 116.515 69.6245ZM82.7368 101.812C82.4235 101.272 81.9716 100.945 81.381 100.83C80.7948 100.713 80.145 100.814 79.4316 101.133C78.93 101.356 78.5336 101.624 78.2422 101.936C77.9509 102.247 77.768 102.575 77.6935 102.919C77.6191 103.264 77.654 103.603 77.7982 103.938C77.9217 104.215 78.0915 104.427 78.3076 104.574C78.528 104.719 78.7803 104.814 79.0645 104.858C79.3468 104.898 79.6432 104.906 79.9537 104.882C80.2642 104.857 80.5701 104.816 80.8715 104.76L82.2557 104.515C82.8093 104.408 83.3619 104.351 83.9133 104.343C84.469 104.334 84.9982 104.398 85.5008 104.537C86.0077 104.674 86.4648 104.908 86.872 105.239C87.2792 105.571 87.6112 106.024 87.8678 106.599C88.2152 107.378 88.3221 108.152 88.1887 108.922C88.0534 109.687 87.6838 110.404 87.0801 111.073C86.4787 111.735 85.6462 112.304 84.5825 112.779C83.5492 113.24 82.5806 113.48 81.6768 113.5C80.7773 113.518 79.9766 113.315 79.2745 112.892C78.5768 112.467 78.0138 111.822 77.5855 110.955L79.9528 109.898C80.1938 110.346 80.5083 110.667 80.8961 110.862C81.2839 111.057 81.7126 111.14 82.1822 111.112C82.6562 111.082 83.144 110.955 83.6455 110.731C84.1687 110.498 84.5923 110.216 84.9163 109.884C85.2427 109.547 85.4556 109.187 85.555 108.806C85.6525 108.42 85.6184 108.036 85.453 107.654C85.2943 107.31 85.0653 107.07 84.7661 106.934C84.4649 106.793 84.1011 106.728 83.6747 106.736C83.2507 106.739 82.7738 106.786 82.2442 106.877L80.5594 107.162C79.34 107.369 78.2852 107.329 77.3949 107.042C76.5069 106.749 75.8507 106.127 75.4262 105.176C75.0769 104.393 74.9829 103.613 75.1442 102.836C75.3098 102.057 75.6878 101.341 76.2781 100.689C76.8665 100.032 77.6255 99.4964 78.5551 99.0815C79.4977 98.6609 80.3969 98.4566 81.2526 98.4687C82.1108 98.4746 82.8724 98.6766 83.5374 99.0746C84.2005 99.4682 84.7054 100.036 85.0522 100.778L82.7368 101.812ZM96.0058 107.673C95.0329 108.107 94.0943 108.269 93.1898 108.16C92.2854 108.05 91.4646 107.698 90.7277 107.104C89.9951 106.508 89.3991 105.696 88.9399 104.666C88.4806 103.637 88.2728 102.649 88.3166 101.701C88.3646 100.752 88.6498 99.9039 89.1722 99.1574C89.6946 98.411 90.4422 97.8207 91.4151 97.3865C92.3879 96.9523 93.3266 96.7901 94.231 96.8997C95.1355 97.0094 95.955 97.3643 96.6896 97.9646C97.4284 98.563 98.0275 99.3767 98.4868 100.406C98.946 101.435 99.1507 102.422 99.1007 103.367C99.055 104.31 98.771 105.155 98.2486 105.902C97.7263 106.648 96.9786 107.239 96.0058 107.673ZM95.1793 105.786C95.7068 105.551 96.0832 105.209 96.3085 104.761C96.5318 104.309 96.62 103.798 96.5729 103.228C96.5302 102.656 96.3738 102.067 96.1036 101.462C95.8316 100.852 95.4969 100.34 95.0996 99.9264C94.7048 99.5063 94.2644 99.2284 93.7787 99.0926C93.2929 98.9569 92.7863 99.0067 92.2588 99.2421C91.7183 99.4833 91.3342 99.831 91.1066 100.285C90.8832 100.737 90.7939 101.252 90.8385 101.828C90.8856 102.398 91.0451 102.988 91.3172 103.598C91.5874 104.203 91.9189 104.714 92.3118 105.129C92.7091 105.543 93.1506 105.818 93.6364 105.954C94.1246 106.083 94.6389 106.027 95.1793 105.786ZM107.117 102.714C106.145 103.148 105.206 103.31 104.301 103.201C103.397 103.091 102.576 102.739 101.839 102.145C101.107 101.549 100.511 100.737 100.051 99.7074C99.5922 98.6784 99.3844 97.69 99.4281 96.7424C99.4762 95.7929 99.7614 94.9448 100.284 94.1984C100.806 93.4519 101.554 92.8616 102.527 92.4274C103.499 91.9933 104.438 91.831 105.343 91.9407C106.247 92.0503 107.067 92.4053 107.801 93.0056C108.54 93.6039 109.139 94.4176 109.598 95.4467C110.058 96.4758 110.262 97.4629 110.212 98.4081C110.167 99.3514 109.883 100.196 109.36 100.943C108.838 101.689 108.09 102.28 107.117 102.714ZM106.291 100.827C106.818 100.592 107.195 100.25 107.42 99.8021C107.643 99.3498 107.732 98.8386 107.685 98.2685C107.642 97.6965 107.485 97.1078 107.215 96.5025C106.943 95.8929 106.608 95.3811 106.211 94.9673C105.816 94.5473 105.376 94.2694 104.89 94.1336C104.404 93.9978 103.898 94.0476 103.37 94.283C102.83 94.5243 102.446 94.872 102.218 95.3261C101.995 95.7784 101.905 96.2927 101.95 96.869C101.997 97.4391 102.157 98.029 102.429 98.6387C102.699 99.244 103.03 99.7545 103.423 100.17C103.821 100.584 104.262 100.859 104.748 100.995C105.236 101.124 105.75 101.068 106.291 100.827ZM113.539 92.6145L116.145 98.4516L113.797 99.4994L109.351 89.5374L111.595 88.5359L112.35 90.2287L112.467 90.1766C112.447 89.5166 112.615 88.9103 112.97 88.3579C113.329 87.8035 113.88 87.3603 114.624 87.0284C115.312 86.7216 115.976 86.6014 116.617 86.6677C117.263 86.7321 117.851 86.9804 118.381 87.4128C118.915 87.8432 119.358 88.4571 119.709 89.2546L122.539 95.5976L120.192 96.6454L117.523 90.6656C117.226 89.9998 116.82 89.5559 116.306 89.3342C115.797 89.1104 115.24 89.1336 114.634 89.4038C114.223 89.5871 113.899 89.841 113.66 90.1654C113.423 90.4835 113.289 90.8517 113.258 91.27C113.232 91.6864 113.325 92.1346 113.539 92.6145Z"
        fill="white"></path>
      <defs>
        <filter
          id="filter0_d_1409_34811"
          x="0"
          y="0"
          width="185"
          height="185"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha"></feColorMatrix>
          <feOffset dy="7"></feOffset>
          <feGaussianBlur stdDeviation="7"></feGaussianBlur>
          <feComposite in2="hardAlpha" operator="out"></feComposite>
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow_1409_34811"></feBlend>
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow_1409_34811"
            result="shape"></feBlend>
        </filter>
      </defs>
    </svg>
  </div>
  <div class="relative flex w-full flex-col gap-4 blur-sm">
    <TableCard time="10:00 AM">
      <svg
        slot="svg"
        width="104"
        height="33"
        viewBox="0 0 104 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="1.02312"
          y="0.985519"
          width="101.954"
          height="30.9538"
          rx="15.4769"
          class="stroke-defaultBorder"
          strokeWidth="1.04623"></rect>
        <path
          d="M17.644 21.4624V10.2624H20.092V15.1904H20.124L24.716 10.2624H28.06L23.42 15.0624L28.108 21.4624H25.132L21.82 16.6784H21.788L20.092 18.5024V21.4624H17.644ZM28.1365 17.2384C28.1365 14.6304 30.0725 12.7424 32.7445 12.7424C35.5605 12.7424 37.3525 14.7264 37.3525 17.3024V17.9744H30.4725C30.5525 19.0784 31.4645 19.7824 32.8725 19.7824C33.8965 19.7824 34.6325 19.3984 35.4805 18.5184L36.9525 19.9904C35.9285 21.0944 34.6645 21.7024 32.8885 21.7024C29.9285 21.7024 28.1365 19.9264 28.1365 17.2384ZM30.5045 16.3104H35.0485C34.9365 15.3024 34.0565 14.6624 32.7925 14.6624C31.5125 14.6624 30.6325 15.3024 30.5045 16.3104ZM39.3965 25.0624L41.4125 20.9984L37.4925 12.9824H40.1005L42.6765 18.5184H42.7085L45.2525 12.9824H47.8765L42.0045 25.0624H39.3965ZM49.0031 21.4624V12.9824H51.2911V13.7824H51.3231C52.0271 13.1264 53.0511 12.7424 54.1871 12.7424C56.5871 12.7424 58.2511 14.3264 58.2511 16.6304V21.4624H55.8831V16.9344C55.8831 15.6384 55.0351 14.8544 53.6751 14.8544C52.3151 14.8544 51.3711 15.7024 51.3711 16.9344V21.4624H49.0031ZM59.7371 17.2224C59.6891 14.7424 61.8171 12.6944 64.5211 12.7424C67.2891 12.7424 69.3051 14.7104 69.3051 17.2224C69.3051 19.7344 67.2891 21.7024 64.5211 21.7024C61.8171 21.7504 59.6891 19.7024 59.7371 17.2224ZM66.9371 17.2224C66.9371 15.8304 65.9771 14.8224 64.5211 14.8224C63.0651 14.8224 62.1051 15.8304 62.1051 17.2224C62.1051 18.6144 63.0651 19.6224 64.5211 19.6224C65.9771 19.6224 66.9371 18.6144 66.9371 17.2224ZM76.9802 14.9984H74.2442V18.5824C74.2442 19.1104 74.4202 19.2704 75.1082 19.2704H76.6602V21.4624H74.8682C72.7402 21.4624 71.8762 20.6304 71.8762 18.7264V14.9984H69.8762V12.9824H71.8762V10.8544H74.2442V12.9824H76.9802V14.9984ZM77.7834 17.2384C77.7834 14.6304 79.7194 12.7424 82.3914 12.7424C85.2074 12.7424 86.9994 14.7264 86.9994 17.3024V17.9744H80.1194C80.1994 19.0784 81.1114 19.7824 82.5194 19.7824C83.5434 19.7824 84.2794 19.3984 85.1274 18.5184L86.5994 19.9904C85.5754 21.0944 84.3114 21.7024 82.5354 21.7024C79.5754 21.7024 77.7834 19.9264 77.7834 17.2384ZM80.1514 16.3104H84.6954C84.5834 15.3024 83.7034 14.6624 82.4394 14.6624C81.1594 14.6624 80.2794 15.3024 80.1514 16.3104Z"
          fill="#FF414C"
          class="dark:fill-white"></path>
      </svg>

      <div class="flex select-none flex-col">
        <h1 class="text-xl font-bold">The Rise of Decentralized Compute</h1>
        <div class="flex flex-wrap items-center gap-2">
          <p>Tyler Wright</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>MD Overclock Labs</p>
        </div>
      </div>
    </TableCard>
    <TableCard time="01:30 00">
      <svg
        slot="svg"
        width="104"
        height="33"
        viewBox="0 0 104 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="1.02312"
          y="0.985519"
          width="101.954"
          height="30.9538"
          rx="15.4769"
          class="stroke-defaultBorder"
          strokeWidth="1.04623"></rect>
        <path
          d="M17.644 21.4624V10.2624H20.092V15.1904H20.124L24.716 10.2624H28.06L23.42 15.0624L28.108 21.4624H25.132L21.82 16.6784H21.788L20.092 18.5024V21.4624H17.644ZM28.1365 17.2384C28.1365 14.6304 30.0725 12.7424 32.7445 12.7424C35.5605 12.7424 37.3525 14.7264 37.3525 17.3024V17.9744H30.4725C30.5525 19.0784 31.4645 19.7824 32.8725 19.7824C33.8965 19.7824 34.6325 19.3984 35.4805 18.5184L36.9525 19.9904C35.9285 21.0944 34.6645 21.7024 32.8885 21.7024C29.9285 21.7024 28.1365 19.9264 28.1365 17.2384ZM30.5045 16.3104H35.0485C34.9365 15.3024 34.0565 14.6624 32.7925 14.6624C31.5125 14.6624 30.6325 15.3024 30.5045 16.3104ZM39.3965 25.0624L41.4125 20.9984L37.4925 12.9824H40.1005L42.6765 18.5184H42.7085L45.2525 12.9824H47.8765L42.0045 25.0624H39.3965ZM49.0031 21.4624V12.9824H51.2911V13.7824H51.3231C52.0271 13.1264 53.0511 12.7424 54.1871 12.7424C56.5871 12.7424 58.2511 14.3264 58.2511 16.6304V21.4624H55.8831V16.9344C55.8831 15.6384 55.0351 14.8544 53.6751 14.8544C52.3151 14.8544 51.3711 15.7024 51.3711 16.9344V21.4624H49.0031ZM59.7371 17.2224C59.6891 14.7424 61.8171 12.6944 64.5211 12.7424C67.2891 12.7424 69.3051 14.7104 69.3051 17.2224C69.3051 19.7344 67.2891 21.7024 64.5211 21.7024C61.8171 21.7504 59.6891 19.7024 59.7371 17.2224ZM66.9371 17.2224C66.9371 15.8304 65.9771 14.8224 64.5211 14.8224C63.0651 14.8224 62.1051 15.8304 62.1051 17.2224C62.1051 18.6144 63.0651 19.6224 64.5211 19.6224C65.9771 19.6224 66.9371 18.6144 66.9371 17.2224ZM76.9802 14.9984H74.2442V18.5824C74.2442 19.1104 74.4202 19.2704 75.1082 19.2704H76.6602V21.4624H74.8682C72.7402 21.4624 71.8762 20.6304 71.8762 18.7264V14.9984H69.8762V12.9824H71.8762V10.8544H74.2442V12.9824H76.9802V14.9984ZM77.7834 17.2384C77.7834 14.6304 79.7194 12.7424 82.3914 12.7424C85.2074 12.7424 86.9994 14.7264 86.9994 17.3024V17.9744H80.1194C80.1994 19.0784 81.1114 19.7824 82.5194 19.7824C83.5434 19.7824 84.2794 19.3984 85.1274 18.5184L86.5994 19.9904C85.5754 21.0944 84.3114 21.7024 82.5354 21.7024C79.5754 21.7024 77.7834 19.9264 77.7834 17.2384ZM80.1514 16.3104H84.6954C84.5834 15.3024 83.7034 14.6624 82.4394 14.6624C81.1594 14.6624 80.2794 15.3024 80.1514 16.3104Z"
          fill="#FF414C"
          class="dark:fill-white"></path>
      </svg>

      <div class="flex select-none flex-col">
        <h1 class="text-xl font-bold">Foundation AI Model Training on Akash</h1>
        <div class="flex flex-wrap items-center gap-2">
          <p>COmmunity of AKash Network</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Discord Akash</p>
        </div>
      </div>
    </TableCard>
    <TableCard time="11:00 AM">
      <svg
        slot="svg"
        width="104"
        height="33"
        viewBox="0 0 104 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="1.02312"
          y="0.985519"
          width="101.954"
          height="30.9538"
          rx="15.4769"
          class="stroke-defaultBorder"
          strokeWidth="1.04623"></rect>
        <path
          d="M17.644 21.4624V10.2624H20.092V15.1904H20.124L24.716 10.2624H28.06L23.42 15.0624L28.108 21.4624H25.132L21.82 16.6784H21.788L20.092 18.5024V21.4624H17.644ZM28.1365 17.2384C28.1365 14.6304 30.0725 12.7424 32.7445 12.7424C35.5605 12.7424 37.3525 14.7264 37.3525 17.3024V17.9744H30.4725C30.5525 19.0784 31.4645 19.7824 32.8725 19.7824C33.8965 19.7824 34.6325 19.3984 35.4805 18.5184L36.9525 19.9904C35.9285 21.0944 34.6645 21.7024 32.8885 21.7024C29.9285 21.7024 28.1365 19.9264 28.1365 17.2384ZM30.5045 16.3104H35.0485C34.9365 15.3024 34.0565 14.6624 32.7925 14.6624C31.5125 14.6624 30.6325 15.3024 30.5045 16.3104ZM39.3965 25.0624L41.4125 20.9984L37.4925 12.9824H40.1005L42.6765 18.5184H42.7085L45.2525 12.9824H47.8765L42.0045 25.0624H39.3965ZM49.0031 21.4624V12.9824H51.2911V13.7824H51.3231C52.0271 13.1264 53.0511 12.7424 54.1871 12.7424C56.5871 12.7424 58.2511 14.3264 58.2511 16.6304V21.4624H55.8831V16.9344C55.8831 15.6384 55.0351 14.8544 53.6751 14.8544C52.3151 14.8544 51.3711 15.7024 51.3711 16.9344V21.4624H49.0031ZM59.7371 17.2224C59.6891 14.7424 61.8171 12.6944 64.5211 12.7424C67.2891 12.7424 69.3051 14.7104 69.3051 17.2224C69.3051 19.7344 67.2891 21.7024 64.5211 21.7024C61.8171 21.7504 59.6891 19.7024 59.7371 17.2224ZM66.9371 17.2224C66.9371 15.8304 65.9771 14.8224 64.5211 14.8224C63.0651 14.8224 62.1051 15.8304 62.1051 17.2224C62.1051 18.6144 63.0651 19.6224 64.5211 19.6224C65.9771 19.6224 66.9371 18.6144 66.9371 17.2224ZM76.9802 14.9984H74.2442V18.5824C74.2442 19.1104 74.4202 19.2704 75.1082 19.2704H76.6602V21.4624H74.8682C72.7402 21.4624 71.8762 20.6304 71.8762 18.7264V14.9984H69.8762V12.9824H71.8762V10.8544H74.2442V12.9824H76.9802V14.9984ZM77.7834 17.2384C77.7834 14.6304 79.7194 12.7424 82.3914 12.7424C85.2074 12.7424 86.9994 14.7264 86.9994 17.3024V17.9744H80.1194C80.1994 19.0784 81.1114 19.7824 82.5194 19.7824C83.5434 19.7824 84.2794 19.3984 85.1274 18.5184L86.5994 19.9904C85.5754 21.0944 84.3114 21.7024 82.5354 21.7024C79.5754 21.7024 77.7834 19.9264 77.7834 17.2384ZM80.1514 16.3104H84.6954C84.5834 15.3024 83.7034 14.6624 82.4394 14.6624C81.1594 14.6624 80.2794 15.3024 80.1514 16.3104Z"
          fill="#FF414C"
          class="dark:fill-white"></path>
      </svg>

      <div class="flex select-none flex-col">
        <h1 class="text-xl font-bold">
          Passage Leverages Akash To Launch the First Virtual World on
          Permissionless GPUs
        </h1>
        <div class="flex flex-wrap items-center gap-2">
          <p>Overclock Labs</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Akash Network Genesis</p>
        </div>
      </div>
    </TableCard>
    <TableCard time="00:30 AM">
      <svg
        slot="svg"
        width="104"
        height="33"
        viewBox="0 0 104 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="1.02312"
          y="0.985519"
          width="101.954"
          height="30.9538"
          rx="15.4769"
          class="stroke-defaultBorder"
          strokeWidth="1.04623"></rect>
        <path
          d="M17.644 21.4624V10.2624H20.092V15.1904H20.124L24.716 10.2624H28.06L23.42 15.0624L28.108 21.4624H25.132L21.82 16.6784H21.788L20.092 18.5024V21.4624H17.644ZM28.1365 17.2384C28.1365 14.6304 30.0725 12.7424 32.7445 12.7424C35.5605 12.7424 37.3525 14.7264 37.3525 17.3024V17.9744H30.4725C30.5525 19.0784 31.4645 19.7824 32.8725 19.7824C33.8965 19.7824 34.6325 19.3984 35.4805 18.5184L36.9525 19.9904C35.9285 21.0944 34.6645 21.7024 32.8885 21.7024C29.9285 21.7024 28.1365 19.9264 28.1365 17.2384ZM30.5045 16.3104H35.0485C34.9365 15.3024 34.0565 14.6624 32.7925 14.6624C31.5125 14.6624 30.6325 15.3024 30.5045 16.3104ZM39.3965 25.0624L41.4125 20.9984L37.4925 12.9824H40.1005L42.6765 18.5184H42.7085L45.2525 12.9824H47.8765L42.0045 25.0624H39.3965ZM49.0031 21.4624V12.9824H51.2911V13.7824H51.3231C52.0271 13.1264 53.0511 12.7424 54.1871 12.7424C56.5871 12.7424 58.2511 14.3264 58.2511 16.6304V21.4624H55.8831V16.9344C55.8831 15.6384 55.0351 14.8544 53.6751 14.8544C52.3151 14.8544 51.3711 15.7024 51.3711 16.9344V21.4624H49.0031ZM59.7371 17.2224C59.6891 14.7424 61.8171 12.6944 64.5211 12.7424C67.2891 12.7424 69.3051 14.7104 69.3051 17.2224C69.3051 19.7344 67.2891 21.7024 64.5211 21.7024C61.8171 21.7504 59.6891 19.7024 59.7371 17.2224ZM66.9371 17.2224C66.9371 15.8304 65.9771 14.8224 64.5211 14.8224C63.0651 14.8224 62.1051 15.8304 62.1051 17.2224C62.1051 18.6144 63.0651 19.6224 64.5211 19.6224C65.9771 19.6224 66.9371 18.6144 66.9371 17.2224ZM76.9802 14.9984H74.2442V18.5824C74.2442 19.1104 74.4202 19.2704 75.1082 19.2704H76.6602V21.4624H74.8682C72.7402 21.4624 71.8762 20.6304 71.8762 18.7264V14.9984H69.8762V12.9824H71.8762V10.8544H74.2442V12.9824H76.9802V14.9984ZM77.7834 17.2384C77.7834 14.6304 79.7194 12.7424 82.3914 12.7424C85.2074 12.7424 86.9994 14.7264 86.9994 17.3024V17.9744H80.1194C80.1994 19.0784 81.1114 19.7824 82.5194 19.7824C83.5434 19.7824 84.2794 19.3984 85.1274 18.5184L86.5994 19.9904C85.5754 21.0944 84.3114 21.7024 82.5354 21.7024C79.5754 21.7024 77.7834 19.9264 77.7834 17.2384ZM80.1514 16.3104H84.6954C84.5834 15.3024 83.7034 14.6624 82.4394 14.6624C81.1594 14.6624 80.2794 15.3024 80.1514 16.3104Z"
          fill="#FF414C"
          class="dark:fill-white"></path>
      </svg>

      <div class="flex select-none flex-col">
        <h1 class="text-xl font-bold">a/acc: Akash Accelerationism</h1>
        <div class="flex flex-wrap items-center gap-2">
          <p>Cheng Wang</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>CFO Overclock</p>
        </div>
      </div>
    </TableCard>
    <TableCard time="11:00 AM">
      <svg
        slot="svg"
        width="104"
        height="33"
        viewBox="0 0 104 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="1.02312"
          y="0.985519"
          width="101.954"
          height="30.9538"
          rx="15.4769"
          class="stroke-defaultBorder"
          strokeWidth="1.04623"></rect>
        <path
          d="M17.644 21.4624V10.2624H20.092V15.1904H20.124L24.716 10.2624H28.06L23.42 15.0624L28.108 21.4624H25.132L21.82 16.6784H21.788L20.092 18.5024V21.4624H17.644ZM28.1365 17.2384C28.1365 14.6304 30.0725 12.7424 32.7445 12.7424C35.5605 12.7424 37.3525 14.7264 37.3525 17.3024V17.9744H30.4725C30.5525 19.0784 31.4645 19.7824 32.8725 19.7824C33.8965 19.7824 34.6325 19.3984 35.4805 18.5184L36.9525 19.9904C35.9285 21.0944 34.6645 21.7024 32.8885 21.7024C29.9285 21.7024 28.1365 19.9264 28.1365 17.2384ZM30.5045 16.3104H35.0485C34.9365 15.3024 34.0565 14.6624 32.7925 14.6624C31.5125 14.6624 30.6325 15.3024 30.5045 16.3104ZM39.3965 25.0624L41.4125 20.9984L37.4925 12.9824H40.1005L42.6765 18.5184H42.7085L45.2525 12.9824H47.8765L42.0045 25.0624H39.3965ZM49.0031 21.4624V12.9824H51.2911V13.7824H51.3231C52.0271 13.1264 53.0511 12.7424 54.1871 12.7424C56.5871 12.7424 58.2511 14.3264 58.2511 16.6304V21.4624H55.8831V16.9344C55.8831 15.6384 55.0351 14.8544 53.6751 14.8544C52.3151 14.8544 51.3711 15.7024 51.3711 16.9344V21.4624H49.0031ZM59.7371 17.2224C59.6891 14.7424 61.8171 12.6944 64.5211 12.7424C67.2891 12.7424 69.3051 14.7104 69.3051 17.2224C69.3051 19.7344 67.2891 21.7024 64.5211 21.7024C61.8171 21.7504 59.6891 19.7024 59.7371 17.2224ZM66.9371 17.2224C66.9371 15.8304 65.9771 14.8224 64.5211 14.8224C63.0651 14.8224 62.1051 15.8304 62.1051 17.2224C62.1051 18.6144 63.0651 19.6224 64.5211 19.6224C65.9771 19.6224 66.9371 18.6144 66.9371 17.2224ZM76.9802 14.9984H74.2442V18.5824C74.2442 19.1104 74.4202 19.2704 75.1082 19.2704H76.6602V21.4624H74.8682C72.7402 21.4624 71.8762 20.6304 71.8762 18.7264V14.9984H69.8762V12.9824H71.8762V10.8544H74.2442V12.9824H76.9802V14.9984ZM77.7834 17.2384C77.7834 14.6304 79.7194 12.7424 82.3914 12.7424C85.2074 12.7424 86.9994 14.7264 86.9994 17.3024V17.9744H80.1194C80.1994 19.0784 81.1114 19.7824 82.5194 19.7824C83.5434 19.7824 84.2794 19.3984 85.1274 18.5184L86.5994 19.9904C85.5754 21.0944 84.3114 21.7024 82.5354 21.7024C79.5754 21.7024 77.7834 19.9264 77.7834 17.2384ZM80.1514 16.3104H84.6954C84.5834 15.3024 83.7034 14.6624 82.4394 14.6624C81.1594 14.6624 80.2794 15.3024 80.1514 16.3104Z"
          fill="#FF414C"
          class="dark:fill-white"></path>
      </svg>

      <div class="flex select-none flex-col">
        <h1 class="text-xl font-bold">
          Distributed Machine Learning on Akash Network With Ray
        </h1>
        <div class="flex flex-wrap items-center gap-2">
          <p>Anil Murty</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Overclock Labs, Creators of Akash Network</p>
        </div>
      </div>
    </TableCard>
  </div>
</div>
