---
import {
  DiscordIcon,
  GithubIcon,
  TelegramIcon,
  TwitterIcon,
  YoutubeIcon,
} from "../header/icons";
---

<div class="bg-[#1C1C1C]">
  <footer class="container flex flex-col gap-6 py-10">
    <div
      class="flex flex-col justify-between gap-6 md:flex-row md:items-center"
    >
      <a>
        <svg
          width="169"
          height="18"
          viewBox="0 0 169 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.3222 11.166L15.3646 16.5171H9.21904L6.14453 11.166H12.3222Z"
            fill="url(#paint0_linear_1409_34811)"></path>
          <path
            d="M15.363 16.5182L18.4324 11.1671L12.2885 0.462402H6.14453L15.363 16.5182Z"
            fill="#EDEDED"></path>
          <path
            d="M3.07195 5.81201H9.21591L3.07451 16.5167L0 11.1657L3.07195 5.81201Z"
            fill="#EDEDED"></path>
          <path
            d="M30.4188 6.81674L30.2659 8.46875C29.6108 7.18627 28.1041 6.49069 26.4881 6.49069C23.4527 6.49069 21.4219 8.68612 21.4219 12.0554C21.4219 15.4029 23.2562 17.8374 26.4663 17.8374C28.2132 17.8374 29.5016 16.9897 30.1786 15.8811L30.3533 17.5548H32.8427V6.81674H30.4188ZM30.1349 12.1858C30.1349 14.1204 28.9339 15.4463 27.0777 15.4463C25.2215 15.4463 24.086 14.0986 24.086 12.1858C24.086 10.2729 25.2434 8.90349 27.0995 8.90349C28.9557 8.90349 30.1349 10.2512 30.1349 12.1858Z"
            fill="#EDEDED"></path>
          <path
            d="M37.3756 17.5548V14.6638L38.9479 13.0335L41.7649 17.5548H44.8221L40.8041 11.0772L44.9095 6.81674H41.5684L37.3756 11.3163V1.69873H34.7333V17.5548H37.3756Z"
            fill="#EDEDED"></path>
          <path
            d="M53.7688 6.81674L53.616 8.46875C52.9608 7.18627 51.4541 6.49069 49.8381 6.49069C46.8028 6.49069 44.7719 8.68612 44.7719 12.0554C44.7719 15.4029 46.6062 17.8374 49.8163 17.8374C51.5633 17.8374 52.8517 16.9897 53.5286 15.8811L53.7033 17.5548H56.1928V6.81674H53.7688ZM53.4849 12.1858C53.4849 14.1204 52.2839 15.4463 50.4277 15.4463C48.5716 15.4463 47.436 14.0986 47.436 12.1858C47.436 10.2729 48.5934 8.90349 50.4496 8.90349C52.3057 8.90349 53.4849 10.2512 53.4849 12.1858Z"
            fill="#EDEDED"></path>
          <path
            d="M57.5409 14.2943C57.5409 16.4028 59.2442 17.8374 61.9302 17.8374C64.5943 17.8374 66.4505 16.4897 66.4505 14.316C66.4505 12.664 65.5333 11.838 63.7208 11.425L61.7773 10.9685C60.8601 10.7511 60.3797 10.3599 60.3797 9.75124C60.3797 8.94697 60.9912 8.46875 62.0393 8.46875C63.0657 8.46875 63.6771 9.05565 63.699 9.96861H66.2321C66.2103 7.88186 64.5725 6.49069 62.1485 6.49069C59.6591 6.49069 57.8684 7.75143 57.8684 9.85992C57.8684 11.5771 58.8074 12.4901 60.751 12.9248L62.6945 13.3813C63.6553 13.5987 63.9392 13.99 63.9392 14.5334C63.9392 15.3159 63.2622 15.8159 62.0175 15.8159C60.7946 15.8159 60.0958 15.229 60.074 14.2943H57.5409Z"
            fill="#EDEDED"></path>
          <path
            d="M70.5988 17.5548V11.6858C70.5988 10.0773 71.5815 8.90349 73.2629 8.90349C74.6168 8.90349 75.5122 9.77297 75.5122 11.5771V17.5548H78.1763V10.9468C78.1763 8.16444 76.7787 6.49069 74.1146 6.49069C72.5641 6.49069 71.2976 7.16454 70.6206 8.20791V1.69873H67.9347V17.5548H70.5988Z"
            fill="#EDEDED"></path>
          <path
            d="M82.4874 17.7876C83.4376 17.7876 84.2365 17.0102 84.2365 16.0816C84.2365 15.1315 83.4376 14.3541 82.4874 14.3541C81.5373 14.3541 80.7383 15.1315 80.7383 16.0816C80.7383 17.0102 81.5373 17.7876 82.4874 17.7876Z"
            fill="#EDEDED"></path>
          <path
            d="M89.5696 17.5285V11.7844C89.5696 10.0569 90.5629 8.93398 92.1825 8.93398C93.5429 8.93398 94.4283 9.79775 94.4283 11.5901V17.5285H97.0628V10.9638C97.0628 8.19978 95.6808 6.53703 93.0031 6.53703C91.5563 6.53703 90.2606 7.16326 89.5912 8.24297L89.3753 6.86094H86.9351V17.5285H89.5696Z"
            fill="#EDEDED"></path>
          <path
            d="M103.809 17.8092C106.595 17.8092 108.538 16.4056 108.992 14.0734H106.552C106.249 15.0883 105.299 15.6498 103.852 15.6498C102.103 15.6498 101.11 14.6996 100.916 12.8209L108.949 12.7993V12.0004C108.949 8.67485 106.919 6.53703 103.723 6.53703C100.592 6.53703 98.4106 8.84761 98.4106 12.1947C98.4106 15.4986 100.635 17.8092 103.809 17.8092ZM103.744 8.69645C105.321 8.69645 106.336 9.66819 106.336 11.1366H100.98C101.239 9.53862 102.19 8.69645 103.744 8.69645Z"
            fill="#EDEDED"></path>
          <path
            d="M113.965 17.5285V9.06355H116.038V6.86094H113.965V3.53544H111.331V6.86094H109.279V9.06355H111.331V17.5285H113.965Z"
            fill="#EDEDED"></path>
          <path
            d="M120.03 17.5285H122.599L124.068 12.9505C124.608 11.2014 124.802 10.4456 124.91 9.94891C124.996 10.4888 125.234 11.5037 125.666 12.9073L127.134 17.5285H129.596L133.288 6.86094H130.503L129.078 11.4389C128.883 12.1083 128.538 13.3824 128.365 14.1814C128.235 13.4688 127.803 11.8708 127.674 11.4389L126.249 6.86094H123.571L122.103 11.4389C121.757 12.497 121.563 13.1664 121.368 14.203C121.174 13.2096 120.958 12.2811 120.721 11.4389L119.317 6.86094H116.575L120.03 17.5285Z"
            fill="#EDEDED"></path>
          <path
            d="M133.116 12.1731C133.116 15.4986 135.513 17.7876 138.817 17.7876C142.121 17.7876 144.518 15.4986 144.518 12.1731C144.518 8.84761 142.121 6.55863 138.817 6.55863C135.513 6.55863 133.116 8.84761 133.116 12.1731ZM135.75 12.1731C135.75 10.2296 137.003 8.91239 138.817 8.91239C140.631 8.91239 141.883 10.2296 141.883 12.1731C141.883 14.1166 140.631 15.4338 138.817 15.4338C137.003 15.4338 135.75 14.1166 135.75 12.1731Z"
            fill="#EDEDED"></path>
          <path
            d="M152.071 6.81776C151.639 6.70978 151.272 6.6666 150.905 6.6666C149.48 6.6666 148.465 7.3792 148.012 8.43732L147.86 6.88254H145.377V17.5285H148.012V12.3459C148.012 10.2728 149.199 9.2579 151.099 9.2579H152.071V6.81776Z"
            fill="#EDEDED"></path>
          <path
            d="M155.896 17.5285V14.6564L157.451 13.0369L160.237 17.5285H163.26L159.286 11.0934L163.346 6.86094H160.042L155.896 11.3309V1.4624H153.283V17.5285H155.896Z"
            fill="#EDEDED"></path>
          <defs>
            <linearGradient
              id="paint0_linear_1409_34811"
              x1="10.8862"
              y1="13.4629"
              x2="13.39"
              y2="10.9667"
              gradientUnits="userSpaceOnUse"
            >
              <stop stop-color="white"></stop>
              <stop offset="1" stop-opacity="0.127613"></stop>
            </linearGradient>
          </defs>
        </svg>
      </a>
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-6">
          <!-- twitter -->
          <a
            href="https://x.com/akashnet"
            target="_blank"
            class="text-para hover:text-primary"
          >
            <TwitterIcon />
          </a>
          <!-- github -->
          <a
            href="https://github.com/akash-network"
            target="_blank"
            class="text-para hover:text-primary"
          >
            <GithubIcon />
          </a>
          <!-- discord -->
          <a
            href="https://discord.com/invite/akash"
            target="_blank"
            class="text-para hover:text-primary"
          >
            <DiscordIcon />
          </a>
          <!-- youtube -->
          <a
            href="https://www.youtube.com/c/AkashNetwork"
            target="_blank"
            class="text-para hover:text-primary"
          >
            <YoutubeIcon />
          </a>
          <!-- telegram -->
          <a
            href="https://t.me/AkashNW"
            target="_blank"
            class="text-para hover:text-primary"
          >
            <TelegramIcon />
          </a>
        </div>
        <!-- <div class="md:hidden"><DarkModeToggle footer client:load /></div> -->
      </div>
    </div>
    <div class="h-px w-full bg-[#3E3E3E]"></div>
    <div class="flex justify-between gap-4 lg:items-center">
      <div class="flex flex-wrap items-center justify-center gap-x-2 gap-y-4">
        <p
          class="text-center text-2xs font-medium text-[#7E7E7E] md:border-r md:border-[#7E7E7E] md:pr-2"
        >
          © Akash Network {new Date().getFullYear()} The Akash Network Authors Documentation
          Distributed under CC BY 4.0
        </p>
        <p class="text-2xs font-medium text-[#7E7E7E]">
          Open-source Apache 2.0 Licensed.
        </p>
        <p
          class="border-l border-[#7E7E7E] pl-2 text-2xs font-medium text-[#7E7E7E]"
        >
          GitHub v0.38.2
        </p>
        <p
          class="border-l border-[#7E7E7E] pl-2 text-2xs font-medium text-[#7E7E7E]"
        >
          Privacy
        </p>
      </div>
      <!-- <div class="hidden md:block"><DarkModeToggle footer client:load /></div> -->
    </div>
  </footer>
</div>
