---
interface Props {
  time: string;
}

const { time } = Astro.props;
---

<div class="hidden grid-cols-6 gap-5 md:grid">
  <h1
    class="col-span-1 flex items-center justify-center rounded-md border px-6 py-5 text-center font-bold xl:px-8 2xl:px-10"
  >
    {time}
  </h1>
  <div
    class="col-span-1 flex items-center justify-center rounded-md border px-2 py-5 font-bold"
  >
    <slot name="svg" />
  </div>
  <div
    class="col-span-4 flex flex-col justify-center rounded-md border px-10 py-5"
  >
    <slot />
  </div>
</div>

<div class="flex flex-col gap-4 rounded-md border p-4 md:hidden">
  <div class="flex items-center justify-between">
    <h1 class="text-sm font-bold">{time}</h1>
    <slot name="svg" />
  </div>
  <slot />
</div>
