---
import TableCard from "./table-card.astro";
---

<div class="flex w-full flex-col gap-4">
  <TableCard time="06:00 PM">
    <svg
      slot="svg"
      width="72"
      height="33"
      viewBox="0 0 72 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="1.02312"
        y="0.985519"
        width="69.9538"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        class="stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <g clip-path="url(#clip0_4351_71416)">
        <path
          d="M28.7527 21.337L27.5527 22.665L26.2727 21.593C25.2807 22.313 24.0967 22.665 22.7207 22.665C19.3607 22.713 16.7847 20.169 16.8327 16.825C16.7847 13.481 19.3607 10.937 22.7207 10.985C26.0807 10.937 28.6567 13.481 28.6087 16.825C28.6087 18.153 28.2567 19.321 27.5527 20.313L28.7527 21.337ZM24.4807 20.073L22.0967 18.073L23.3287 16.761L25.7127 18.777C26.0167 18.217 26.1607 17.561 26.1607 16.825C26.1607 14.633 24.7527 13.129 22.7207 13.129C20.6887 13.129 19.2807 14.633 19.2807 16.825C19.2807 19.017 20.6887 20.521 22.7207 20.521C23.3767 20.521 23.9687 20.377 24.4807 20.073ZM41.8685 20.313L40.6045 22.105L39.3725 21.225C38.4125 22.121 36.8925 22.665 35.2125 22.665C32.0285 22.665 30.3165 21.449 30.3165 19.273C30.3165 18.041 31.0525 16.953 32.4125 16.185C31.6444 15.481 31.2925 14.745 31.2925 13.897C31.2925 12.185 32.8605 10.985 35.0525 10.985C36.1245 10.985 37.0205 11.257 37.7564 11.801C38.4765 12.345 38.9085 13.065 39.0525 13.961L36.7325 14.265C36.5405 13.481 35.9805 13.081 35.0525 13.081C34.2205 13.081 33.6605 13.433 33.6605 13.961C33.6605 14.393 33.8525 14.649 34.5085 15.113L38.0285 17.593V15.625H40.2205V19.145L41.8685 20.313ZM37.4205 19.833L34.1085 17.481C33.1645 17.977 32.6845 18.537 32.6845 19.161C32.6845 20.041 33.5324 20.473 35.2125 20.473C36.1725 20.473 36.9085 20.265 37.4205 19.833ZM52.0786 22.425L51.3426 20.697H45.7266L44.9906 22.425H42.3506L47.3906 11.225H49.6786L54.7346 22.425H52.0786ZM46.6386 18.553H50.4466L48.5586 14.089H48.5266L46.6386 18.553Z"
          fill="#FF414C"
          class="dark:fill-white"></path>
      </g>
      <defs>
        <clipPath id="clip0_4351_71416">
          <rect
            width="39"
            height="13"
            fill="white"
            transform="translate(16.5 9.9624)"></rect>
        </clipPath>
      </defs>
    </svg>

    <div class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">Q&A with Greg Osuri</h1>
      <div class="flex flex-wrap items-center gap-2">
        <p class="font-medium text-foreground">Greg Osuri</p>
        <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
        <p>Founder of Akash Network and CEO of Overclock Labs</p>
      </div>
    </div>
  </TableCard>
  <TableCard time="06:30 PM">
    <svg
      slot="svg"
      width="64"
      height="33"
      viewBox="0 0 64 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.523117"
        y="0.985519"
        width="62.9538"
        height="30.9538"
        rx="15.4769"
        class="stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <rect
        x="27"
        y="10"
        width="4"
        height="13"
        fill="#FF414C"
        class="dark:fill-white"></rect>
      <rect
        x="34"
        y="10"
        width="4"
        height="13"
        fill="#FF414C"
        class="dark:fill-white"></rect>
    </svg>

    <p class="font-medium text-foreground">Closing address</p>
  </TableCard>
  <TableCard time="06:30 - 08:45 PM">
    <svg
      slot="svg"
      class="hidden lg:dark:block"
      width="80"
      height="33"
      viewBox="0 0 80 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.523117"
        y="0.985519"
        width="78.9538"
        height="30.9538"
        rx="15.4769"
        class="stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <path
        d="M57.1055 17.2866L48.2061 24.9937L48.2061 9.5795L57.1055 17.2866Z"
        fill="white"></path>
      <path
        d="M66.2734 17.2866L57.374 24.9937L57.374 9.5795L66.2734 17.2866Z"
        fill="white"></path>
      <circle cx="39.8184" cy="17.336" r="2.57234" fill="white"></circle>
      <path
        d="M26.1484 19.3735L28.9013 24.2155H23.3405L20.5586 19.3735H26.1484Z"
        fill="url(#paint0_linear_4244_73387)"></path>
      <path
        d="M28.8998 24.2158L31.6772 19.3738L26.1179 9.6875H20.5586L28.8998 24.2158Z"
        fill="#FA5757"></path>
      <path
        d="M17.7796 14.5288H23.3389L17.7819 24.2152L15 19.3731L17.7796 14.5288Z"
        fill="#FA5757"></path>
      <defs>
        <linearGradient
          id="paint0_linear_4244_73387"
          x1="25.5926"
          y1="22.7214"
          x2="27.6384"
          y2="20.2753"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FA5757"></stop>
          <stop offset="1" stop-color="#FA5757" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
    </svg>

    <svg
      slot="svg"
      class="hidden dark:hidden lg:block"
      width="80"
      height="33"
      viewBox="0 0 80 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.523117"
        y="0.985519"
        width="78.9538"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        stroke-width="1.04623"></rect>
      <path
        d="M57.1055 17.2866L48.2061 24.9937L48.2061 9.5795L57.1055 17.2866Z"
        fill="#FF414C"></path>
      <path
        d="M66.2734 17.2866L57.374 24.9937L57.374 9.5795L66.2734 17.2866Z"
        fill="#FF414C"></path>
      <circle cx="39.8184" cy="17.336" r="2.57234" fill="#FF414C"></circle>
      <path
        d="M26.1484 19.3735L28.9013 24.2155H23.3405L20.5586 19.3735H26.1484Z"
        fill="url(#paint0_linear_4244_72374)"></path>
      <path
        d="M28.8998 24.2158L31.6772 19.3738L26.1179 9.6875H20.5586L28.8998 24.2158Z"
        fill="#FF414C"></path>
      <path
        d="M17.7796 14.5288H23.3389L17.7819 24.2152L15 19.3731L17.7796 14.5288Z"
        fill="#FF414C"></path>
      <defs>
        <linearGradient
          id="paint0_linear_4244_72374"
          x1="25.5926"
          y1="22.7214"
          x2="27.6384"
          y2="20.2753"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FF414C"></stop>
          <stop offset="1" stop-color="#FF414C" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
    </svg>

    <div class="flex flex-wrap items-center gap-2">
      <p class="font-medium text-foreground">Cocktail Party</p>
      <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
      <p>Located at the same venue</p>
    </div>
  </TableCard>
</div>
