---
import TableCard from "@/components/accelerate/table-card.astro";
---

<div class="flex w-full flex-col gap-4">
  <TableCard time="10:30">
    <svg
      slot="svg"
      width="64"
      height="33"
      viewBox="0 0 64 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.523117"
        y="0.985519"
        width="62.9538"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        stroke-width="1.04623"></rect>
      <path d="M34 16.5L23.5 26.0263L23.5 6.97372L34 16.5Z" fill="#FF414C"
      ></path>
      <path d="M44 16.5L32.75 26.0263L32.75 6.97372L44 16.5Z" fill="#FF414C"
      ></path>
    </svg>

    <p>Doors open & Breakfast is served</p>
  </TableCard>
  <TableCard time="11:25 AM">
    <svg
      slot="svg"
      width="162"
      height="34"
      viewBox="0 0 162 34"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_4244_73101)">
        <path
          d="M146.001 1.448H16.0003C7.45268 1.448 0.523438 8.37724 0.523438 16.9249C0.523438 25.4726 7.45268 32.4018 16.0003 32.4018H146.001C154.548 32.4018 161.477 25.4726 161.477 16.9249C161.477 8.37724 154.548 1.448 146.001 1.448Z"
          stroke="#E4E4E7"
          stroke-width="1.04623"></path>
        <path
          d="M17.3359 21.9249V10.7249H20.1679L24.1519 18.5329H24.1839L28.1999 10.7249H31.0159V21.9249H28.5839V14.5809H28.5519L24.6799 21.9249H23.6879L19.8159 14.5809H19.7839V21.9249H17.3359ZM32.9221 16.3249C32.8741 12.9809 35.4501 10.4369 38.8101 10.4849C40.1701 10.4849 41.3221 10.8369 42.2821 11.5249C43.2261 12.2289 43.8341 13.1729 44.1061 14.3729L41.8021 14.9489C41.4021 13.4769 40.2981 12.6289 38.8101 12.6289C36.7781 12.6289 35.3701 14.1329 35.3701 16.3249C35.3701 18.5169 36.7781 20.0209 38.8101 20.0209C40.3941 20.0209 41.5301 19.0929 41.8341 17.4929L44.1541 18.0369C43.7061 20.5809 41.5941 22.1649 38.8101 22.1649C35.4501 22.2129 32.8741 19.6689 32.9221 16.3249ZM50.9758 21.9249V15.4609H48.9438V13.4449H50.9758V12.5809C50.9758 11.0929 52.0158 10.1809 53.7598 10.1809H55.9838V12.2129H54.0478C53.5838 12.2129 53.3438 12.4369 53.3438 12.8689V13.4449H56.5118V15.4609H53.3438V21.9249H50.9758ZM56.9134 17.6849C56.8654 15.2049 58.9934 13.1569 61.6974 13.2049C64.4654 13.2049 66.4814 15.1729 66.4814 17.6849C66.4814 20.1969 64.4654 22.1649 61.6974 22.1649C58.9934 22.2129 56.8654 20.1649 56.9134 17.6849ZM64.1134 17.6849C64.1134 16.2929 63.1534 15.2849 61.6974 15.2849C60.2414 15.2849 59.2814 16.2929 59.2814 17.6849C59.2814 19.0769 60.2414 20.0849 61.6974 20.0849C63.1534 20.0849 64.1134 19.0769 64.1134 17.6849ZM68.085 21.9249V13.4449H70.309V14.2609H70.341C70.965 13.6049 71.797 13.2849 72.837 13.2849C73.269 13.2849 73.733 13.3649 74.229 13.5089L73.733 15.6369C73.301 15.5249 72.901 15.4609 72.501 15.4609C71.205 15.4609 70.453 16.3249 70.453 18.0529V21.9249H68.085ZM85.9059 15.4609H83.1699V19.0449C83.1699 19.5729 83.3459 19.7329 84.0339 19.7329H85.5859V21.9249H83.7939C81.6659 21.9249 80.8019 21.0929 80.8019 19.1889V15.4609H78.8019V13.4449H80.8019V11.3169H83.1699V13.4449H85.9059V15.4609ZM87.3419 21.9249V10.2449H89.7099V14.2449H89.7419C90.4459 13.5569 91.4219 13.2049 92.5259 13.2049C94.9259 13.2049 96.5899 14.7889 96.5899 17.0769V21.9249H94.2219V17.3969C94.2219 16.1009 93.3739 15.3169 92.0139 15.3169C90.6539 15.3169 89.7099 16.1649 89.7099 17.3969V21.9249H87.3419ZM98.0759 17.7009C98.0759 15.0929 100.011 13.2049 102.683 13.2049C105.499 13.2049 107.291 15.1889 107.291 17.7649V18.4369H100.411C100.491 19.5409 101.403 20.2449 102.811 20.2449C103.835 20.2449 104.571 19.8609 105.419 18.9809L106.891 20.4529C105.867 21.5569 104.603 22.1649 102.827 22.1649C99.8679 22.1649 98.0759 20.3889 98.0759 17.7009ZM100.443 16.7729H104.987C104.875 15.7649 103.995 15.1249 102.731 15.1249C101.451 15.1249 100.571 15.7649 100.443 16.7729ZM113.574 21.9249V10.7249H118.166C121.59 10.7249 123.83 12.6609 123.83 16.3249C123.83 20.0369 121.654 21.9249 118.134 21.9249H113.574ZM116.022 19.7809H118.086C120.262 19.7809 121.382 18.7569 121.382 16.3249C121.382 13.9729 120.262 12.8689 118.086 12.8689H116.022V19.7809ZM131.946 13.4449H134.25V21.9249H131.946V21.3329H131.914C131.354 21.8449 130.474 22.1649 129.466 22.1649C126.906 22.1649 125.082 20.3249 125.082 17.6849C125.082 15.0449 126.906 13.2049 129.466 13.2049C130.442 13.2049 131.338 13.5249 131.914 14.0369H131.946V13.4449ZM131.882 18.2129V17.1569C131.882 16.1169 130.954 15.2849 129.738 15.2849C128.33 15.2849 127.45 16.1969 127.45 17.6849C127.45 19.1569 128.33 20.0689 129.738 20.0689C130.346 20.0689 130.858 19.8929 131.274 19.5249C131.674 19.1569 131.882 18.7249 131.882 18.2129ZM137.28 25.5249L139.296 21.4609L135.376 13.4449H137.984L140.56 18.9809H140.592L143.136 13.4449H145.76L139.888 25.5249H137.28Z"
          fill="#FF414C"></path>
      </g>
      <defs>
        <clipPath id="clip0_4244_73101">
          <rect
            width="162"
            height="33"
            fill="white"
            transform="translate(0 0.462402)"></rect>
        </clipPath>
      </defs>
    </svg>

    <p>TBD</p>
  </TableCard>
  <TableCard time="11:30 AM">
    <svg
      slot="svg"
      width="104"
      height="34"
      viewBox="0 0 104 34"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_4244_73104)">
        <path
          d="M87.5005 1.948H16.5003C7.95268 1.948 1.02344 8.87724 1.02344 17.4249C1.02344 25.9726 7.95268 32.9018 16.5003 32.9018H87.5005C96.0482 32.9018 102.977 25.9726 102.977 17.4249C102.977 8.87724 96.0482 1.948 87.5005 1.948Z"
          stroke="#E4E4E7"
          stroke-width="1.04623"></path>
        <path
          d="M17.6445 22.4249V11.2249H20.0925V16.1529H20.1245L24.7165 11.2249H28.0605L23.4205 16.0249L28.1085 22.4249H25.1325L21.8205 17.6409H21.7885L20.0925 19.4649V22.4249H17.6445ZM28.137 18.2009C28.137 15.5929 30.073 13.7049 32.745 13.7049C35.561 13.7049 37.353 15.6889 37.353 18.2649V18.9369H30.473C30.553 20.0409 31.465 20.7449 32.873 20.7449C33.897 20.7449 34.633 20.3609 35.481 19.4809L36.953 20.9529C35.929 22.0569 34.665 22.6649 32.889 22.6649C29.929 22.6649 28.137 20.8889 28.137 18.2009ZM30.505 17.2729H35.049C34.937 16.2649 34.057 15.6249 32.793 15.6249C31.513 15.6249 30.633 16.2649 30.505 17.2729ZM39.397 26.0249L41.413 21.9609L37.493 13.9449H40.101L42.677 19.4809H42.709L45.253 13.9449H47.877L42.005 26.0249H39.397ZM49.0036 22.4249V13.9449H51.2916V14.7449H51.3236C52.0276 14.0889 53.0516 13.7049 54.1876 13.7049C56.5876 13.7049 58.2516 15.2889 58.2516 17.5929V22.4249H55.8836V17.8969C55.8836 16.6009 55.0356 15.8169 53.6756 15.8169C52.3156 15.8169 51.3716 16.6649 51.3716 17.8969V22.4249H49.0036ZM59.7376 18.1849C59.6896 15.7049 61.8176 13.6569 64.5216 13.7049C67.2896 13.7049 69.3056 15.6729 69.3056 18.1849C69.3056 20.6969 67.2896 22.6649 64.5216 22.6649C61.8176 22.7129 59.6896 20.6649 59.7376 18.1849ZM66.9376 18.1849C66.9376 16.7929 65.9776 15.7849 64.5216 15.7849C63.0656 15.7849 62.1056 16.7929 62.1056 18.1849C62.1056 19.5769 63.0656 20.5849 64.5216 20.5849C65.9776 20.5849 66.9376 19.5769 66.9376 18.1849ZM76.9807 15.9609H74.2447V19.5449C74.2447 20.0729 74.4207 20.2329 75.1087 20.2329H76.6607V22.4249H74.8687C72.7407 22.4249 71.8767 21.5929 71.8767 19.6889V15.9609H69.8767V13.9449H71.8767V11.8169H74.2447V13.9449H76.9807V15.9609ZM77.7839 18.2009C77.7839 15.5929 79.7199 13.7049 82.3919 13.7049C85.2079 13.7049 86.9999 15.6889 86.9999 18.2649V18.9369H80.1199C80.1999 20.0409 81.1119 20.7449 82.5199 20.7449C83.5439 20.7449 84.2799 20.3609 85.1279 19.4809L86.5999 20.9529C85.5759 22.0569 84.3119 22.6649 82.5359 22.6649C79.5759 22.6649 77.7839 20.8889 77.7839 18.2009ZM80.1519 17.2729H84.6959C84.5839 16.2649 83.7039 15.6249 82.4399 15.6249C81.1599 15.6249 80.2799 16.2649 80.1519 17.2729Z"
          fill="#FF414C"></path>
      </g>
      <defs>
        <clipPath id="clip0_4244_73104">
          <rect
            width="104"
            height="33"
            fill="white"
            transform="translate(0 0.962402)"></rect>
        </clipPath>
      </defs>
    </svg>

    <div class="flex flex-col">
      <h1 class="text-xl font-bold">
        State of DePin: Pioneering Possibilities
      </h1>
      <div class="flex items-center gap-2">
        <p>Greg Osuri</p>
        <div class="h-1.5 w-1.5 rounded-full bg-primary"></div>
        <p>Founder of Akash Network and CEO of Overclock Labs</p>
      </div>
    </div>
  </TableCard>
</div>
