---
import TableCard from "@/components/accelerate/table-card.astro";
---

<div class="flex w-full flex-col gap-4">
  <TableCard time="10:30 AM">
    <svg
      slot="svg"
      width="64"
      height="33"
      viewBox="0 0 64 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.523117"
        y="0.985519"
        width="62.9538"
        height="30.9538"
        rx="15.4769"
        class="stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <path d="M34 16.5L23.5 26.0263L23.5 6.97372L34 16.5Z" fill="#FF414C"
      ></path>
      <path d="M44 16.5L32.75 26.0263L32.75 6.97372L44 16.5Z" fill="#FF414C"
      ></path>
    </svg>

    <p class="font-medium">Doors open & Breakfast is served</p>
  </TableCard>
  <TableCard time="11:25 AM">
    <svg
      slot="svg"
      width="162"
      height="34"
      viewBox="0 0 162 34"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_4244_73101)">
        <path
          d="M146.001 1.448H16.0003C7.45268 1.448 0.523438 8.37724 0.523438 16.9249C0.523438 25.4726 7.45268 32.4018 16.0003 32.4018H146.001C154.548 32.4018 161.477 25.4726 161.477 16.9249C161.477 8.37724 154.548 1.448 146.001 1.448Z"
          class="stroke-defaultBorder"
          stroke-width="1.04623"></path>
        <path
          d="M17.3359 21.9249V10.7249H20.1679L24.1519 18.5329H24.1839L28.1999 10.7249H31.0159V21.9249H28.5839V14.5809H28.5519L24.6799 21.9249H23.6879L19.8159 14.5809H19.7839V21.9249H17.3359ZM32.9221 16.3249C32.8741 12.9809 35.4501 10.4369 38.8101 10.4849C40.1701 10.4849 41.3221 10.8369 42.2821 11.5249C43.2261 12.2289 43.8341 13.1729 44.1061 14.3729L41.8021 14.9489C41.4021 13.4769 40.2981 12.6289 38.8101 12.6289C36.7781 12.6289 35.3701 14.1329 35.3701 16.3249C35.3701 18.5169 36.7781 20.0209 38.8101 20.0209C40.3941 20.0209 41.5301 19.0929 41.8341 17.4929L44.1541 18.0369C43.7061 20.5809 41.5941 22.1649 38.8101 22.1649C35.4501 22.2129 32.8741 19.6689 32.9221 16.3249ZM50.9758 21.9249V15.4609H48.9438V13.4449H50.9758V12.5809C50.9758 11.0929 52.0158 10.1809 53.7598 10.1809H55.9838V12.2129H54.0478C53.5838 12.2129 53.3438 12.4369 53.3438 12.8689V13.4449H56.5118V15.4609H53.3438V21.9249H50.9758ZM56.9134 17.6849C56.8654 15.2049 58.9934 13.1569 61.6974 13.2049C64.4654 13.2049 66.4814 15.1729 66.4814 17.6849C66.4814 20.1969 64.4654 22.1649 61.6974 22.1649C58.9934 22.2129 56.8654 20.1649 56.9134 17.6849ZM64.1134 17.6849C64.1134 16.2929 63.1534 15.2849 61.6974 15.2849C60.2414 15.2849 59.2814 16.2929 59.2814 17.6849C59.2814 19.0769 60.2414 20.0849 61.6974 20.0849C63.1534 20.0849 64.1134 19.0769 64.1134 17.6849ZM68.085 21.9249V13.4449H70.309V14.2609H70.341C70.965 13.6049 71.797 13.2849 72.837 13.2849C73.269 13.2849 73.733 13.3649 74.229 13.5089L73.733 15.6369C73.301 15.5249 72.901 15.4609 72.501 15.4609C71.205 15.4609 70.453 16.3249 70.453 18.0529V21.9249H68.085ZM85.9059 15.4609H83.1699V19.0449C83.1699 19.5729 83.3459 19.7329 84.0339 19.7329H85.5859V21.9249H83.7939C81.6659 21.9249 80.8019 21.0929 80.8019 19.1889V15.4609H78.8019V13.4449H80.8019V11.3169H83.1699V13.4449H85.9059V15.4609ZM87.3419 21.9249V10.2449H89.7099V14.2449H89.7419C90.4459 13.5569 91.4219 13.2049 92.5259 13.2049C94.9259 13.2049 96.5899 14.7889 96.5899 17.0769V21.9249H94.2219V17.3969C94.2219 16.1009 93.3739 15.3169 92.0139 15.3169C90.6539 15.3169 89.7099 16.1649 89.7099 17.3969V21.9249H87.3419ZM98.0759 17.7009C98.0759 15.0929 100.011 13.2049 102.683 13.2049C105.499 13.2049 107.291 15.1889 107.291 17.7649V18.4369H100.411C100.491 19.5409 101.403 20.2449 102.811 20.2449C103.835 20.2449 104.571 19.8609 105.419 18.9809L106.891 20.4529C105.867 21.5569 104.603 22.1649 102.827 22.1649C99.8679 22.1649 98.0759 20.3889 98.0759 17.7009ZM100.443 16.7729H104.987C104.875 15.7649 103.995 15.1249 102.731 15.1249C101.451 15.1249 100.571 15.7649 100.443 16.7729ZM113.574 21.9249V10.7249H118.166C121.59 10.7249 123.83 12.6609 123.83 16.3249C123.83 20.0369 121.654 21.9249 118.134 21.9249H113.574ZM116.022 19.7809H118.086C120.262 19.7809 121.382 18.7569 121.382 16.3249C121.382 13.9729 120.262 12.8689 118.086 12.8689H116.022V19.7809ZM131.946 13.4449H134.25V21.9249H131.946V21.3329H131.914C131.354 21.8449 130.474 22.1649 129.466 22.1649C126.906 22.1649 125.082 20.3249 125.082 17.6849C125.082 15.0449 126.906 13.2049 129.466 13.2049C130.442 13.2049 131.338 13.5249 131.914 14.0369H131.946V13.4449ZM131.882 18.2129V17.1569C131.882 16.1169 130.954 15.2849 129.738 15.2849C128.33 15.2849 127.45 16.1969 127.45 17.6849C127.45 19.1569 128.33 20.0689 129.738 20.0689C130.346 20.0689 130.858 19.8929 131.274 19.5249C131.674 19.1569 131.882 18.7249 131.882 18.2129ZM137.28 25.5249L139.296 21.4609L135.376 13.4449H137.984L140.56 18.9809H140.592L143.136 13.4449H145.76L139.888 25.5249H137.28Z"
          fill="#FF414C"
          class="dark:fill-white"></path>
      </g>
      <defs>
        <clipPath id="clip0_4244_73101">
          <rect
            width="162"
            height="33"
            fill="white"
            transform="translate(0 0.462402)"></rect>
        </clipPath>
      </defs>
    </svg>

    <div class="flex flex-wrap items-center gap-2">
      <p class="font-medium text-foreground">Amanda Keay</p>
      <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
      <p>Events Manager, Overclock Labs</p>
    </div>
  </TableCard>
  <TableCard time="11:30 AM">
    <svg
      slot="svg"
      width="104"
      height="34"
      viewBox="0 0 104 34"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_4244_73104)">
        <path
          d="M87.5005 1.948H16.5003C7.95268 1.948 1.02344 8.87724 1.02344 17.4249C1.02344 25.9726 7.95268 32.9018 16.5003 32.9018H87.5005C96.0482 32.9018 102.977 25.9726 102.977 17.4249C102.977 8.87724 96.0482 1.948 87.5005 1.948Z"
          class="stroke-defaultBorder"
          stroke-width="1.04623"></path>
        <path
          d="M17.6445 22.4249V11.2249H20.0925V16.1529H20.1245L24.7165 11.2249H28.0605L23.4205 16.0249L28.1085 22.4249H25.1325L21.8205 17.6409H21.7885L20.0925 19.4649V22.4249H17.6445ZM28.137 18.2009C28.137 15.5929 30.073 13.7049 32.745 13.7049C35.561 13.7049 37.353 15.6889 37.353 18.2649V18.9369H30.473C30.553 20.0409 31.465 20.7449 32.873 20.7449C33.897 20.7449 34.633 20.3609 35.481 19.4809L36.953 20.9529C35.929 22.0569 34.665 22.6649 32.889 22.6649C29.929 22.6649 28.137 20.8889 28.137 18.2009ZM30.505 17.2729H35.049C34.937 16.2649 34.057 15.6249 32.793 15.6249C31.513 15.6249 30.633 16.2649 30.505 17.2729ZM39.397 26.0249L41.413 21.9609L37.493 13.9449H40.101L42.677 19.4809H42.709L45.253 13.9449H47.877L42.005 26.0249H39.397ZM49.0036 22.4249V13.9449H51.2916V14.7449H51.3236C52.0276 14.0889 53.0516 13.7049 54.1876 13.7049C56.5876 13.7049 58.2516 15.2889 58.2516 17.5929V22.4249H55.8836V17.8969C55.8836 16.6009 55.0356 15.8169 53.6756 15.8169C52.3156 15.8169 51.3716 16.6649 51.3716 17.8969V22.4249H49.0036ZM59.7376 18.1849C59.6896 15.7049 61.8176 13.6569 64.5216 13.7049C67.2896 13.7049 69.3056 15.6729 69.3056 18.1849C69.3056 20.6969 67.2896 22.6649 64.5216 22.6649C61.8176 22.7129 59.6896 20.6649 59.7376 18.1849ZM66.9376 18.1849C66.9376 16.7929 65.9776 15.7849 64.5216 15.7849C63.0656 15.7849 62.1056 16.7929 62.1056 18.1849C62.1056 19.5769 63.0656 20.5849 64.5216 20.5849C65.9776 20.5849 66.9376 19.5769 66.9376 18.1849ZM76.9807 15.9609H74.2447V19.5449C74.2447 20.0729 74.4207 20.2329 75.1087 20.2329H76.6607V22.4249H74.8687C72.7407 22.4249 71.8767 21.5929 71.8767 19.6889V15.9609H69.8767V13.9449H71.8767V11.8169H74.2447V13.9449H76.9807V15.9609ZM77.7839 18.2009C77.7839 15.5929 79.7199 13.7049 82.3919 13.7049C85.2079 13.7049 86.9999 15.6889 86.9999 18.2649V18.9369H80.1199C80.1999 20.0409 81.1119 20.7449 82.5199 20.7449C83.5439 20.7449 84.2799 20.3609 85.1279 19.4809L86.5999 20.9529C85.5759 22.0569 84.3119 22.6649 82.5359 22.6649C79.5759 22.6649 77.7839 20.8889 77.7839 18.2009ZM80.1519 17.2729H84.6959C84.5839 16.2649 83.7039 15.6249 82.4399 15.6249C81.1599 15.6249 80.2799 16.2649 80.1519 17.2729Z"
          fill="#FF414C"
          class="dark:fill-white"></path>
      </g>
      <defs>
        <clipPath id="clip0_4244_73104">
          <rect
            width="104"
            height="33"
            fill="white"
            transform="translate(0 0.962402)"></rect>
        </clipPath>
      </defs>
    </svg>

    <div class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">Journey to Acceleration and Beyond</h1>
      <div class="flex flex-wrap items-center gap-2">
        <p class="font-medium text-foreground">Greg Osuri</p>
        <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
        <p>Founder of Akash Network and CEO of Overclock Labs</p>
      </div>
    </div>
  </TableCard>
  <TableCard time="12:00 PM">
    <svg
      slot="svg"
      width="78"
      height="33"
      viewBox="0 0 78 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.655929"
        y="0.985519"
        width="76.6881"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        class="dark:stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <path
        d="M16.1328 22.1824V10.9824H22.0208C24.4048 10.9824 26.1648 12.4224 26.1648 14.6464C26.1648 16.9184 24.4528 18.3104 22.0208 18.3104H18.5808V22.1824H16.1328ZM18.5808 16.1664H21.8768C22.9648 16.1664 23.7168 15.5904 23.7168 14.6304C23.7168 13.6224 23.1088 13.1264 21.8768 13.1264H18.5808V16.1664ZM33.7549 13.7024H36.0589V22.1824H33.7549V21.5904H33.7229C33.1629 22.1024 32.2829 22.4224 31.2749 22.4224C28.7149 22.4224 26.8909 20.5824 26.8909 17.9424C26.8909 15.3024 28.7149 13.4624 31.2749 13.4624C32.2509 13.4624 33.1469 13.7824 33.7229 14.2944H33.7549V13.7024ZM33.6909 18.4704V17.4144C33.6909 16.3744 32.7629 15.5424 31.5469 15.5424C30.1389 15.5424 29.2589 16.4544 29.2589 17.9424C29.2589 19.4144 30.1389 20.3264 31.5469 20.3264C32.1549 20.3264 32.6669 20.1504 33.0829 19.7824C33.4829 19.4144 33.6909 18.9824 33.6909 18.4704ZM37.9844 22.1824V13.7024H40.2724V14.5024H40.3044C41.0084 13.8464 42.0324 13.4624 43.1684 13.4624C45.5684 13.4624 47.2324 15.0464 47.2324 17.3504V22.1824H44.8644V17.6544C44.8644 16.3584 44.0164 15.5744 42.6564 15.5744C41.2964 15.5744 40.3524 16.4224 40.3524 17.6544V22.1824H37.9844ZM48.7184 17.9584C48.7184 15.3504 50.6544 13.4624 53.3264 13.4624C56.1424 13.4624 57.9344 15.4464 57.9344 18.0224V18.6944H51.0544C51.1344 19.7984 52.0464 20.5024 53.4544 20.5024C54.4784 20.5024 55.2144 20.1184 56.0624 19.2384L57.5344 20.7104C56.5104 21.8144 55.2464 22.4224 53.4704 22.4224C50.5104 22.4224 48.7184 20.6464 48.7184 17.9584ZM51.0864 17.0304H55.6304C55.5184 16.0224 54.6384 15.3824 53.3744 15.3824C52.0944 15.3824 51.2144 16.0224 51.0864 17.0304ZM59.4991 22.1824V10.5024H61.8671V22.1824H59.4991Z"
        fill="#FF414C"
        class="dark:fill-white"></path>
    </svg>

    <div class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">
        Decentralized AI Reveiled: Real-World Applications
      </h1><div class="flex flex-col gap-2">
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Teana Baker Taylor</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>COO, Venice AI</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Peter Toth</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>CEO, Eidon AI</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Cameron Fairchild</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Software Developer, Opentensor</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Moderator</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>David Johnston, OSS Contributor to Morpheus</p>
        </div>
      </div>
    </div>
  </TableCard>
  <TableCard time="12:30 PM">
    <svg
      slot="svg"
      width="136"
      height="33"
      viewBox="0 0 136 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.523117"
        y="0.985519"
        width="134.954"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        class="dark:stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <g clip-path="url(#clip0_4351_71261)">
        <path
          d="M16.4264 16.8247C16.3784 13.4807 18.9544 10.9367 22.3144 10.9847C23.6744 10.9847 24.8264 11.3367 25.7864 12.0247C26.7304 12.7287 27.3384 13.6727 27.6104 14.8727L25.3064 15.4487C24.9064 13.9767 23.8024 13.1287 22.3144 13.1287C20.2824 13.1287 18.8744 14.6327 18.8744 16.8247C18.8744 19.0167 20.2824 20.5207 22.3144 20.5207C23.8984 20.5207 25.0344 19.5927 25.3384 17.9927L27.6584 18.5367C27.2104 21.0807 25.0984 22.6647 22.3144 22.6647C18.9544 22.7127 16.3784 20.1687 16.4264 16.8247ZM28.7464 18.1847C28.6984 15.7047 30.8264 13.6567 33.5304 13.7047C36.2984 13.7047 38.3144 15.6727 38.3144 18.1847C38.3144 20.6967 36.2984 22.6647 33.5304 22.6647C30.8264 22.7127 28.6984 20.6647 28.7464 18.1847ZM35.9464 18.1847C35.9464 16.7927 34.9864 15.7847 33.5304 15.7847C32.0744 15.7847 31.1144 16.7927 31.1144 18.1847C31.1144 19.5767 32.0744 20.5847 33.5304 20.5847C34.9864 20.5847 35.9464 19.5767 35.9464 18.1847ZM40.6132 22.4247V15.9607H38.9012V13.9447H40.6132V13.0807C40.6132 11.5927 41.6532 10.6807 43.3972 10.6807H45.4612V12.7127H43.6852C43.2212 12.7127 42.9812 12.9367 42.9812 13.3687V13.9447H45.0292V15.9607H42.9812V22.4247H40.6132ZM47.9094 22.4247V15.9607H45.8774V13.9447H47.9094V13.0807C47.9094 11.5927 48.9494 10.6807 50.6934 10.6807H52.9174V12.7127H50.9814C50.5174 12.7127 50.2774 12.9367 50.2774 13.3687V13.9447H53.4454V15.9607H50.2774V22.4247H47.9094ZM53.847 18.2007C53.847 15.5927 55.783 13.7047 58.455 13.7047C61.271 13.7047 63.063 15.6887 63.063 18.2647V18.9367H56.183C56.263 20.0407 57.175 20.7447 58.583 20.7447C59.607 20.7447 60.343 20.3607 61.191 19.4807L62.663 20.9527C61.639 22.0567 60.375 22.6647 58.599 22.6647C55.639 22.6647 53.847 20.8887 53.847 18.2007ZM56.215 17.2727H60.759C60.647 16.2647 59.767 15.6247 58.503 15.6247C57.223 15.6247 56.343 16.2647 56.215 17.2727ZM64.3077 18.2007C64.3077 15.5927 66.2437 13.7047 68.9157 13.7047C71.7317 13.7047 73.5237 15.6887 73.5237 18.2647V18.9367H66.6437C66.7237 20.0407 67.6357 20.7447 69.0437 20.7447C70.0677 20.7447 70.8037 20.3607 71.6517 19.4807L73.1237 20.9527C72.0997 22.0567 70.8357 22.6647 69.0597 22.6647C66.0997 22.6647 64.3077 20.8887 64.3077 18.2007ZM66.6757 17.2727H71.2197C71.1077 16.2647 70.2277 15.6247 68.9637 15.6247C67.6837 15.6247 66.8037 16.2647 66.6757 17.2727ZM78.8539 16.8247C78.8059 13.4807 81.3819 10.9367 84.7419 10.9847C86.1019 10.9847 87.2539 11.3367 88.2139 12.0247C89.1579 12.7287 89.7659 13.6727 90.0379 14.8727L87.7339 15.4487C87.3339 13.9767 86.2299 13.1287 84.7419 13.1287C82.7099 13.1287 81.3019 14.6327 81.3019 16.8247C81.3019 19.0167 82.7099 20.5207 84.7419 20.5207C86.3259 20.5207 87.4619 19.5927 87.7659 17.9927L90.0859 18.5367C89.6379 21.0807 87.5259 22.6647 84.7419 22.6647C81.3819 22.7127 78.8059 20.1687 78.8539 16.8247ZM91.5099 22.4247V10.7447H93.8779V14.7447H93.9099C94.6139 14.0567 95.5899 13.7047 96.6939 13.7047C99.0939 13.7047 100.758 15.2887 100.758 17.5767V22.4247H98.3899V17.8967C98.3899 16.6007 97.5419 15.8167 96.1819 15.8167C94.8219 15.8167 93.8779 16.6647 93.8779 17.8967V22.4247H91.5099ZM109.108 13.9447H111.412V22.4247H109.108V21.8327H109.076C108.516 22.3447 107.636 22.6647 106.628 22.6647C104.068 22.6647 102.244 20.8247 102.244 18.1847C102.244 15.5447 104.068 13.7047 106.628 13.7047C107.604 13.7047 108.5 14.0247 109.076 14.5367H109.108V13.9447ZM109.044 18.7127V17.6567C109.044 16.6167 108.116 15.7847 106.9 15.7847C105.492 15.7847 104.612 16.6967 104.612 18.1847C104.612 19.6567 105.492 20.5687 106.9 20.5687C107.508 20.5687 108.02 20.3927 108.436 20.0247C108.836 19.6567 109.044 19.2247 109.044 18.7127ZM119.721 15.9607H116.985V19.5447C116.985 20.0727 117.161 20.2327 117.849 20.2327H119.401V22.4247H117.609C115.481 22.4247 114.617 21.5927 114.617 19.6887V15.9607H112.617V13.9447H114.617V11.8167H116.985V13.9447H119.721V15.9607Z"
          fill="#FF414C"
          class="dark:fill-white"></path>
      </g>
      <defs>
        <clipPath id="clip0_4351_71261">
          <rect
            width="104"
            height="13"
            fill="white"
            transform="translate(16 9.9624)"></rect>
        </clipPath>
      </defs>
    </svg>

    <div class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">The Future of Decentralized AI</h1>
      <div class="flex flex-col gap-2">
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Erik Voorhees</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>CEO, Venice.AI</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Greg Osuri</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Founder of Akash Network and CEO of Overclock Labs</p>
        </div>
      </div>
    </div>
  </TableCard>
  <TableCard time="1:00 PM">
    <svg
      slot="svg"
      width="64"
      height="33"
      viewBox="0 0 64 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.523117"
        y="0.985519"
        width="62.9538"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        class="dark:stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <rect
        x="27"
        y="10"
        width="4"
        height="13"
        fill="#FF414C"
        class="dark:fill-white"></rect>
      <rect
        x="34"
        y="10"
        width="4"
        height="13"
        fill="#FF414C"
        class="dark:fill-white"></rect>
    </svg>

    <div class="flex flex-col">
      <h1 class="text-xl font-bold">Lunch</h1>
    </div>
  </TableCard>

  <TableCard time="2:00 PM">
    <svg
      slot="svg"
      width="78"
      height="33"
      viewBox="0 0 78 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.655929"
        y="0.985519"
        width="76.6881"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        class="dark:stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <path
        d="M16.1328 22.1824V10.9824H22.0208C24.4048 10.9824 26.1648 12.4224 26.1648 14.6464C26.1648 16.9184 24.4528 18.3104 22.0208 18.3104H18.5808V22.1824H16.1328ZM18.5808 16.1664H21.8768C22.9648 16.1664 23.7168 15.5904 23.7168 14.6304C23.7168 13.6224 23.1088 13.1264 21.8768 13.1264H18.5808V16.1664ZM33.7549 13.7024H36.0589V22.1824H33.7549V21.5904H33.7229C33.1629 22.1024 32.2829 22.4224 31.2749 22.4224C28.7149 22.4224 26.8909 20.5824 26.8909 17.9424C26.8909 15.3024 28.7149 13.4624 31.2749 13.4624C32.2509 13.4624 33.1469 13.7824 33.7229 14.2944H33.7549V13.7024ZM33.6909 18.4704V17.4144C33.6909 16.3744 32.7629 15.5424 31.5469 15.5424C30.1389 15.5424 29.2589 16.4544 29.2589 17.9424C29.2589 19.4144 30.1389 20.3264 31.5469 20.3264C32.1549 20.3264 32.6669 20.1504 33.0829 19.7824C33.4829 19.4144 33.6909 18.9824 33.6909 18.4704ZM37.9844 22.1824V13.7024H40.2724V14.5024H40.3044C41.0084 13.8464 42.0324 13.4624 43.1684 13.4624C45.5684 13.4624 47.2324 15.0464 47.2324 17.3504V22.1824H44.8644V17.6544C44.8644 16.3584 44.0164 15.5744 42.6564 15.5744C41.2964 15.5744 40.3524 16.4224 40.3524 17.6544V22.1824H37.9844ZM48.7184 17.9584C48.7184 15.3504 50.6544 13.4624 53.3264 13.4624C56.1424 13.4624 57.9344 15.4464 57.9344 18.0224V18.6944H51.0544C51.1344 19.7984 52.0464 20.5024 53.4544 20.5024C54.4784 20.5024 55.2144 20.1184 56.0624 19.2384L57.5344 20.7104C56.5104 21.8144 55.2464 22.4224 53.4704 22.4224C50.5104 22.4224 48.7184 20.6464 48.7184 17.9584ZM51.0864 17.0304H55.6304C55.5184 16.0224 54.6384 15.3824 53.3744 15.3824C52.0944 15.3824 51.2144 16.0224 51.0864 17.0304ZM59.4991 22.1824V10.5024H61.8671V22.1824H59.4991Z"
        fill="#FF414C"
        class="dark:fill-white"></path>
    </svg>

    <div class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">What does DeAI mass adoption look like?</h1>
      <div class="flex flex-col gap-2">
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Thomas Montfort</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Core Backend Engineer Brev</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Robert Myers</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Founder and CEO at Manifold Labs</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Moderator</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Lex Avellino, Chief Creative Officer, Passage</p>
        </div>
      </div>
    </div>
  </TableCard>
  <TableCard time="2:30 PM">
    <svg
      slot="svg"
      width="144"
      height="33"
      viewBox="0 0 144 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="1.02312"
        y="0.985519"
        width="141.954"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        class="dark:stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <g clip-path="url(#clip0_4351_71314)">
        <path
          d="M16.5312 22.4246V11.2246H22.4192C24.8032 11.2246 26.5632 12.6646 26.5632 14.8886C26.5632 17.1606 24.8512 18.5526 22.4192 18.5526H18.9792V22.4246H16.5312ZM18.9792 16.4086H22.2752C23.3632 16.4086 24.1152 15.8326 24.1152 14.8726C24.1152 13.8646 23.5072 13.3686 22.2752 13.3686H18.9792V16.4086ZM27.9222 22.4246V13.9446H30.1462V14.7606H30.1782C30.8022 14.1046 31.6342 13.7846 32.6742 13.7846C33.1062 13.7846 33.5702 13.8646 34.0662 14.0086L33.5702 16.1366C33.1382 16.0246 32.7382 15.9606 32.3382 15.9606C31.0422 15.9606 30.2902 16.8246 30.2902 18.5526V22.4246H27.9222ZM34.4687 18.2006C34.4687 15.5926 36.4047 13.7046 39.0767 13.7046C41.8927 13.7046 43.6847 15.6886 43.6847 18.2646V18.9366H36.8047C36.8847 20.0406 37.7967 20.7446 39.2047 20.7446C40.2287 20.7446 40.9647 20.3606 41.8127 19.4806L43.2847 20.9526C42.2607 22.0566 40.9967 22.6646 39.2207 22.6646C36.2607 22.6646 34.4687 20.8886 34.4687 18.2006ZM36.8367 17.2726H41.3807C41.2687 16.2646 40.3887 15.6246 39.1247 15.6246C37.8447 15.6246 36.9647 16.2646 36.8367 17.2726ZM44.6131 19.6726L46.8371 19.1446C47.1731 20.2326 48.0371 20.7766 49.3971 20.7766C50.6291 20.7766 51.3331 20.5046 51.3331 20.0406C51.3331 19.5446 50.8211 19.3206 49.2371 19.0806C46.1331 18.6006 45.0291 17.8486 45.0291 16.3286C45.0291 14.7606 46.5971 13.7046 48.9331 13.7046C51.0611 13.7046 52.9971 14.7926 53.4451 16.2646L51.2851 16.9206C50.9651 16.1046 50.0532 15.5926 48.9171 15.5926C47.9411 15.5926 47.3011 15.8806 47.3011 16.3286C47.3011 16.7766 47.7491 16.9366 49.6211 17.2566C52.4851 17.7046 53.6211 18.4886 53.6211 20.0246C53.6211 21.6086 51.9251 22.6646 49.3811 22.6646C48.1332 22.6646 47.0771 22.3926 46.2131 21.8486C45.3491 21.3206 44.8211 20.5846 44.6131 19.6726ZM54.7025 18.2006C54.7025 15.5926 56.6385 13.7046 59.3105 13.7046C62.1265 13.7046 63.9185 15.6886 63.9185 18.2646V18.9366H57.0385C57.1185 20.0406 58.0305 20.7446 59.4385 20.7446C60.4625 20.7446 61.1985 20.3606 62.0465 19.4806L63.5185 20.9526C62.4945 22.0566 61.2305 22.6646 59.4545 22.6646C56.4945 22.6646 54.7025 20.8886 54.7025 18.2006ZM57.0705 17.2726H61.6145C61.5025 16.2646 60.6225 15.6246 59.3585 15.6246C58.0785 15.6246 57.1985 16.2646 57.0705 17.2726ZM65.4991 22.4246V13.9446H67.7871V14.7446H67.8191C68.5231 14.0886 69.5471 13.7046 70.6831 13.7046C73.0831 13.7046 74.7471 15.2886 74.7471 17.5926V22.4246H72.3791V17.8966C72.3791 16.6006 71.5311 15.8166 70.1711 15.8166C68.8111 15.8166 67.8671 16.6646 67.8671 17.8966V22.4246H65.4991ZM82.7968 15.9606H80.0608V19.5446C80.0608 20.0726 80.2369 20.2326 80.9249 20.2326H82.4768V22.4246H80.6848C78.5568 22.4246 77.6928 21.5926 77.6928 19.6886V15.9606H75.6928V13.9446H77.6928V11.8166H80.0608V13.9446H82.7968V15.9606ZM90.464 13.9446H92.768V22.4246H90.464V21.8326H90.4319C89.8719 22.3446 88.992 22.6646 87.9839 22.6646C85.424 22.6646 83.5999 20.8246 83.5999 18.1846C83.5999 15.5446 85.424 13.7046 87.9839 13.7046C88.9599 13.7046 89.8559 14.0246 90.4319 14.5366H90.464V13.9446ZM90.3999 18.7126V17.6566C90.3999 16.6166 89.472 15.7846 88.256 15.7846C86.848 15.7846 85.9679 16.6966 85.9679 18.1846C85.9679 19.6566 86.848 20.5686 88.256 20.5686C88.864 20.5686 89.3759 20.3926 89.7919 20.0246C90.1919 19.6566 90.3999 19.2246 90.3999 18.7126ZM101.078 15.9606H98.3415V19.5446C98.3415 20.0726 98.5175 20.2326 99.2056 20.2326H100.758V22.4246H98.9655C96.8375 22.4246 95.9735 21.5926 95.9735 19.6886V15.9606H93.9735V13.9446H95.9735V11.8166H98.3415V13.9446H101.078V15.9606ZM102.497 22.4246V13.9446H104.865V22.4246H102.497ZM102.449 12.5526V10.1846H104.897V12.5526H102.449ZM106.451 18.1846C106.403 15.7046 108.531 13.6566 111.235 13.7046C114.003 13.7046 116.019 15.6726 116.019 18.1846C116.019 20.6966 114.003 22.6646 111.235 22.6646C108.531 22.7126 106.403 20.6646 106.451 18.1846ZM113.651 18.1846C113.651 16.7926 112.691 15.7846 111.235 15.7846C109.779 15.7846 108.819 16.7926 108.819 18.1846C108.819 19.5766 109.779 20.5846 111.235 20.5846C112.691 20.5846 113.651 19.5766 113.651 18.1846ZM117.622 22.4246V13.9446H119.91V14.7446H119.942C120.646 14.0886 121.67 13.7046 122.806 13.7046C125.206 13.7046 126.87 15.2886 126.87 17.5926V22.4246H124.502V17.8966C124.502 16.6006 123.654 15.8166 122.294 15.8166C120.934 15.8166 119.99 16.6646 119.99 17.8966V22.4246H117.622Z"
          fill="#FF414C"
          class="dark:fill-white"></path>
      </g>
      <defs>
        <clipPath id="clip0_4351_71314">
          <rect
            width="111"
            height="13"
            fill="white"
            transform="translate(16.5 9.9624)"></rect>
        </clipPath>
      </defs>
    </svg>

    <div class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">TBD</h1>
      <div class="flex flex-wrap items-center gap-2">
        <p class="font-medium text-foreground">David Johnston</p>
        <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
        <p>OSS Contributor to Morpheus</p>
      </div>
    </div>
  </TableCard>

  <TableCard time="3:00 PM">
    <svg
      slot="svg"
      width="78"
      height="33"
      viewBox="0 0 78 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.655929"
        y="0.985519"
        width="76.6881"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        class="dark:stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <path
        d="M16.1328 22.1824V10.9824H22.0208C24.4048 10.9824 26.1648 12.4224 26.1648 14.6464C26.1648 16.9184 24.4528 18.3104 22.0208 18.3104H18.5808V22.1824H16.1328ZM18.5808 16.1664H21.8768C22.9648 16.1664 23.7168 15.5904 23.7168 14.6304C23.7168 13.6224 23.1088 13.1264 21.8768 13.1264H18.5808V16.1664ZM33.7549 13.7024H36.0589V22.1824H33.7549V21.5904H33.7229C33.1629 22.1024 32.2829 22.4224 31.2749 22.4224C28.7149 22.4224 26.8909 20.5824 26.8909 17.9424C26.8909 15.3024 28.7149 13.4624 31.2749 13.4624C32.2509 13.4624 33.1469 13.7824 33.7229 14.2944H33.7549V13.7024ZM33.6909 18.4704V17.4144C33.6909 16.3744 32.7629 15.5424 31.5469 15.5424C30.1389 15.5424 29.2589 16.4544 29.2589 17.9424C29.2589 19.4144 30.1389 20.3264 31.5469 20.3264C32.1549 20.3264 32.6669 20.1504 33.0829 19.7824C33.4829 19.4144 33.6909 18.9824 33.6909 18.4704ZM37.9844 22.1824V13.7024H40.2724V14.5024H40.3044C41.0084 13.8464 42.0324 13.4624 43.1684 13.4624C45.5684 13.4624 47.2324 15.0464 47.2324 17.3504V22.1824H44.8644V17.6544C44.8644 16.3584 44.0164 15.5744 42.6564 15.5744C41.2964 15.5744 40.3524 16.4224 40.3524 17.6544V22.1824H37.9844ZM48.7184 17.9584C48.7184 15.3504 50.6544 13.4624 53.3264 13.4624C56.1424 13.4624 57.9344 15.4464 57.9344 18.0224V18.6944H51.0544C51.1344 19.7984 52.0464 20.5024 53.4544 20.5024C54.4784 20.5024 55.2144 20.1184 56.0624 19.2384L57.5344 20.7104C56.5104 21.8144 55.2464 22.4224 53.4704 22.4224C50.5104 22.4224 48.7184 20.6464 48.7184 17.9584ZM51.0864 17.0304H55.6304C55.5184 16.0224 54.6384 15.3824 53.3744 15.3824C52.0944 15.3824 51.2144 16.0224 51.0864 17.0304ZM59.4991 22.1824V10.5024H61.8671V22.1824H59.4991Z"
        fill="#FF414C"
        class="dark:fill-white"></path>
    </svg>

    <div class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">
        Unlocking Decentralized Compute: Empowering Innovation Beyond Boundaries
      </h1>
      <div class="flex flex-col gap-2">
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Daniel Keller</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>CEO, Flux</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Dean Nelson</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>CEO, Cato</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Stefaan Vervaet</p>

          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>CEO, Akave</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Moderator</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Casey Caruso, Founder & Managing Partner, Topology</p>
        </div>
      </div>
    </div>
  </TableCard>
  <TableCard time="4:00 PM">
    <svg
      slot="svg"
      width="120"
      height="33"
      viewBox="0 0 120 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.589523"
        y="0.985519"
        width="118.82"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        class="dark:stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <path
        d="M94.7148 17.9579C94.7148 15.3499 96.6508 13.4619 99.3228 13.4619C102.139 13.4619 103.931 15.4459 103.931 18.0219V18.6939H97.0508C97.1308 19.7979 98.0428 20.5019 99.4508 20.5019C100.475 20.5019 101.211 20.1179 102.059 19.2379L103.531 20.7099C102.507 21.8139 101.243 22.4219 99.4669 22.4219C96.5069 22.4219 94.7148 20.6459 94.7148 17.9579ZM97.0828 17.0299H101.627C101.515 16.0219 100.635 15.3819 99.3708 15.3819C98.0908 15.3819 97.2108 16.0219 97.0828 17.0299Z"
        fill="#FF414C"
        class="dark:fill-white"></path>
      <path
        d="M84.6289 19.4299L86.8529 18.9019C87.1889 19.9899 88.0529 20.5339 89.4129 20.5339C90.6449 20.5339 91.3489 20.2619 91.3489 19.7979C91.3489 19.3019 90.8369 19.0779 89.2529 18.8379C86.1489 18.3579 85.0449 17.6059 85.0449 16.0859C85.0449 14.5179 86.6129 13.4619 88.9489 13.4619C91.0769 13.4619 93.0129 14.5499 93.4609 16.0219L91.3009 16.6779C90.9809 15.8619 90.0689 15.3499 88.9329 15.3499C87.9569 15.3499 87.3169 15.6379 87.3169 16.0859C87.3169 16.5339 87.7649 16.6939 89.6369 17.0139C92.5009 17.4619 93.6369 18.2459 93.6369 19.7819C93.6369 21.3659 91.9409 22.4219 89.3969 22.4219C88.1489 22.4219 87.0929 22.1499 86.2289 21.6059C85.3649 21.0779 84.8369 20.3419 84.6289 19.4299Z"
        fill="#FF414C"
        class="dark:fill-white"></path>
      <path
        d="M80.8952 13.7019H83.1992V22.1819H80.8952V21.5899H80.8633C80.3033 22.1019 79.4232 22.4219 78.4152 22.4219C75.8552 22.4219 74.0312 20.5819 74.0312 17.9419C74.0312 15.3019 75.8552 13.4619 78.4152 13.4619C79.3912 13.4619 80.2873 13.7819 80.8633 14.2939H80.8952V13.7019ZM80.8313 18.4699V17.4139C80.8313 16.3739 79.9032 15.5419 78.6872 15.5419C77.2792 15.5419 76.3993 16.4539 76.3993 17.9419C76.3993 19.4139 77.2792 20.3259 78.6872 20.3259C79.2952 20.3259 79.8073 20.1499 80.2233 19.7819C80.6233 19.4139 80.8313 18.9819 80.8313 18.4699Z"
        fill="#FF414C"
        class="dark:fill-white"></path>
      <path
        d="M63.8172 17.9418C63.7692 15.4298 65.8972 13.4138 68.5052 13.4618C69.5772 13.4618 70.5212 13.7338 71.3052 14.2778C72.0892 14.8218 72.6172 15.5418 72.8572 16.4378L70.6492 17.0778C70.3292 16.1178 69.5772 15.5418 68.5052 15.5418C67.1452 15.5418 66.1852 16.5178 66.1852 17.9418C66.1852 19.3658 67.1452 20.3418 68.5052 20.3418C69.5772 20.3418 70.2972 19.8298 70.6492 18.8058L72.8572 19.4458C72.6172 20.3418 72.0892 21.0618 71.3052 21.6058C70.5212 22.1498 69.5772 22.4218 68.5052 22.4218C65.8972 22.4698 63.7692 20.4538 63.8172 17.9418Z"
        fill="#FF414C"
        class="dark:fill-white"></path>
      <path
        d="M50.8609 22.1821L48.4609 13.7021H50.8609L52.3649 19.3021H52.3969L54.7169 13.7021H56.8449L59.1809 19.3021H59.2129L60.7169 13.7021H63.1169L60.7009 22.1821H58.3329L55.7889 16.1661H55.7569L53.2449 22.1821H50.8609Z"
        fill="#FF414C"
        class="dark:fill-white"></path>
      <path
        d="M38.3367 17.9418C38.2887 15.4618 40.4167 13.4138 43.1207 13.4618C45.8887 13.4618 47.9047 15.4298 47.9047 17.9418C47.9047 20.4538 45.8887 22.4218 43.1207 22.4218C40.4167 22.4698 38.2887 20.4218 38.3367 17.9418ZM45.5367 17.9418C45.5367 16.5498 44.5767 15.5418 43.1207 15.5418C41.6647 15.5418 40.7047 16.5498 40.7047 17.9418C40.7047 19.3338 41.6647 20.3418 43.1207 20.3418C44.5767 20.3418 45.5367 19.3338 45.5367 17.9418Z"
        fill="#FF414C"
        class="dark:fill-white"></path>
      <path
        d="M27.6016 22.182V10.502H29.9696V14.502H30.0016C30.7056 13.814 31.6816 13.462 32.7856 13.462C35.1856 13.462 36.8496 15.046 36.8496 17.334V22.182H34.4816V17.654C34.4816 16.358 33.6336 15.574 32.2736 15.574C30.9136 15.574 29.9696 16.422 29.9696 17.654V22.182H27.6016Z"
        fill="#FF414C"
        class="dark:fill-white"></path>
      <path
        d="M16.0664 18.4858L18.4664 18.0058C18.8024 19.6218 19.7464 20.3578 21.4904 20.3578C22.9144 20.3578 23.7304 19.9098 23.7304 19.0938C23.7304 18.3258 23.1224 17.9258 20.6424 17.3818C17.5704 16.6938 16.3384 15.7018 16.3384 14.0218C16.3384 12.1978 18.1304 10.7578 20.7704 10.7578C22.0504 10.7578 23.1384 11.0618 24.0504 11.6538C24.9624 12.2618 25.5384 13.0778 25.7944 14.1178L23.4264 14.6778C23.0584 13.4618 22.1464 12.8378 20.7544 12.8378C19.6024 12.8378 18.7864 13.3178 18.7864 14.0058C18.7864 14.5818 19.3144 14.8698 21.8104 15.4138C24.8184 16.0698 26.1784 17.1738 26.1784 19.0778C26.1784 21.1098 24.3384 22.4218 21.4744 22.4218C18.4664 22.4218 16.4984 20.9978 16.0664 18.4858Z"
        fill="#FF414C"
        class="dark:fill-white"></path>
    </svg>

    <div class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">Akash Network Builder Showcase</h1>
      <div class="flex flex-col gap-2">
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Arel Avellino</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>CEO, Passage</p>
        </div>

        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Jiahao Sun</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Founder and CEO, Flock.io</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Moderator</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Amanda Keay, Event Manager, Overclock Labs</p>
        </div>
      </div>
    </div>
  </TableCard>
  <TableCard time="5:00 PM">
    <svg
      slot="svg"
      width="144"
      height="33"
      viewBox="0 0 144 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="1.02312"
        y="0.985519"
        width="141.954"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        class="dark:stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <g clip-path="url(#clip0_4351_71314)">
        <path
          d="M16.5312 22.4246V11.2246H22.4192C24.8032 11.2246 26.5632 12.6646 26.5632 14.8886C26.5632 17.1606 24.8512 18.5526 22.4192 18.5526H18.9792V22.4246H16.5312ZM18.9792 16.4086H22.2752C23.3632 16.4086 24.1152 15.8326 24.1152 14.8726C24.1152 13.8646 23.5072 13.3686 22.2752 13.3686H18.9792V16.4086ZM27.9222 22.4246V13.9446H30.1462V14.7606H30.1782C30.8022 14.1046 31.6342 13.7846 32.6742 13.7846C33.1062 13.7846 33.5702 13.8646 34.0662 14.0086L33.5702 16.1366C33.1382 16.0246 32.7382 15.9606 32.3382 15.9606C31.0422 15.9606 30.2902 16.8246 30.2902 18.5526V22.4246H27.9222ZM34.4687 18.2006C34.4687 15.5926 36.4047 13.7046 39.0767 13.7046C41.8927 13.7046 43.6847 15.6886 43.6847 18.2646V18.9366H36.8047C36.8847 20.0406 37.7967 20.7446 39.2047 20.7446C40.2287 20.7446 40.9647 20.3606 41.8127 19.4806L43.2847 20.9526C42.2607 22.0566 40.9967 22.6646 39.2207 22.6646C36.2607 22.6646 34.4687 20.8886 34.4687 18.2006ZM36.8367 17.2726H41.3807C41.2687 16.2646 40.3887 15.6246 39.1247 15.6246C37.8447 15.6246 36.9647 16.2646 36.8367 17.2726ZM44.6131 19.6726L46.8371 19.1446C47.1731 20.2326 48.0371 20.7766 49.3971 20.7766C50.6291 20.7766 51.3331 20.5046 51.3331 20.0406C51.3331 19.5446 50.8211 19.3206 49.2371 19.0806C46.1331 18.6006 45.0291 17.8486 45.0291 16.3286C45.0291 14.7606 46.5971 13.7046 48.9331 13.7046C51.0611 13.7046 52.9971 14.7926 53.4451 16.2646L51.2851 16.9206C50.9651 16.1046 50.0532 15.5926 48.9171 15.5926C47.9411 15.5926 47.3011 15.8806 47.3011 16.3286C47.3011 16.7766 47.7491 16.9366 49.6211 17.2566C52.4851 17.7046 53.6211 18.4886 53.6211 20.0246C53.6211 21.6086 51.9251 22.6646 49.3811 22.6646C48.1332 22.6646 47.0771 22.3926 46.2131 21.8486C45.3491 21.3206 44.8211 20.5846 44.6131 19.6726ZM54.7025 18.2006C54.7025 15.5926 56.6385 13.7046 59.3105 13.7046C62.1265 13.7046 63.9185 15.6886 63.9185 18.2646V18.9366H57.0385C57.1185 20.0406 58.0305 20.7446 59.4385 20.7446C60.4625 20.7446 61.1985 20.3606 62.0465 19.4806L63.5185 20.9526C62.4945 22.0566 61.2305 22.6646 59.4545 22.6646C56.4945 22.6646 54.7025 20.8886 54.7025 18.2006ZM57.0705 17.2726H61.6145C61.5025 16.2646 60.6225 15.6246 59.3585 15.6246C58.0785 15.6246 57.1985 16.2646 57.0705 17.2726ZM65.4991 22.4246V13.9446H67.7871V14.7446H67.8191C68.5231 14.0886 69.5471 13.7046 70.6831 13.7046C73.0831 13.7046 74.7471 15.2886 74.7471 17.5926V22.4246H72.3791V17.8966C72.3791 16.6006 71.5311 15.8166 70.1711 15.8166C68.8111 15.8166 67.8671 16.6646 67.8671 17.8966V22.4246H65.4991ZM82.7968 15.9606H80.0608V19.5446C80.0608 20.0726 80.2369 20.2326 80.9249 20.2326H82.4768V22.4246H80.6848C78.5568 22.4246 77.6928 21.5926 77.6928 19.6886V15.9606H75.6928V13.9446H77.6928V11.8166H80.0608V13.9446H82.7968V15.9606ZM90.464 13.9446H92.768V22.4246H90.464V21.8326H90.4319C89.8719 22.3446 88.992 22.6646 87.9839 22.6646C85.424 22.6646 83.5999 20.8246 83.5999 18.1846C83.5999 15.5446 85.424 13.7046 87.9839 13.7046C88.9599 13.7046 89.8559 14.0246 90.4319 14.5366H90.464V13.9446ZM90.3999 18.7126V17.6566C90.3999 16.6166 89.472 15.7846 88.256 15.7846C86.848 15.7846 85.9679 16.6966 85.9679 18.1846C85.9679 19.6566 86.848 20.5686 88.256 20.5686C88.864 20.5686 89.3759 20.3926 89.7919 20.0246C90.1919 19.6566 90.3999 19.2246 90.3999 18.7126ZM101.078 15.9606H98.3415V19.5446C98.3415 20.0726 98.5175 20.2326 99.2056 20.2326H100.758V22.4246H98.9655C96.8375 22.4246 95.9735 21.5926 95.9735 19.6886V15.9606H93.9735V13.9446H95.9735V11.8166H98.3415V13.9446H101.078V15.9606ZM102.497 22.4246V13.9446H104.865V22.4246H102.497ZM102.449 12.5526V10.1846H104.897V12.5526H102.449ZM106.451 18.1846C106.403 15.7046 108.531 13.6566 111.235 13.7046C114.003 13.7046 116.019 15.6726 116.019 18.1846C116.019 20.6966 114.003 22.6646 111.235 22.6646C108.531 22.7126 106.403 20.6646 106.451 18.1846ZM113.651 18.1846C113.651 16.7926 112.691 15.7846 111.235 15.7846C109.779 15.7846 108.819 16.7926 108.819 18.1846C108.819 19.5766 109.779 20.5846 111.235 20.5846C112.691 20.5846 113.651 19.5766 113.651 18.1846ZM117.622 22.4246V13.9446H119.91V14.7446H119.942C120.646 14.0886 121.67 13.7046 122.806 13.7046C125.206 13.7046 126.87 15.2886 126.87 17.5926V22.4246H124.502V17.8966C124.502 16.6006 123.654 15.8166 122.294 15.8166C120.934 15.8166 119.99 16.6646 119.99 17.8966V22.4246H117.622Z"
          fill="#FF414C"
          class="dark:fill-white"></path>
      </g>
      <defs>
        <clipPath id="clip0_4351_71314">
          <rect
            width="111"
            height="13"
            fill="white"
            transform="translate(16.5 9.9624)"></rect>
        </clipPath>
      </defs>
    </svg>

    <div class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">
        Decentralized AI, Privacy Preserving Learning and Applications to
        Healthcare
      </h1>
      <div class="flex flex-wrap items-center gap-2">
        <p class="font-medium text-foreground">Sriram Vishwanath</p>
        <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
        <p>Professor, University of Texas at Austin</p>
      </div>
    </div>
  </TableCard>
  <TableCard time="5:30 PM">
    <svg
      slot="svg"
      width="78"
      height="33"
      viewBox="0 0 78 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.655929"
        y="0.985519"
        width="76.6881"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        class="dark:stroke-defaultBorder"
        stroke-width="1.04623"></rect>
      <path
        d="M16.1328 22.1824V10.9824H22.0208C24.4048 10.9824 26.1648 12.4224 26.1648 14.6464C26.1648 16.9184 24.4528 18.3104 22.0208 18.3104H18.5808V22.1824H16.1328ZM18.5808 16.1664H21.8768C22.9648 16.1664 23.7168 15.5904 23.7168 14.6304C23.7168 13.6224 23.1088 13.1264 21.8768 13.1264H18.5808V16.1664ZM33.7549 13.7024H36.0589V22.1824H33.7549V21.5904H33.7229C33.1629 22.1024 32.2829 22.4224 31.2749 22.4224C28.7149 22.4224 26.8909 20.5824 26.8909 17.9424C26.8909 15.3024 28.7149 13.4624 31.2749 13.4624C32.2509 13.4624 33.1469 13.7824 33.7229 14.2944H33.7549V13.7024ZM33.6909 18.4704V17.4144C33.6909 16.3744 32.7629 15.5424 31.5469 15.5424C30.1389 15.5424 29.2589 16.4544 29.2589 17.9424C29.2589 19.4144 30.1389 20.3264 31.5469 20.3264C32.1549 20.3264 32.6669 20.1504 33.0829 19.7824C33.4829 19.4144 33.6909 18.9824 33.6909 18.4704ZM37.9844 22.1824V13.7024H40.2724V14.5024H40.3044C41.0084 13.8464 42.0324 13.4624 43.1684 13.4624C45.5684 13.4624 47.2324 15.0464 47.2324 17.3504V22.1824H44.8644V17.6544C44.8644 16.3584 44.0164 15.5744 42.6564 15.5744C41.2964 15.5744 40.3524 16.4224 40.3524 17.6544V22.1824H37.9844ZM48.7184 17.9584C48.7184 15.3504 50.6544 13.4624 53.3264 13.4624C56.1424 13.4624 57.9344 15.4464 57.9344 18.0224V18.6944H51.0544C51.1344 19.7984 52.0464 20.5024 53.4544 20.5024C54.4784 20.5024 55.2144 20.1184 56.0624 19.2384L57.5344 20.7104C56.5104 21.8144 55.2464 22.4224 53.4704 22.4224C50.5104 22.4224 48.7184 20.6464 48.7184 17.9584ZM51.0864 17.0304H55.6304C55.5184 16.0224 54.6384 15.3824 53.3744 15.3824C52.0944 15.3824 51.2144 16.0224 51.0864 17.0304ZM59.4991 22.1824V10.5024H61.8671V22.1824H59.4991Z"
        fill="#FF414C"
        class="dark:fill-white"></path>
    </svg>

    <div class="flex flex-col gap-2">
      <h1 class="text-xl font-bold">
        Unpacking the Potential of Decentralized Physical Infrastructure
      </h1>
      <div class="flex flex-col gap-2">
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Rahul Arulkumaran</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>AI Engineer, Foundry</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Megan Klimen</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Founding Officer, Filecoin Foundation</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Kevin Denman</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Business Development and Partnership, The Graph</p>
        </div>
        <div class="flex flex-wrap items-center gap-2">
          <p class="font-medium text-foreground">Moderator</p>
          <div class="h-1.5 w-1.5 rounded-full bg-primary dark:bg-white"></div>
          <p>Micah Casella, Senior Research Analyst</p>
        </div>
      </div>
    </div>
  </TableCard>
</div>
