---
interface Props {
  time: string;
}

const { time } = Astro.props;
---

<div class="grid grid-cols-6 gap-5">
  <h1
    class="col-span-1 flex items-center justify-center rounded-md border px-10 py-5 text-center font-bold"
  >
    {time}
  </h1>
  <div
    class="col-span-1 flex items-center justify-center rounded-md border px-2 py-5 font-bold"
  >
    <slot name="svg" />
  </div>
  <div
    class="col-span-4 flex flex-col justify-center rounded-md border px-10 py-5"
  >
    <slot />
  </div>
</div>
