---
import TableCard from "./table-card.astro";
---

<div class="flex w-full flex-col gap-4">
  <TableCard time="05:00 PM">
    <svg
      slot="svg"
      width="146"
      height="34"
      viewBox="0 0 146 34"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_4244_73107)">
        <path
          d="M130.001 1.948H16.0003C7.45268 1.948 0.523438 8.87724 0.523438 17.4249C0.523438 25.9726 7.45268 32.9018 16.0003 32.9018H130.001C138.548 32.9018 145.477 25.9726 145.477 17.4249C145.477 8.87724 138.548 1.948 130.001 1.948Z"
          stroke="#E4E4E7"
          stroke-width="1.04623"></path>
        <path
          d="M17.293 22.4248V11.2248H25.853V13.3688H19.741V16.2008H25.517V18.2968H19.741V22.4248H17.293ZM27.4805 22.4248V13.9448H29.8485V22.4248H27.4805ZM27.4325 12.5528V10.1848H29.8805V12.5528H27.4325ZM31.7696 22.4248V13.9448H33.9936V14.7608H34.0256C34.6496 14.1048 35.4816 13.7848 36.5216 13.7848C36.9536 13.7848 37.4176 13.8648 37.9136 14.0088L37.4176 16.1368C36.9856 16.0248 36.5856 15.9608 36.1856 15.9608C34.8896 15.9608 34.1376 16.8248 34.1376 18.5528V22.4248H31.7696ZM38.3161 18.2008C38.3161 15.5928 40.2521 13.7048 42.9241 13.7048C45.7401 13.7048 47.5321 15.6888 47.5321 18.2648V18.9368H40.6521C40.7321 20.0408 41.6441 20.7448 43.0521 20.7448C44.0761 20.7448 44.8121 20.3608 45.6601 19.4808L47.1321 20.9528C46.1081 22.0568 44.8441 22.6648 43.0681 22.6648C40.1081 22.6648 38.3161 20.8888 38.3161 18.2008ZM40.6841 17.2728H45.2281C45.1161 16.2648 44.2361 15.6248 42.9721 15.6248C41.6921 15.6248 40.8121 16.2648 40.6841 17.2728ZM48.4605 19.6728L50.6845 19.1448C51.0205 20.2328 51.8845 20.7768 53.2445 20.7768C54.4765 20.7768 55.1805 20.5048 55.1805 20.0408C55.1805 19.5448 54.6685 19.3208 53.0845 19.0808C49.9805 18.6008 48.8765 17.8488 48.8765 16.3288C48.8765 14.7608 50.4445 13.7048 52.7805 13.7048C54.9085 13.7048 56.8445 14.7928 57.2925 16.2648L55.1325 16.9208C54.8125 16.1048 53.9005 15.5928 52.7645 15.5928C51.7885 15.5928 51.1485 15.8808 51.1485 16.3288C51.1485 16.7768 51.5965 16.9368 53.4685 17.2568C56.3325 17.7048 57.4685 18.4888 57.4685 20.0248C57.4685 21.6088 55.7725 22.6648 53.2285 22.6648C51.9805 22.6648 50.9245 22.3928 50.0605 21.8488C49.1965 21.3208 48.6685 20.5848 48.4605 19.6728ZM58.8699 22.4248V13.9448H61.2379V22.4248H58.8699ZM58.8219 12.5528V10.1848H61.2699V12.5528H58.8219ZM62.823 18.1848C62.823 15.6408 64.775 13.7048 67.351 13.7048C68.487 13.7048 69.447 14.0248 70.103 14.6168H70.135V10.7448H72.503V22.4248H70.311V21.5928H70.279C69.639 22.2968 68.647 22.6648 67.415 22.6648C64.743 22.6648 62.823 20.8088 62.823 18.1848ZM70.135 18.6968V17.6248C70.135 16.6168 69.015 15.7848 67.719 15.7848C66.231 15.7848 65.191 16.7608 65.191 18.1848C65.191 19.6408 66.183 20.5688 67.719 20.5688C69.063 20.5688 70.135 19.7368 70.135 18.6968ZM74.0805 18.2008C74.0805 15.5928 76.0165 13.7048 78.6885 13.7048C81.5045 13.7048 83.2965 15.6888 83.2965 18.2648V18.9368H76.4165C76.4965 20.0408 77.4085 20.7448 78.8165 20.7448C79.8405 20.7448 80.5765 20.3608 81.4245 19.4808L82.8965 20.9528C81.8725 22.0568 80.6085 22.6648 78.8325 22.6648C75.8725 22.6648 74.0805 20.8888 74.0805 18.2008ZM76.4485 17.2728H80.9925C80.8805 16.2648 80.0005 15.6248 78.7365 15.6248C77.4565 15.6248 76.5765 16.2648 76.4485 17.2728ZM88.6267 16.8248C88.5787 13.4808 91.1547 10.9368 94.5147 10.9848C95.8747 10.9848 97.0267 11.3368 97.9867 12.0248C98.9307 12.7288 99.5387 13.6728 99.8107 14.8728L97.5067 15.4488C97.1067 13.9768 96.0027 13.1288 94.5147 13.1288C92.4827 13.1288 91.0747 14.6328 91.0747 16.8248C91.0747 19.0168 92.4827 20.5208 94.5147 20.5208C96.0987 20.5208 97.2347 19.5928 97.5387 17.9928L99.8587 18.5368C99.4107 21.0808 97.2987 22.6648 94.5147 22.6648C91.1547 22.7128 88.5787 20.1688 88.6267 16.8248ZM101.283 22.4248V10.7448H103.651V14.7448H103.683C104.387 14.0568 105.363 13.7048 106.467 13.7048C108.867 13.7048 110.531 15.2888 110.531 17.5768V22.4248H108.163V17.8968C108.163 16.6008 107.315 15.8168 105.955 15.8168C104.595 15.8168 103.651 16.6648 103.651 17.8968V22.4248H101.283ZM118.881 13.9448H121.185V22.4248H118.881V21.8328H118.849C118.289 22.3448 117.409 22.6648 116.401 22.6648C113.841 22.6648 112.017 20.8248 112.017 18.1848C112.017 15.5448 113.841 13.7048 116.401 13.7048C117.377 13.7048 118.273 14.0248 118.849 14.5368H118.881V13.9448ZM118.817 18.7128V17.6568C118.817 16.6168 117.889 15.7848 116.673 15.7848C115.265 15.7848 114.385 16.6968 114.385 18.1848C114.385 19.6568 115.265 20.5688 116.673 20.5688C117.281 20.5688 117.793 20.3928 118.209 20.0248C118.609 19.6568 118.817 19.2248 118.817 18.7128ZM129.495 15.9608H126.759V19.5448C126.759 20.0728 126.935 20.2328 127.623 20.2328H129.175V22.4248H127.383C125.255 22.4248 124.391 21.5928 124.391 19.6888V15.9608H122.391V13.9448H124.391V11.8168H126.759V13.9448H129.495V15.9608Z"
          fill="#FF414C"></path>
      </g>
      <defs>
        <clipPath id="clip0_4244_73107">
          <rect
            width="146"
            height="33"
            fill="white"
            transform="translate(0 0.962402)"></rect>
        </clipPath>
      </defs>
    </svg>

    <div class="flex flex-col">
      <h1 class="text-xl font-bold">
        Fireside Chat with Akash &
        <span class="blur-sm">Special Guest</span>
      </h1>
      <div class="flex items-center gap-2">
        <p>MC</p>
        <div class="h-1.5 w-1.5 rounded-full bg-primary"></div>
        <p>Greg Osuri</p>
        <div class="h-1.5 w-1.5 rounded-full bg-primary"></div>
        <p>Founder of Akash Network and CEO of Overclock Labs</p>
      </div>
      <div class="flex items-center gap-2">
        <p class="blur-sm">MC</p>
        <div class="h-1.5 w-1.5 rounded-full bg-primary"></div>
        <p class="blur-sm">Greg Osuri</p>
      </div>
    </div>
  </TableCard>
  <TableCard time="06:15 PM">
    <svg
      slot="svg"
      width="64"
      height="33"
      viewBox="0 0 64 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.523117"
        y="0.985519"
        width="62.9538"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        stroke-width="1.04623"></rect>
      <rect x="27" y="10" width="4" height="13" fill="#FF414C"></rect>
      <rect x="34" y="10" width="4" height="13" fill="#FF414C"></rect>
    </svg>

    <p>Closing address</p>
  </TableCard>
  <TableCard time="06:30 - 08:30 PM">
    <svg
      slot="svg"
      width="80"
      height="33"
      viewBox="0 0 80 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.523117"
        y="0.985519"
        width="78.9538"
        height="30.9538"
        rx="15.4769"
        stroke="#E4E4E7"
        stroke-width="1.04623"></rect>
      <path
        d="M57.1055 17.2866L48.2061 24.9937L48.2061 9.5795L57.1055 17.2866Z"
        fill="#FF414C"></path>
      <path
        d="M66.2734 17.2866L57.374 24.9937L57.374 9.5795L66.2734 17.2866Z"
        fill="#FF414C"></path>
      <circle cx="39.8184" cy="17.3358" r="2.57234" fill="#FF414C"></circle>
      <path
        d="M26.1484 19.3738L28.9013 24.2158H23.3405L20.5586 19.3738H26.1484Z"
        fill="url(#paint0_linear_4244_72374)"></path>
      <path
        d="M28.8998 24.2161L31.6772 19.3741L26.1179 9.68774H20.5586L28.8998 24.2161Z"
        fill="#FF414C"></path>
      <path
        d="M17.7796 14.5293H23.3389L17.7819 24.2156L15 19.3736L17.7796 14.5293Z"
        fill="#FF414C"></path>
      <defs>
        <linearGradient
          id="paint0_linear_4244_72374"
          x1="25.5926"
          y1="22.7216"
          x2="27.6384"
          y2="20.2755"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FF414C"></stop>
          <stop offset="1" stop-color="#FF414C" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
    </svg>

    <div class="flex items-center gap-2">
      <p>Cocktail Party</p>
      <div class="h-1.5 w-1.5 rounded-full bg-primary"></div>
      <p>Located at the same venue</p>
    </div>
  </TableCard>
</div>
