---
import TryAkashForm from "@/components/ui/try-akash-form";
import type { CollectionEntry } from "astro:content";
import clsx from "clsx";
import { Info } from "lucide-react";
import HeroLetterHeadline from "./HeroLetterHeadline.astro";

interface Props {
  heroSection: CollectionEntry<"Homepage">["data"]["heroSection"];
}

const { heroSection } = Astro.props;
const pathname = Astro.url.pathname;

---

<section class="relative overflow-hidden bg-background pb-6 md:pb-14 dark:bg-[#030303]">
  <!-- <div class="glow"></div> -->
  <div class="container relative z-[2] pt-7 md:pt-[50px]">
    {
      pathname.includes("meetingconfirmation") && (
        <div class="relative mx-auto mt-10 flex w-fit items-center justify-center gap-2  rounded-lg border !border-primary px-4 py-3 text-sm text-primary">
          <Info className="size-4 shrink-0" />
          Thanks for booking your meeting, we look forward to speaking with you!
        </div>
      )
    }
    <HeroLetterHeadline
      lines={["The Open Cloud", "for AI's Next Frontier"]}
      class={clsx(
        "mx-auto text-center font-sans font-semibold text-foreground tracking-tight md:[letter-spacing:-2.4px] [font-size:clamp(2.25rem,6vw,4.5rem)] [line-height:1.1] md:[line-height:1.0]",
        pathname.includes("meetingconfirmation") ? "mt-7" : "mt-10",
      )}
    />

    <p
      class="mx-auto mt-4 text-center text-sm text-para/75"
      set:html={heroSection.description}
    />

    <div class="mt-12 flex flex-col justify-center gap-3">
      <div class="flex justify-center" style="min-height:48px;">
        <TryAkashForm client:load type="hero" />
      </div>
      <div
        class="mx-auto flex items-center gap-2 rounded-full border bg-background2 px-4 py-2 text-center text-xs dark:bg-[#242429]/45"
      >
        <p class="text-[12.4px] text-[#8C8E91]">Get up to $100 in GPU credits</p>
      </div>
    </div>

  </div>
</section>
