<div class="hidden">
  <div
    class="mr-1 mt-6 flex w-[140px] cursor-pointer flex-col items-center justify-center rounded-[6px] rounded-lg border border-[#D1D5DB] bg-[#C1C8CD] bg-[#F1F0EF] bg-[#FFDEDE] bg-primary bg-white px-5 px-[17px] py-10 py-2 py-[9px] text-center text-2xl text-sm font-bold font-bold font-medium leading-[20px] text-[#808080] text-foreground text-primary-foreground shadow-sm hover:bg-gray-100 hover:bg-primary/90"
  >
  </div>
</div>
