---
import Layout from "@/layouts/layout.astro";
import { Image } from "astro:assets";
import About from "@/components/accelerate/about.astro";
import Speakers from "@/components/accelerate/speakers.astro";
import Show from "@/components/accelerate/show.astro";
import Table from "@/components/accelerate/table.astro";
import BlurTable from "@/components/accelerate/blur-table.astro";
import Tablebottom from "@/components/accelerate/tablebottom.astro";
import Location from "@/components/accelerate/location.astro";
import Footer from "@/components/accelerate/footer.astro";
import Spearker from "@/components/accelerate/spearker.astro";
import BluredSpeaker from "@/components/accelerate/blured-speaker.astro";
import Yt from "@/components/accelerate/yt.astro";
const speakers = [
  {
    name: "Greg Osuri",
    title: "CEO, Overclock Labs",
    twitter: "https://twitter.com/gregosuri",
    image: "/images/accelerate/greg.png",
    subtitle: "Founder of Akash Network",
    type: "image",
  },
  {
    name: "Erik Voorhees",
    title: "CEO",
    subtitle: "Venice.AI",
    twitter:
      "https://x.com/ErikVoorhees?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor",
    image: "/images/accelerate/erik.jpg",
    type: "image",
  },
  {
    name: "Sriram Vishwanath",
    title: "Professor,",
    subtitle: "University of Texas at Austin",
    image: "/images/accelerate/Sriram.png",
    type: "image",
  },
  {
    name: "Daniel Keller",
    title: "CEO,",
    subtitle: "Flux",
    type: "image",
    image: "/images/accelerate/keller.png",
    twitter:
      "https://twitter.com/ErikVoorhees?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor",
  },
  {
    name: "Nader Khalil",
    title: "Co-founder, CEO",
    twitter:
      "https://x.com/NaderLikeLadder?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor",
    image: "/images/accelerate/Nader.png",
    subtitle: "Brev.dev",
    type: "image",
  },
  {
    name: "David Johnston",
    title: "OSS Contributor",

    image: "/images/accelerate/David.png",
    subtitle: "Morpheus",
    type: "image",
  },

  {
    name: "Teana Baker-Taylor",
    title: "COO,",
    subtitle: " Venice.AI",
    twitter: "https://x.com/TeanaTaylor",
    image: "/images/accelerate/Teana.png",
    type: "image",
  },
  {
    name: "Lex Avellino",
    title: "Chief Creative Officer,",
    subtitle: "Passage",
    image: "/images/accelerate/Lex 1.png",
    twitter: "https://twitter.com/lexavellino",
    type: "image",
  },
  {
    name: "Peter Toth",
    title: "Co-founder and CEO,",
    subtitle: "Eidon AI",
    image: "/images/accelerate/Peter.png",
    twitter: "https://x.com/eidon_ai",
    type: "image",
  },
  {
    name: "Arel Avellino",
    title: "CEO,",
    subtitle: "Passage",
    image: "/images/accelerate/Arel.png",
    twitter: "https://twitter.com/ArelAvellino",
    type: "image",
  },
  {
    name: "Stefaan Vervaet",
    title: "CEO",
    subtitle: "Akave.AI",
    image: "/images/accelerate/Vervaet.png",
    type: "image",
    twitter: "https://x.com/stefaanweb3?lang=en",
  },
  {
    name: "Rahul Arulkumaran",
    title: "AI Engineer",
    subtitle: "Foundry",
    image: "/images/accelerate/Rahul.png",
    type: "image",
    twitter: "https://x.com/RahulKumaran4",
  },
  {
    name: "Cameron Fairchild",
    title: "Software Developer",
    subtitle: "Opentensor",
    image: "/images/accelerate/Cameron.png",
    type: "image",
    twitter: "https://x.com/KibibyteMe",
  },
  {
    name: "Micah Casella",
    title: "Senior Research Analyst",
    subtitle: "Messari",
    image: "/images/accelerate/Micah.png",
    type: "image",
    twitter: "https://x.com/CabronElBufon",
  },
  {
    name: "Megan Klimen",
    title: "Founding Officer",
    subtitle: "Filecoin Foundation",
    image: "/images/accelerate/Megan.png",
    type: "image",
    twitter: "https://x.com/tinkmk?lang=en",
  },
  {
    name: "Jiahao Sun",
    title: "CEO",
    subtitle: "Flock.io",
    image: "/images/accelerate/sun.png",
    type: "image",
  },
  {
    name: "Dean Nelson",
    title: "CEO",
    subtitle: "Cato",
    image: "/images/accelerate/dean.png",
    type: "image",
  },
  {
    name: "Robert Myers",
    title: "Manifold",
    subtitle: "",
    image: "/images/accelerate/robert.png",
    type: "image",
  },
  {
    name: "Kevin Denman",
    title: "Head of Business Development",
    subtitle: "Edge & Node",
    image: "/images/accelerate/kevin.png",
    type: "image",
  },
  {
    name: "Sam Padilla",
    title: "Co-founder & Head of Product,",
    subtitle: "Eidon AI",
    image: "/images/accelerate/sam.png",
    type: "image",
  },
  {
    name: "Thomas Montfort",
    title: "Core Backend Engineer, ",
    subtitle: "Brev.dev",
    image: "/images/accelerate/thomos.png",
    type: "image",
  },
];

const youtube = "https://www.youtube.com/live/60mmj3bNzB0";
---

<Layout
  title="Akash Accelerate 2024"
  description="Akash Accelerate is a full-day summit that will bring together the entire ecosystem for a packed agenda of talks, panels, and discussions exploring the future of decentralized compute and open-source AI."
  image="/meta-images/acc-2024.png"
>
  <div class="overflow-x-hidden">
    <div>
      <section class="hidden aspect-[16/6] items-center justify-center md:flex">
        <Image
          src="/images/venue.png"
          alt="Akash Accelerate 2024"
          width="1920"
          height="1080"
          class="hidden object-cover md:block"
        />
      </section>
      <section
        class="relative flex aspect-[9/13] items-center justify-center md:hidden"
      >
        <a
          href={youtube}
          target="_blank"
          class="absolute bottom-2 right-2 z-[5] md:hidden"
        >
          <Yt />
        </a>
        <Image
          src="/images/venueMobile.png"
          alt="Akash Accelerate 2024"
          width="1920"
          height="1080"
          class="object-contain md:hidden"
        />
      </section>
      <a href="https://lu.ma/akashaccelerate24" target="_blank">
        <button
          class="button--bestia relative w-full bg-primary py-4 text-2xl font-bold text-white md:text-3xl"
        >
          <div class="button__bg"></div><span> Register Now</span>
        </button></a
      >
    </div>
    <div
      class="container flex flex-col items-center justify-center gap-[72px] py-10 md:gap-[120px] md:py-[120px]"
    >
      <div class="relative flex flex-col items-center justify-center gap-12">
        <About />
        <p class="max-w-4xl text-center text-xl md:text-2xl">
          Akash Accelerate is a full-day summit that will bring together the
          entire ecosystem for a packed agenda of talks, panels, and discussions
          exploring the future of decentralized compute and open-source AI.
        </p>

        <a
          href={youtube}
          target="_blank"
          class="fixed bottom-5 right-5 z-10 hidden md:flex"
        >
          <Yt fill="fill-foreground" />
        </a>
      </div>
      <div class="flex w-full flex-col items-center justify-center gap-12">
        <Speakers />

        <div
          class="relative grid w-full max-w-4xl grid-cols-2 gap-x-5 gap-y-8 md:grid-cols-3 md:gap-6"
        >
          {speakers.map((speaker) => <Spearker speaker={speaker} />)}
          <!-- <BluredSpeaker
            speakers={speakers.filter((speaker) => speaker?.blured)}
          /> -->
        </div>
        <a
          href="https://akashnet.typeform.com/to/bj9Bu7Ax?typeform-source=akash.network"
          target="_blank"
          class="rounded-md bg-primary px-8 py-3 text-base font-bold text-white md:py-4 md:text-xl"
          >Interested in speaking? Apply Now!</a
        >
      </div>
      <div class="flex w-full flex-col items-center justify-center gap-12">
        <Show />
        <div class="flex flex-col gap-4">
          <Table />
          <!-- <BlurTable /> -->
          <Tablebottom />
        </div>
      </div>
      <!-- <div class="flex w-full flex-col items-center justify-center gap-12">
        <Location />
        <div class="flex max-w-[929px] flex-col gap-5">
          <Image
            src="/images/accelerate/location.png"
            alt="Akash Accelerate 2024"
            width="1920"
            height="1080"
            class="w-full rounded-md object-contain"
          />
          <p
            class="text-center text-sm text-primary dark:text-white md:text-base"
          >
            ATELIER 1205, 1205 E Cesar Chavez St., AUSTIN - TEXAS, 78702
          </p>
        </div>
      </div> -->
    </div>
  </div>
  <div class="flex flex-col items-center justify-center gap-4 bg-primary py-20">
    <h1 class="container px-6 text-center text-xl font-medium text-white">
      Stay in touch about Akash Accelerate 2024
    </h1>
    <a
      href="https://akashnet.typeform.com/to/awKX5bPw?typeform-source=akash.network"
      target="_blank"
      class="rounded-md bg-white px-8 py-2.5 font-medium text-primary"
    >
      Subscribe Now
    </a>
  </div>

  <Footer />
</Layout>
