---
import Layout from "@/layouts/layout.astro";
import { Image } from "astro:assets";
import About from "@/components/accelerate/about.astro";
import Speakers from "@/components/accelerate/speakers.astro";
import Show from "@/components/accelerate/show.astro";
import Table from "@/components/accelerate/table.astro";
import BlurTable from "@/components/accelerate/blur-table.astro";
import Tablebottom from "@/components/accelerate/tablebottom.astro";
import Location from "@/components/accelerate/location.astro";
import Footer from "@/components/accelerate/footer.astro";
import Spearker from "@/components/accelerate/spearker.astro";
import BluredSpeaker from "@/components/accelerate/blured-speaker.astro";
const speakers = [
  {
    name: "Greg Osuri",
    title: "CEO, Overclock Labs",
    twitter: "https://twitter.com/gregosuri",
    image: "/images/accelerate/greg.png",
    subtitle: "Founder of Akash Network",
    type: "image",
  },
  {
    name: "Erik Voorhees",
    title: "CEO",
    subtitle: "Venice.AI",
    twitter:
      "https://x.com/ErikVoorhees?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor",
    image: "/images/accelerate/erik.jpg",
    type: "image",
  },
  {
    name: "Sriram Vishwanath",
    title: "Professor,",
    subtitle: "University of Texas at Austin",
    image: "/images/accelerate/Sriram.png",
    type: "image",
  },
  {
    name: "Daniel Keller",
    title: "CEO,",
    subtitle: "Flux",
    type: "image",
    image: "/images/accelerate/keller.png",
    twitter:
      "https://twitter.com/ErikVoorhees?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor",
  },
  {
    name: "Nader Khalil",
    title: "Co-founder, CEO",
    twitter:
      "https://x.com/NaderLikeLadder?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor",
    image: "/images/accelerate/Nader.png",
    subtitle: "Brev.dev",
    type: "image",
  },
  {
    name: "David Johnston",
    title: "OSS Contributor",

    image: "/images/accelerate/David.png",
    subtitle: "Morpheus",
    type: "image",
  },

  {
    name: "Teana Baker-Taylor",
    title: "COO,",
    subtitle: " Venice.AI",
    twitter: "https://x.com/TeanaTaylor",
    image: "/images/accelerate/Teana.png",
    type: "image",
  },
  {
    name: "Lex Avellino",
    title: "Chief Creative Officer,",
    subtitle: "Passage",
    image: "/images/accelerate/Lex 1.png",
    twitter: "https://twitter.com/lexavellino",
    type: "image",
  },
  {
    name: "Peter Toth",
    title: "Co-founder and CEO,",
    subtitle: "Eidon AI",
    image: "/images/accelerate/Peter.png",
    twitter: "https://x.com/eidon_ai",
    type: "image",
  },
  {
    name: "Arel Avellino",
    title: "CEO,",
    subtitle: "Passage",
    image: "/images/accelerate/Arel.png",
    twitter: "https://twitter.com/ArelAvellino",
    type: "image",
  },
  {
    name: "Stefaan Vervaet",
    title: "CEO",
    subtitle: "Akave.AI",
    image: "/images/accelerate/Vervaet.png",
    type: "image",
    twitter: "https://x.com/stefaanweb3?lang=en",
  },
  {
    name: "Rahul Arulkumaran",
    title: "AI Engineer",
    subtitle: "Foundry",
    image: "/images/accelerate/Rahul.png",
    type: "image",
    twitter: "https://x.com/RahulKumaran4",
  },
  {
    name: "Cameron Fairchild",
    title: "Software Developer",
    subtitle: "Opentensor",
    image: "/images/accelerate/Cameron.png",
    type: "image",
    twitter: "https://x.com/KibibyteMe",
  },
  {
    name: "Micah Casella",
    title: "Senior Research Analyst",
    subtitle: "Messari",
    image: "/images/accelerate/Micah.png",
    type: "image",
    twitter: "https://x.com/CabronElBufon",
  },
  {
    name: "Megan Klimen",
    title: "Founding Officer",
    subtitle: "Filecoin Foundation",
    image: "/images/accelerate/Megan.png",
    type: "image",
    twitter: "https://x.com/tinkmk?lang=en",
  },
  {
    name: "Jiaho Sun",
    title: "CEO",
    subtitle: "Flock.io",
    image: "/images/accelerate/sun.png",
    type: "image",
  },
  {
    name: "Dean Nelson",
    title: "CEO",
    subtitle: "Cato",
    image: "/images/accelerate/dean.png",
    type: "image",
  },
];

const youtube = "https://www.youtube.com/live/60mmj3bNzB0";
---

<Layout
  title="Akash Accelerate 2024"
  description="Akash Accelerate is a full-day summit that will bring together the entire ecosystem for a packed agenda of talks, panels, and discussions exploring the future of decentralized compute and open-source AI."
  image="/meta-images/acc-2024.png"
>
  <div class="overflow-x-hidden">
    <div>
      <section class="hidden aspect-[16/6] items-center justify-center md:flex">
        <Image
          src="/images/venue.png"
          alt="Akash Accelerate 2024"
          width="1920"
          height="1080"
          class="hidden object-cover md:block"
        />
      </section>
      <section
        class="relative flex aspect-[9/13] items-center justify-center md:hidden"
      >
        <a
          href={youtube}
          target="_blank"
          class="absolute bottom-2 right-2 z-[5] md:hidden"
        >
          <svg
            width="157"
            height="161"
            viewBox="0 0 157 161"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g
              class="fill-white"
              style="transform-origin: 50% 50%;  animation: spin 10s linear infinite;"
            >
              <path
                d="M19.5003 72.7102L4.8743 74.0652L5.17703 72.3483L17.0554 71.4362L17.0795 71.2999L6.23901 66.3256L6.57538 64.4179L18.4634 63.4512L18.4874 63.315L7.63736 58.3951L7.9401 56.6782L21.2206 62.9539L20.913 64.698L9.25105 65.817L9.23183 65.926L19.8078 70.9661L19.5003 72.7102Z"
              ></path>
              <path
                d="M23.5672 56.7626C23.3369 57.3954 23.0087 57.9262 22.5826 58.3552C22.1522 58.7826 21.6542 59.0652 21.0887 59.203C20.5189 59.3391 19.9089 59.2889 19.2589 59.0523C18.6868 58.8441 18.264 58.5626 17.9907 58.2079C17.713 57.8516 17.5409 57.4478 17.4745 56.9966C17.408 56.5454 17.4077 56.0742 17.4737 55.5828C17.5369 55.0856 17.6225 54.594 17.7306 54.1082C17.8735 53.473 17.994 52.9598 18.0922 52.5686C18.1877 52.1714 18.2172 51.868 18.1806 51.6584C18.1456 51.4444 18.0045 51.2925 17.7575 51.2026L17.7055 51.1836C17.0641 50.9502 16.5018 50.9443 16.0186 51.166C15.537 51.3834 15.1677 51.8453 14.9106 52.5517C14.644 53.2841 14.5953 53.9168 14.7646 54.4495C14.9339 54.9823 15.1698 55.3995 15.4723 55.701L14.4222 56.968C13.9101 56.4871 13.5639 55.9684 13.3836 55.412C13.2005 54.8496 13.1357 54.2861 13.189 53.7215C13.2396 53.1509 13.3564 52.6143 13.5394 52.1115C13.6562 51.7908 13.8292 51.4366 14.0587 51.049C14.2854 50.6554 14.5867 50.3062 14.9627 50.0013C15.3403 49.6921 15.8126 49.4934 16.3797 49.4053C16.9467 49.3172 17.6268 49.4175 18.4199 49.7062L24.9989 52.1007L24.4405 53.635L23.0883 53.1428L23.0599 53.2208C23.2388 53.4037 23.4075 53.6615 23.5662 53.9941C23.7249 54.3267 23.8176 54.7261 23.8443 55.1922C23.8709 55.6584 23.7786 56.1818 23.5672 56.7626ZM22.2742 56.0269C22.495 55.4202 22.562 54.8654 22.475 54.3626C22.3897 53.8554 22.1971 53.427 21.8973 53.0774C21.5992 52.7235 21.242 52.4708 20.826 52.3194L19.4218 51.8083C19.4761 51.9017 19.4956 52.0707 19.4801 52.3154C19.4619 52.5542 19.4246 52.8253 19.3682 53.1287C19.309 53.4262 19.2478 53.7156 19.1847 53.9969C19.1188 54.2723 19.0667 54.4963 19.0284 54.6689C18.9353 55.0866 18.8842 55.49 18.875 55.8794C18.8631 56.2628 18.9333 56.6024 19.0857 56.8984C19.2354 57.1885 19.5052 57.4045 19.8953 57.5464C20.4284 57.7405 20.9032 57.69 21.3198 57.395C21.7336 57.094 22.0517 56.638 22.2742 56.0269Z"
              ></path>
              <path
                d="M19.8333 40.5909L21.0315 41.2827L18.2781 46.0518L17.0798 45.36L19.8333 40.5909ZM15.6775 42.697L16.4939 41.2831L25.2652 46.3472C25.6646 46.5778 25.9976 46.6928 26.2642 46.6923C26.5291 46.6855 26.7485 46.6098 26.9225 46.4653C27.0948 46.3144 27.2409 46.1352 27.3608 45.9275C27.4508 45.7717 27.5166 45.6393 27.5583 45.5302C27.5959 45.4188 27.6261 45.3297 27.6487 45.2629L29.0849 45.7086C29.0655 45.8252 29.0242 45.9798 28.961 46.1723C28.9018 46.3671 28.796 46.5963 28.6438 46.8599C28.4132 47.2594 28.1014 47.6012 27.7082 47.8855C27.3174 48.1658 26.8736 48.3303 26.3768 48.379C25.8824 48.4237 25.3675 48.2915 24.8323 47.9825L15.6775 42.697Z"
              ></path>
              <path
                d="M33.9274 39.9067C33.287 40.6699 32.5554 41.1758 31.7325 41.4246C30.9097 41.6734 30.0575 41.6808 29.1761 41.4469C28.2946 41.213 27.4476 40.7552 26.635 40.0733C25.8082 39.3796 25.2061 38.6155 24.8287 37.7809C24.4506 36.9399 24.313 36.0959 24.4156 35.2488C24.5177 34.3953 24.8771 33.6011 25.4937 32.8662C25.974 32.2938 26.5128 31.8669 27.1102 31.5855C27.7076 31.3041 28.3201 31.1768 28.9478 31.2038C29.5754 31.2307 30.1732 31.4223 30.7413 31.7785L29.6918 33.0292C29.2408 32.8134 28.7344 32.7496 28.1725 32.8381C27.61 32.92 27.0975 33.2366 26.6351 33.7877C26.2259 34.2753 25.9944 34.8095 25.9405 35.3904C25.886 35.9648 26.0024 36.5472 26.2897 37.1375C26.5765 37.7213 27.0273 38.2712 27.6421 38.787C28.271 39.3147 28.9016 39.6753 29.534 39.8688C30.1693 40.0587 30.7686 40.0799 31.3319 39.9324C31.8982 39.7814 32.3888 39.4586 32.8038 38.964C33.0766 38.6389 33.2676 38.2965 33.3769 37.9366C33.4862 37.5768 33.5119 37.216 33.4541 36.8544C33.3963 36.4928 33.2516 36.1487 33.02 35.8219L34.0695 34.5712C34.4907 35.045 34.7767 35.5831 34.9276 36.1854C35.078 36.7811 35.075 37.4018 34.9187 38.0473C34.7618 38.6863 34.4313 39.3061 33.9274 39.9067Z"
              ></path>
              <path
                d="M34.6675 29.6305L38.7765 34.5273L37.5258 35.5768L28.4185 24.7232L29.6692 23.6737L33.0133 27.659L33.1193 27.5701C32.9573 26.9895 32.9633 26.4155 33.1373 25.848C33.312 25.274 33.719 24.7188 34.3585 24.1822C34.9132 23.7167 35.4924 23.4204 36.0961 23.2931C36.6968 23.1624 37.3032 23.2285 37.9153 23.4916C38.5279 23.7481 39.1277 24.2262 39.7147 24.9258L44.0549 30.0982L42.8042 31.1477L38.5352 26.06C37.9927 25.4135 37.4053 25.0544 36.7732 24.9827C36.1417 24.9045 35.5309 25.113 34.9409 25.6081C34.531 25.952 34.2362 26.3468 34.0565 26.7927C33.8802 27.2356 33.8378 27.7017 33.9292 28.1909C34.0242 28.6772 34.2703 29.157 34.6675 29.6305Z"
              ></path>
              <path
                d="M55.3333 23.7761L50.4874 10.4621L52.0996 9.87531L56.425 21.7591L62.6139 19.5065L63.1345 20.9367L55.3333 23.7761Z"
              ></path>
              <path
                d="M67.7144 20.0642L65.8691 9.59931L67.477 9.3158L69.3222 19.7807L67.7144 20.0642ZM66.3791 7.711C66.0657 7.76626 65.7767 7.70718 65.5119 7.53374C65.2517 7.35951 65.0952 7.12251 65.0423 6.82273C64.9895 6.52295 65.0555 6.2467 65.2404 5.99398C65.4299 5.74046 65.6813 5.58607 65.9947 5.53081C66.3081 5.47555 66.5949 5.53504 66.8551 5.70927C67.1199 5.8827 67.2787 6.11931 67.3315 6.41908C67.3844 6.71886 67.3161 6.99551 67.1266 7.24903C66.9417 7.50175 66.6925 7.65574 66.3791 7.711Z"
              ></path>
              <path
                d="M84.0232 8.37366L80.0936 19H78.4333L74.5037 8.37366H76.2748L79.2081 16.8415H79.3188L82.2521 8.37366H84.0232Z"
              ></path>
              <path
                d="M89.6986 20.199C88.6902 20.0213 87.8597 19.6453 87.2069 19.0713C86.5595 18.4934 86.109 17.7677 85.8556 16.8941C85.6076 16.0168 85.578 15.0421 85.7671 13.9702C85.9561 12.8983 86.318 11.9879 86.8527 11.2392C87.3929 10.4868 88.0554 9.94329 88.8403 9.60868C89.6305 9.27033 90.498 9.18445 91.4428 9.35103C91.9878 9.44714 92.51 9.63288 93.0094 9.90827C93.5088 10.1837 93.9405 10.5642 94.3044 11.0499C94.6692 11.531 94.9222 12.1282 95.0633 12.8415C95.2045 13.5549 95.189 14.3998 95.0168 15.3764L94.8967 16.0577L86.83 14.6353L87.075 13.2454L93.5066 14.3795C93.6107 13.789 93.5855 13.2413 93.431 12.7364C93.2811 12.2322 93.014 11.8081 92.6297 11.4641C92.25 11.1208 91.7695 10.8979 91.1881 10.7954C90.5477 10.6825 89.9655 10.7437 89.4416 10.9792C88.9231 11.2109 88.4944 11.5568 88.1557 12.0169C87.817 12.4771 87.5968 12.9955 87.4951 13.5724L87.3317 14.499C87.1923 15.2893 87.2105 15.9833 87.3861 16.5809C87.5671 17.1748 87.8776 17.6581 88.3177 18.0307C88.7585 18.3988 89.3037 18.6401 89.9533 18.7547C90.3757 18.8292 90.7676 18.8374 91.1291 18.7794C91.4959 18.7176 91.8255 18.5884 92.1177 18.3917C92.4108 18.1905 92.6575 17.9202 92.8578 17.5808L94.3343 18.2908C94.0779 18.7888 93.7214 19.2037 93.2649 19.5353C92.8091 19.8624 92.2777 20.0871 91.6707 20.2096C91.0645 20.3275 90.4071 20.324 89.6986 20.199Z"
              ></path>
              <path
                d="M106.139 16.2932L104.618 16.1816C104.615 15.9204 104.569 15.6506 104.478 15.3724C104.394 15.0914 104.235 14.8274 104.001 14.5803C103.767 14.3331 103.427 14.1283 102.981 13.9658C102.369 13.7434 101.809 13.6989 101.299 13.8324C100.795 13.963 100.465 14.2429 100.309 14.672C100.17 15.0534 100.199 15.405 100.396 15.727C100.593 16.049 100.959 16.391 101.495 16.7529L102.845 17.6564C103.659 18.198 104.203 18.7717 104.478 19.3775C104.755 19.9788 104.767 20.6284 104.513 21.3262C104.305 21.8983 103.954 22.3497 103.46 22.6806C102.971 23.013 102.387 23.2028 101.707 23.2499C101.027 23.2969 100.3 23.1793 99.5238 22.8969C98.5053 22.5262 97.7428 21.9984 97.2362 21.3134C96.7297 20.6284 96.5422 19.8289 96.6737 18.9147L98.2624 19.0807C98.2055 19.6686 98.321 20.1671 98.6089 20.5762C98.9012 20.9868 99.3615 21.3065 99.9899 21.5353C100.705 21.7956 101.328 21.8505 101.859 21.7001C102.396 21.547 102.742 21.2559 102.898 20.8269C103.024 20.4801 103.009 20.1456 102.851 19.8232C102.695 19.4965 102.387 19.1832 101.927 18.8832L100.405 17.8874C99.5691 17.3378 99.0196 16.7574 98.7562 16.1462C98.4987 15.5322 98.4953 14.8807 98.7461 14.1916C98.9512 13.6281 99.2908 13.1873 99.7649 12.8691C100.243 12.5524 100.803 12.3707 101.443 12.324C102.088 12.2789 102.761 12.3841 103.463 12.6396C104.451 12.9993 105.148 13.4984 105.554 14.1368C105.964 14.7769 106.159 15.4957 106.139 16.2932Z"
              ></path>
              <path
                d="M116.947 19.4443L116.255 20.6426L111.486 17.8891L112.177 16.6909L116.947 19.4443ZM114.84 15.2886L116.254 16.1049L111.19 24.8762C110.96 25.2756 110.845 25.6086 110.845 25.8752C110.852 26.1401 110.928 26.3596 111.072 26.5336C111.223 26.7058 111.402 26.8519 111.61 26.9719C111.766 27.0618 111.898 27.1276 112.007 27.1693C112.119 27.207 112.208 27.2371 112.275 27.2597L111.829 28.6959C111.712 28.6765 111.558 28.6352 111.365 28.572C111.17 28.5128 110.941 28.4071 110.677 28.2549C110.278 28.0243 109.936 27.7124 109.652 27.3193C109.372 26.9284 109.207 26.4846 109.158 25.9879C109.114 25.4934 109.246 24.9785 109.555 24.4433L114.84 15.2886Z"
              ></path>
              <path
                d="M115.7 31.6357L122.531 23.4955L123.739 24.5094L122.707 25.7389L122.792 25.8101C123.278 25.5318 123.821 25.4303 124.42 25.5056C125.019 25.5808 125.563 25.823 126.05 26.2321C126.142 26.3092 126.255 26.4073 126.39 26.5265C126.525 26.6456 126.625 26.7384 126.69 26.8047L125.622 28.0767C125.589 28.0305 125.505 27.9331 125.371 27.7844C125.243 27.6351 125.096 27.4908 124.93 27.3515C124.535 27.0195 124.112 26.806 123.661 26.7112C123.218 26.6158 122.784 26.6374 122.361 26.7759C121.944 26.9138 121.582 27.1665 121.273 27.534L116.951 32.6852L115.7 31.6357Z"
              ></path>
              <path
                d="M124.707 40.7574C124.049 39.973 123.654 39.1512 123.523 38.2918C123.399 37.433 123.52 36.5875 123.887 35.7554C124.261 34.9239 124.865 34.1583 125.699 33.4586C126.533 32.759 127.395 32.2943 128.286 32.0645C129.184 31.8353 130.04 31.8448 130.857 32.093C131.68 32.3417 132.399 32.8336 133.016 33.5684C133.372 33.9924 133.652 34.4704 133.858 35.0023C134.064 35.5343 134.15 36.1033 134.116 36.7093C134.086 37.3123 133.896 37.9324 133.546 38.5696C133.195 39.2068 132.64 39.8441 131.881 40.4814L131.351 40.9261L126.086 34.6514L127.167 33.7442L131.365 38.7471C131.824 38.3617 132.157 37.9259 132.363 37.4398C132.572 36.9572 132.64 36.4606 132.567 35.9501C132.497 35.4431 132.272 34.9634 131.893 34.5112C131.474 34.013 130.989 33.6857 130.436 33.5294C129.89 33.3735 129.34 33.363 128.784 33.4978C128.229 33.6325 127.727 33.8881 127.278 34.2647L126.558 34.8694C125.943 35.3853 125.511 35.9286 125.261 36.4993C125.018 37.0705 124.945 37.6403 125.043 38.2087C125.144 38.7741 125.407 39.3094 125.83 39.8146C126.106 40.1432 126.401 40.4014 126.715 40.5893C127.036 40.7778 127.372 40.8906 127.722 40.9278C128.076 40.9621 128.438 40.9136 128.81 40.7824L129.485 42.2753C128.968 42.492 128.428 42.5807 127.866 42.5412C127.306 42.4989 126.755 42.3295 126.211 42.0331C125.671 41.7338 125.169 41.3085 124.707 40.7574Z"
              ></path>
              <path
                d="M130.056 48.4254C129.72 47.8423 129.524 47.2496 129.469 46.6475C129.418 46.043 129.522 45.4799 129.78 44.9582C130.042 44.4342 130.473 43.9992 131.072 43.6533C131.599 43.3489 132.086 43.206 132.534 43.2246C132.985 43.2409 133.405 43.3686 133.793 43.6077C134.182 43.8468 134.543 44.1496 134.877 44.5159C135.217 44.8839 135.539 45.2655 135.841 45.6606C136.236 46.1783 136.552 46.6005 136.788 46.9273C137.031 47.2557 137.245 47.4733 137.429 47.58C137.615 47.6907 137.822 47.6804 138.05 47.5489L138.098 47.5212C138.689 47.1799 139.055 46.753 139.196 46.2403C139.339 45.7317 139.222 45.1519 138.846 44.5008C138.457 43.8258 138.003 43.3819 137.486 43.1691C136.969 42.9563 136.498 42.8689 136.073 42.9068L135.777 41.288C136.475 41.2048 137.095 41.273 137.637 41.4925C138.185 41.7138 138.659 42.0263 139.057 42.4301C139.461 42.8356 139.797 43.2701 140.065 43.7334C140.236 44.029 140.396 44.3892 140.545 44.8142C140.701 45.2408 140.775 45.6961 140.767 46.1801C140.761 46.6682 140.609 47.1577 140.312 47.6487C140.015 48.1397 139.501 48.5962 138.77 49.0182L132.707 52.5188L131.891 51.1049L133.137 50.3854L133.096 50.3135C132.84 50.3329 132.535 50.2965 132.178 50.2043C131.821 50.1121 131.455 49.9263 131.081 49.6471C130.707 49.3679 130.365 48.9607 130.056 48.4254ZM131.451 47.9078C131.774 48.467 132.156 48.8749 132.597 49.1315C133.04 49.3921 133.492 49.52 133.953 49.5151C134.415 49.5141 134.839 49.403 135.222 49.1816L136.516 48.4344C136.41 48.416 136.268 48.3223 136.09 48.1532C135.919 47.9857 135.735 47.7829 135.539 47.5446C135.349 47.3081 135.167 47.0752 134.992 46.846C134.823 46.6185 134.685 46.4346 134.578 46.2944C134.318 45.9546 134.041 45.656 133.749 45.3988C133.463 45.1432 133.158 44.9786 132.833 44.9051C132.515 44.8333 132.176 44.9012 131.816 45.1088C131.325 45.3924 131.058 45.7886 131.016 46.2974C130.981 46.8078 131.126 47.3446 131.451 47.9078Z"
              ></path>
              <path
                d="M133.86 54.0412L143.845 50.4068L144.385 51.889L142.825 52.4569L142.872 52.5869C143.481 52.6009 144.017 52.7862 144.48 53.1426C144.948 53.4975 145.3 54 145.537 54.6501C145.777 55.3089 145.827 55.9116 145.687 56.4581C145.553 57.0075 145.265 57.5027 144.822 57.9437L144.86 58.0477C145.468 58.1157 146.018 58.3502 146.507 58.7512C147.001 59.1506 147.378 59.7079 147.638 60.423C147.963 61.3158 147.949 62.1478 147.597 62.919C147.249 63.6887 146.488 64.2873 145.313 64.7148L138.63 67.1472L138.072 65.613L144.755 63.1805C145.491 62.9124 145.945 62.5192 146.114 62.001C146.284 61.4828 146.27 60.9506 146.071 60.4045C145.815 59.7024 145.405 59.2358 144.84 59.0047C144.279 58.772 143.676 58.7731 143.03 59.0082L136.529 61.3743L135.961 59.8141L142.8 57.3249C143.368 57.1182 143.758 56.7676 143.971 56.273C144.188 55.7769 144.19 55.2384 143.979 54.6577C143.834 54.2589 143.592 53.9249 143.254 53.6554C142.917 53.3904 142.521 53.2202 142.067 53.1451C141.618 53.0728 141.149 53.1257 140.659 53.3039L134.418 55.5755L133.86 54.0412Z"
              ></path>
              <path
                d="M150.126 69.6598L140.073 71.2919L139.794 69.7113L149.799 67.8066L150.126 69.6598ZM135.9 71.2128C135.841 70.8767 135.91 70.567 136.108 70.2838C136.307 70.0007 136.574 69.8294 136.91 69.7702C137.246 69.7109 137.556 69.7804 137.839 69.9787C138.122 70.177 138.293 70.4442 138.353 70.7803C138.412 71.1164 138.342 71.4261 138.144 71.7092C137.946 71.9924 137.679 72.1636 137.343 72.2229C137.12 72.2621 136.906 72.2414 136.699 72.1607C136.494 72.0845 136.318 71.9633 136.172 71.7971C136.031 71.6347 135.94 71.4399 135.9 71.2128Z"
              ></path>
              <path
                d="M137.504 87.3949L152.13 86.0399L151.827 87.7568L139.948 88.669L139.924 88.8053L150.765 93.7796L150.429 95.6873L138.541 96.654L138.516 96.7902L149.367 101.71L149.064 103.427L135.783 97.1513L136.091 95.4071L147.753 94.2882L147.772 94.1792L137.196 89.1391L137.504 87.3949Z"
              ></path>
              <path
                d="M133.437 103.343C133.667 102.71 133.995 102.179 134.421 101.75C134.852 101.323 135.35 101.04 135.915 100.902C136.485 100.766 137.095 100.816 137.745 101.053C138.317 101.261 138.74 101.543 139.013 101.897C139.291 102.254 139.463 102.657 139.529 103.109C139.596 103.56 139.596 104.031 139.53 104.522C139.467 105.02 139.381 105.511 139.273 105.997C139.13 106.632 139.01 107.145 138.912 107.537C138.816 107.934 138.787 108.237 138.823 108.447C138.858 108.661 138.999 108.813 139.246 108.903L139.298 108.922C139.94 109.155 140.502 109.161 140.985 108.939C141.467 108.722 141.836 108.26 142.093 107.553C142.36 106.821 142.409 106.188 142.239 105.656C142.07 105.123 141.834 104.706 141.532 104.404L142.582 103.137C143.094 103.618 143.44 104.137 143.62 104.693C143.803 105.256 143.868 105.819 143.815 106.384C143.764 106.954 143.647 107.491 143.464 107.994C143.348 108.314 143.175 108.669 142.945 109.056C142.719 109.45 142.417 109.799 142.041 110.104C141.664 110.413 141.191 110.612 140.624 110.7C140.057 110.788 139.377 110.688 138.584 110.399L132.005 108.004L132.563 106.47L133.916 106.962L133.944 106.884C133.765 106.701 133.596 106.444 133.438 106.111C133.279 105.778 133.186 105.379 133.16 104.913C133.133 104.447 133.225 103.923 133.437 103.343ZM134.73 104.078C134.509 104.685 134.442 105.24 134.529 105.743C134.614 106.25 134.807 106.678 135.107 107.028C135.405 107.382 135.762 107.634 136.178 107.786L137.582 108.297C137.528 108.203 137.508 108.034 137.524 107.79C137.542 107.551 137.579 107.28 137.636 106.976C137.695 106.679 137.756 106.39 137.819 106.108C137.885 105.833 137.937 105.609 137.975 105.436C138.069 105.019 138.12 104.615 138.129 104.226C138.141 103.842 138.071 103.503 137.918 103.207C137.769 102.917 137.499 102.701 137.109 102.559C136.576 102.365 136.101 102.415 135.684 102.71C135.27 103.011 134.952 103.467 134.73 104.078Z"
              ></path>
              <path
                d="M137.171 119.514L135.972 118.823L138.726 114.053L139.924 114.745L137.171 119.514ZM141.326 117.408L140.51 118.822L131.739 113.758C131.339 113.527 131.006 113.412 130.74 113.413C130.475 113.42 130.255 113.495 130.081 113.64C129.909 113.791 129.763 113.97 129.643 114.178C129.553 114.333 129.487 114.466 129.446 114.575C129.408 114.686 129.378 114.775 129.355 114.842L127.919 114.397C127.938 114.28 127.98 114.125 128.043 113.933C128.102 113.738 128.208 113.509 128.36 113.245C128.591 112.846 128.903 112.504 129.296 112.22C129.686 111.939 130.13 111.775 130.627 111.726C131.122 111.681 131.636 111.814 132.172 112.123L141.326 117.408Z"
              ></path>
              <path
                d="M123.077 120.198C123.717 119.435 124.449 118.929 125.271 118.681C126.094 118.432 126.946 118.424 127.828 118.658C128.709 118.892 129.556 119.35 130.369 120.032C131.196 120.726 131.798 121.49 132.175 122.324C132.553 123.165 132.691 124.009 132.588 124.856C132.486 125.71 132.127 126.504 131.51 127.239C131.03 127.811 130.491 128.238 129.894 128.52C129.296 128.801 128.684 128.928 128.056 128.901C127.429 128.874 126.831 128.683 126.263 128.327L127.312 127.076C127.763 127.292 128.27 127.356 128.831 127.267C129.394 127.185 129.906 126.869 130.369 126.317C130.778 125.83 131.009 125.296 131.063 124.715C131.118 124.14 131.002 123.558 130.714 122.968C130.427 122.384 129.977 121.834 129.362 121.318C128.733 120.79 128.102 120.43 127.47 120.236C126.835 120.046 126.235 120.025 125.672 120.173C125.106 120.324 124.615 120.647 124.2 121.141C123.927 121.466 123.736 121.809 123.627 122.169C123.518 122.528 123.492 122.889 123.55 123.251C123.608 123.612 123.752 123.957 123.984 124.283L122.934 125.534C122.513 125.06 122.227 124.522 122.076 123.92C121.926 123.324 121.929 122.703 122.085 122.058C122.242 121.419 122.573 120.799 123.077 120.198Z"
              ></path>
              <path
                d="M122.336 130.475L118.227 125.578L119.478 124.528L128.585 135.382L127.335 136.432L123.991 132.446L123.885 132.535C124.047 133.116 124.041 133.69 123.867 134.257C123.692 134.831 123.285 135.386 122.645 135.923C122.091 136.388 121.512 136.685 120.908 136.812C120.307 136.943 119.701 136.877 119.089 136.614C118.476 136.357 117.876 135.879 117.289 135.179L112.949 130.007L114.2 128.958L118.469 134.045C119.011 134.692 119.599 135.051 120.231 135.123C120.862 135.201 121.473 134.992 122.063 134.497C122.473 134.153 122.768 133.758 122.947 133.312C123.124 132.87 123.166 132.404 123.075 131.914C122.98 131.428 122.734 130.948 122.336 130.475Z"
              ></path>
              <path
                d="M101.671 136.329L106.517 149.643L104.904 150.23L100.579 138.346L94.39 140.599L93.8695 139.168L101.671 136.329Z"
              ></path>
              <path
                d="M89.2896 140.041L91.1348 150.506L89.5269 150.789L87.6817 140.324L89.2896 140.041ZM90.6248 152.394C90.9382 152.339 91.2272 152.398 91.492 152.571C91.7522 152.746 91.9087 152.983 91.9616 153.282C92.0144 153.582 91.9484 153.858 91.7635 154.111C91.574 154.365 91.3226 154.519 91.0092 154.574C90.6958 154.63 90.409 154.57 90.1488 154.396C89.884 154.222 89.7252 153.986 89.6724 153.686C89.6195 153.386 89.6878 153.11 89.8773 152.856C90.0622 152.603 90.3114 152.449 90.6248 152.394Z"
              ></path>
              <path
                d="M72.9807 151.732L76.9103 141.105L78.5706 141.105L82.5002 151.732L80.7291 151.732L77.7958 143.264L77.6851 143.264L74.7518 151.732L72.9807 151.732Z"
              ></path>
              <path
                d="M67.3053 139.906C68.3137 140.084 69.1442 140.46 69.797 141.034C70.4445 141.612 70.8949 142.337 71.1483 143.211C71.3963 144.088 71.4259 145.063 71.2368 146.135C71.0478 147.207 70.6859 148.117 70.1512 148.866C69.611 149.618 68.9485 150.162 68.1636 150.497C67.3734 150.835 66.5059 150.921 65.5611 150.754C65.0161 150.658 64.4939 150.472 63.9945 150.197C63.4951 149.922 63.0634 149.541 62.6995 149.055C62.3347 148.574 62.0817 147.977 61.9406 147.264C61.7994 146.55 61.8149 145.705 61.9871 144.729L62.1072 144.048L70.1739 145.47L69.9289 146.86L63.4973 145.726C63.3932 146.316 63.4184 146.864 63.5729 147.369C63.7228 147.873 63.9899 148.297 64.3742 148.641C64.7539 148.984 65.2344 149.207 65.8158 149.31C66.4562 149.423 67.0384 149.361 67.5623 149.126C68.0808 148.894 68.5095 148.548 68.8482 148.088C69.1869 147.628 69.4071 147.11 69.5088 146.533L69.6722 145.606C69.8116 144.816 69.7934 144.122 69.6178 143.524C69.4369 142.93 69.1263 142.447 68.6862 142.074C68.2454 141.706 67.7002 141.465 67.0506 141.351C66.6282 141.276 66.2363 141.268 65.8748 141.326C65.508 141.388 65.1784 141.517 64.8862 141.714C64.5931 141.915 64.3464 142.185 64.1461 142.524L62.6696 141.814C62.926 141.316 63.2825 140.902 63.7391 140.57C64.1948 140.243 64.7262 140.018 65.3332 139.896C65.9394 139.778 66.5968 139.781 67.3053 139.906Z"
              ></path>
              <path
                d="M50.8654 143.812L52.3856 143.924C52.3887 144.185 52.4353 144.455 52.5254 144.733C52.6097 145.014 52.7688 145.278 53.0028 145.525C53.2368 145.772 53.5769 145.977 54.0233 146.139C54.6344 146.362 55.1949 146.406 55.7049 146.273C56.2089 146.142 56.539 145.862 56.6951 145.433C56.834 145.052 56.8049 144.7 56.608 144.378C56.4111 144.056 56.0447 143.714 55.5089 143.352L54.1592 142.449C53.3453 141.907 52.8007 141.333 52.5254 140.728C52.2486 140.126 52.2372 139.477 52.4911 138.779C52.6993 138.207 53.0502 137.755 53.5436 137.425C54.0327 137.092 54.6171 136.902 55.2969 136.855C55.9766 136.808 56.7044 136.926 57.4801 137.208C58.4986 137.579 59.2611 138.107 59.7677 138.792C60.2742 139.477 60.4617 140.276 60.3302 141.19L58.7415 141.025C58.7984 140.437 58.6829 139.938 58.395 139.529C58.1028 139.118 57.6424 138.799 57.014 138.57C56.2989 138.31 55.6759 138.255 55.1451 138.405C54.6084 138.558 54.2619 138.849 54.1058 139.278C53.9796 139.625 53.9952 139.96 54.1527 140.282C54.3087 140.609 54.6167 140.922 55.0769 141.222L56.5992 142.218C57.4348 142.767 57.9843 143.348 58.2477 143.959C58.5052 144.573 58.5086 145.225 58.2578 145.914C58.0527 146.477 57.7131 146.918 57.239 147.236C56.7605 147.553 56.2011 147.734 55.5608 147.781C54.9161 147.826 54.2428 147.721 53.5406 147.466C52.5525 147.106 51.8556 146.607 51.4499 145.968C51.0399 145.328 50.8451 144.61 50.8654 143.812Z"
              ></path>
              <path
                d="M40.0574 140.661L40.7492 139.463L45.5183 142.216L44.8265 143.414L40.0574 140.661ZM42.1635 144.817L40.7496 144L45.8137 135.229C46.0443 134.83 46.1593 134.497 46.1588 134.23C46.152 133.965 46.0763 133.746 45.9318 133.572C45.7809 133.399 45.6017 133.253 45.394 133.133C45.2382 133.043 45.1058 132.978 44.9967 132.936C44.8853 132.898 44.7962 132.868 44.7294 132.845L45.1751 131.409C45.2917 131.429 45.4463 131.47 45.6388 131.533C45.8336 131.592 46.0628 131.698 46.3264 131.85C46.7259 132.081 47.0677 132.393 47.352 132.786C47.6323 133.177 47.7968 133.621 47.8455 134.117C47.8902 134.612 47.758 135.127 47.449 135.662L42.1635 144.817Z"
              ></path>
              <path
                d="M41.3039 128.469L34.4734 136.61L33.2651 135.596L34.2967 134.366L34.2119 134.295C33.7256 134.573 33.1828 134.675 32.5837 134.6C31.9846 134.524 31.4412 134.282 30.9537 133.873C30.8618 133.796 30.7485 133.698 30.6136 133.579C30.4788 133.46 30.379 133.367 30.3143 133.3L31.3816 132.028C31.4151 132.075 31.4989 132.172 31.633 132.321C31.7607 132.47 31.9075 132.614 32.0736 132.754C32.4693 133.086 32.8923 133.299 33.3425 133.394C33.7863 133.489 34.2198 133.468 34.6431 133.329C35.0598 133.191 35.4224 132.939 35.7307 132.571L40.0531 127.42L41.3039 128.469Z"
              ></path>
              <path
                d="M32.297 119.348C32.9551 120.132 33.3497 120.954 33.4808 121.813C33.6054 122.672 33.4839 123.518 33.1165 124.35C32.7425 125.181 32.1387 125.947 31.3049 126.647C30.4711 127.346 29.6087 127.811 28.7178 128.041C27.8204 128.27 26.9635 128.26 26.1471 128.012C25.3243 127.763 24.6045 127.272 23.9879 126.537C23.6321 126.113 23.3515 125.635 23.1459 125.103C22.9404 124.571 22.8543 124.002 22.8877 123.396C22.9175 122.793 23.1077 122.173 23.458 121.536C23.8084 120.898 24.3634 120.261 25.123 119.624L25.653 119.179L30.9182 125.454L29.837 126.361L25.6391 121.358C25.1798 121.744 24.8471 122.179 24.6409 122.665C24.4317 123.148 24.3637 123.645 24.4369 124.155C24.5071 124.662 24.7319 125.142 25.1114 125.594C25.5294 126.092 26.0148 126.419 26.5674 126.576C27.1136 126.732 27.6643 126.742 28.2195 126.607C28.7748 126.473 29.2767 126.217 29.7254 125.841L30.4462 125.236C31.0609 124.72 31.4931 124.177 31.7428 123.606C31.9859 123.035 32.0587 122.465 31.9611 121.897C31.8599 121.331 31.5974 120.796 31.1735 120.291C30.8977 119.962 30.6028 119.704 30.2886 119.516C29.9679 119.327 29.6324 119.215 29.2821 119.177C28.9282 119.143 28.5655 119.192 28.1939 119.323L27.5192 117.83C28.0358 117.613 28.5755 117.525 29.1384 117.564C29.6978 117.606 30.2493 117.776 30.793 118.072C31.3332 118.371 31.8345 118.797 32.297 119.348Z"
              ></path>
              <path
                d="M26.9476 111.68C27.2843 112.263 27.48 112.855 27.5347 113.458C27.5855 114.062 27.4819 114.625 27.2239 115.147C26.9619 115.671 26.5314 116.106 25.9323 116.452C25.405 116.756 24.9177 116.899 24.4702 116.881C24.0188 116.864 23.5989 116.737 23.2106 116.497C22.8222 116.258 22.461 115.956 22.127 115.589C21.7867 115.221 21.4652 114.84 21.1626 114.445C20.7678 113.927 20.4522 113.505 20.2156 113.178C19.9727 112.849 19.7592 112.632 19.5751 112.525C19.3887 112.414 19.1816 112.425 18.954 112.556L18.906 112.584C18.3149 112.925 17.949 113.352 17.8082 113.865C17.6652 114.373 17.7816 114.953 18.1575 115.604C18.5472 116.279 19.0006 116.723 19.5175 116.936C20.0345 117.149 20.5057 117.236 20.9311 117.198L21.2267 118.817C20.5291 118.9 19.9092 118.832 19.3671 118.613C18.8186 118.391 18.3453 118.079 17.947 117.675C17.5425 117.269 17.2065 116.835 16.939 116.372C16.7683 116.076 16.6083 115.716 16.4588 115.291C16.303 114.864 16.2292 114.409 16.2373 113.925C16.2431 113.437 16.3946 112.947 16.6916 112.456C16.9886 111.965 17.5025 111.509 18.2335 111.087L24.2967 107.586L25.1131 109L23.8669 109.72L23.9084 109.792C24.1634 109.772 24.4694 109.809 24.8262 109.901C25.183 109.993 25.5485 110.179 25.9227 110.458C26.297 110.737 26.6386 111.144 26.9476 111.68ZM25.5529 112.197C25.2301 111.638 24.8481 111.23 24.407 110.974C23.9637 110.713 23.5117 110.585 23.0513 110.59C22.5884 110.591 22.1653 110.702 21.7819 110.924L20.4878 111.671C20.5942 111.689 20.7362 111.783 20.9138 111.952C21.085 112.119 21.2687 112.322 21.4648 112.56C21.6546 112.797 21.837 113.03 22.012 113.259C22.1806 113.487 22.3187 113.671 22.4263 113.811C22.6864 114.151 22.9626 114.449 23.2549 114.706C23.541 114.962 23.8463 115.126 24.171 115.2C24.4894 115.272 24.8283 115.204 25.1878 114.996C25.6791 114.713 25.9456 114.317 25.9874 113.808C26.0229 113.297 25.8781 112.761 25.5529 112.197Z"
              ></path>
              <path
                d="M23.144 106.064L13.1585 109.698L12.619 108.216L14.1792 107.648L14.1319 107.518C13.5231 107.504 12.987 107.319 12.5235 106.963C12.0556 106.608 11.7034 106.105 11.4668 105.455C11.227 104.796 11.177 104.194 11.3167 103.647C11.4505 103.098 11.739 102.603 12.1822 102.161L12.1443 102.057C11.5355 101.989 10.9864 101.755 10.4968 101.354C10.003 100.955 9.62593 100.397 9.36566 99.6822C9.0407 98.7894 9.05445 97.9574 9.40689 97.1861C9.75499 96.4165 10.5163 95.8179 11.6908 95.3904L18.3738 92.958L18.9322 94.4922L12.2492 96.9246C11.5124 97.1928 11.0592 97.586 10.8895 98.1042C10.7199 98.6224 10.7344 99.1546 10.9332 99.7007C11.1887 100.403 11.599 100.869 12.1642 101.101C12.7249 101.333 13.3282 101.332 13.974 101.097L20.475 98.7309L21.0428 100.291L14.2038 102.78C13.6361 102.987 13.2459 103.338 13.0332 103.832C12.8163 104.328 12.8135 104.867 13.0248 105.448C13.17 105.846 13.4118 106.18 13.7504 106.45C14.0874 106.715 14.483 106.885 14.9374 106.96C15.3858 107.032 15.8549 106.98 16.3446 106.801L22.5856 104.53L23.144 106.064Z"
              ></path>
              <path
                d="M6.87835 90.4454L16.9312 88.8133L17.21 90.3939L7.20511 92.2985L6.87835 90.4454ZM21.104 88.8924C21.1632 89.2285 21.0937 89.5382 20.8954 89.8214C20.6971 90.1045 20.4299 90.2757 20.0938 90.335C19.7577 90.3943 19.4481 90.3248 19.1649 90.1265C18.8817 89.9282 18.7105 89.661 18.6512 89.3249C18.592 88.9888 18.6615 88.6791 18.8598 88.396C19.058 88.1128 19.3252 87.9416 19.6614 87.8823C19.8839 87.8431 20.0983 87.8638 20.3046 87.9445C20.51 88.0207 20.6859 88.1419 20.8323 88.3081C20.9734 88.4705 21.0639 88.6653 21.104 88.8924Z"
              ></path>
            </g>
            <circle cx="79" cy="80" r="50" fill="#FF0000"></circle>
            <path
              d="M91.6328 78.9022L70.398 89.3046L70.398 68.4999L91.6328 78.9022Z"
              fill="white"></path>
          </svg>
        </a>
        <Image
          src="/images/venueMobile.png"
          alt="Akash Accelerate 2024"
          width="1920"
          height="1080"
          class="object-contain md:hidden"
        />
      </section>
      <a href="https://lu.ma/akashaccelerate24" target="_blank">
        <button
          class="button--bestia relative w-full bg-primary py-4 text-2xl font-bold text-white md:text-3xl"
        >
          <div class="button__bg"></div><span> Register Now</span>
        </button></a
      >
    </div>
    <div
      class="container flex flex-col items-center justify-center gap-[72px] py-10 md:gap-[120px] md:py-[120px]"
    >
      <div class="relative flex flex-col items-center justify-center gap-12">
        <About />
        <p class="max-w-4xl text-center text-xl md:text-2xl">
          Akash Accelerate is a full-day summit that will bring together the
          entire ecosystem for a packed agenda of talks, panels, and discussions
          exploring the future of decentralized compute and open-source AI.
        </p>

        <a
          href={youtube}
          target="_blank"
          class="fixed bottom-5 right-5 z-10 hidden md:flex"
        >
          <svg
            width="157"
            height="161"
            viewBox="0 0 157 161"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g
              class="fill-foreground"
              style="transform-origin: 50% 50%;  animation: spin 10s linear infinite;"
            >
              <path
                d="M19.5003 72.7102L4.8743 74.0652L5.17703 72.3483L17.0554 71.4362L17.0795 71.2999L6.23901 66.3256L6.57538 64.4179L18.4634 63.4512L18.4874 63.315L7.63736 58.3951L7.9401 56.6782L21.2206 62.9539L20.913 64.698L9.25105 65.817L9.23183 65.926L19.8078 70.9661L19.5003 72.7102Z"
              ></path>
              <path
                d="M23.5672 56.7626C23.3369 57.3954 23.0087 57.9262 22.5826 58.3552C22.1522 58.7826 21.6542 59.0652 21.0887 59.203C20.5189 59.3391 19.9089 59.2889 19.2589 59.0523C18.6868 58.8441 18.264 58.5626 17.9907 58.2079C17.713 57.8516 17.5409 57.4478 17.4745 56.9966C17.408 56.5454 17.4077 56.0742 17.4737 55.5828C17.5369 55.0856 17.6225 54.594 17.7306 54.1082C17.8735 53.473 17.994 52.9598 18.0922 52.5686C18.1877 52.1714 18.2172 51.868 18.1806 51.6584C18.1456 51.4444 18.0045 51.2925 17.7575 51.2026L17.7055 51.1836C17.0641 50.9502 16.5018 50.9443 16.0186 51.166C15.537 51.3834 15.1677 51.8453 14.9106 52.5517C14.644 53.2841 14.5953 53.9168 14.7646 54.4495C14.9339 54.9823 15.1698 55.3995 15.4723 55.701L14.4222 56.968C13.9101 56.4871 13.5639 55.9684 13.3836 55.412C13.2005 54.8496 13.1357 54.2861 13.189 53.7215C13.2396 53.1509 13.3564 52.6143 13.5394 52.1115C13.6562 51.7908 13.8292 51.4366 14.0587 51.049C14.2854 50.6554 14.5867 50.3062 14.9627 50.0013C15.3403 49.6921 15.8126 49.4934 16.3797 49.4053C16.9467 49.3172 17.6268 49.4175 18.4199 49.7062L24.9989 52.1007L24.4405 53.635L23.0883 53.1428L23.0599 53.2208C23.2388 53.4037 23.4075 53.6615 23.5662 53.9941C23.7249 54.3267 23.8176 54.7261 23.8443 55.1922C23.8709 55.6584 23.7786 56.1818 23.5672 56.7626ZM22.2742 56.0269C22.495 55.4202 22.562 54.8654 22.475 54.3626C22.3897 53.8554 22.1971 53.427 21.8973 53.0774C21.5992 52.7235 21.242 52.4708 20.826 52.3194L19.4218 51.8083C19.4761 51.9017 19.4956 52.0707 19.4801 52.3154C19.4619 52.5542 19.4246 52.8253 19.3682 53.1287C19.309 53.4262 19.2478 53.7156 19.1847 53.9969C19.1188 54.2723 19.0667 54.4963 19.0284 54.6689C18.9353 55.0866 18.8842 55.49 18.875 55.8794C18.8631 56.2628 18.9333 56.6024 19.0857 56.8984C19.2354 57.1885 19.5052 57.4045 19.8953 57.5464C20.4284 57.7405 20.9032 57.69 21.3198 57.395C21.7336 57.094 22.0517 56.638 22.2742 56.0269Z"
              ></path>
              <path
                d="M19.8333 40.5909L21.0315 41.2827L18.2781 46.0518L17.0798 45.36L19.8333 40.5909ZM15.6775 42.697L16.4939 41.2831L25.2652 46.3472C25.6646 46.5778 25.9976 46.6928 26.2642 46.6923C26.5291 46.6855 26.7485 46.6098 26.9225 46.4653C27.0948 46.3144 27.2409 46.1352 27.3608 45.9275C27.4508 45.7717 27.5166 45.6393 27.5583 45.5302C27.5959 45.4188 27.6261 45.3297 27.6487 45.2629L29.0849 45.7086C29.0655 45.8252 29.0242 45.9798 28.961 46.1723C28.9018 46.3671 28.796 46.5963 28.6438 46.8599C28.4132 47.2594 28.1014 47.6012 27.7082 47.8855C27.3174 48.1658 26.8736 48.3303 26.3768 48.379C25.8824 48.4237 25.3675 48.2915 24.8323 47.9825L15.6775 42.697Z"
              ></path>
              <path
                d="M33.9274 39.9067C33.287 40.6699 32.5554 41.1758 31.7325 41.4246C30.9097 41.6734 30.0575 41.6808 29.1761 41.4469C28.2946 41.213 27.4476 40.7552 26.635 40.0733C25.8082 39.3796 25.2061 38.6155 24.8287 37.7809C24.4506 36.9399 24.313 36.0959 24.4156 35.2488C24.5177 34.3953 24.8771 33.6011 25.4937 32.8662C25.974 32.2938 26.5128 31.8669 27.1102 31.5855C27.7076 31.3041 28.3201 31.1768 28.9478 31.2038C29.5754 31.2307 30.1732 31.4223 30.7413 31.7785L29.6918 33.0292C29.2408 32.8134 28.7344 32.7496 28.1725 32.8381C27.61 32.92 27.0975 33.2366 26.6351 33.7877C26.2259 34.2753 25.9944 34.8095 25.9405 35.3904C25.886 35.9648 26.0024 36.5472 26.2897 37.1375C26.5765 37.7213 27.0273 38.2712 27.6421 38.787C28.271 39.3147 28.9016 39.6753 29.534 39.8688C30.1693 40.0587 30.7686 40.0799 31.3319 39.9324C31.8982 39.7814 32.3888 39.4586 32.8038 38.964C33.0766 38.6389 33.2676 38.2965 33.3769 37.9366C33.4862 37.5768 33.5119 37.216 33.4541 36.8544C33.3963 36.4928 33.2516 36.1487 33.02 35.8219L34.0695 34.5712C34.4907 35.045 34.7767 35.5831 34.9276 36.1854C35.078 36.7811 35.075 37.4018 34.9187 38.0473C34.7618 38.6863 34.4313 39.3061 33.9274 39.9067Z"
              ></path>
              <path
                d="M34.6675 29.6305L38.7765 34.5273L37.5258 35.5768L28.4185 24.7232L29.6692 23.6737L33.0133 27.659L33.1193 27.5701C32.9573 26.9895 32.9633 26.4155 33.1373 25.848C33.312 25.274 33.719 24.7188 34.3585 24.1822C34.9132 23.7167 35.4924 23.4204 36.0961 23.2931C36.6968 23.1624 37.3032 23.2285 37.9153 23.4916C38.5279 23.7481 39.1277 24.2262 39.7147 24.9258L44.0549 30.0982L42.8042 31.1477L38.5352 26.06C37.9927 25.4135 37.4053 25.0544 36.7732 24.9827C36.1417 24.9045 35.5309 25.113 34.9409 25.6081C34.531 25.952 34.2362 26.3468 34.0565 26.7927C33.8802 27.2356 33.8378 27.7017 33.9292 28.1909C34.0242 28.6772 34.2703 29.157 34.6675 29.6305Z"
              ></path>
              <path
                d="M55.3333 23.7761L50.4874 10.4621L52.0996 9.87531L56.425 21.7591L62.6139 19.5065L63.1345 20.9367L55.3333 23.7761Z"
              ></path>
              <path
                d="M67.7144 20.0642L65.8691 9.59931L67.477 9.3158L69.3222 19.7807L67.7144 20.0642ZM66.3791 7.711C66.0657 7.76626 65.7767 7.70718 65.5119 7.53374C65.2517 7.35951 65.0952 7.12251 65.0423 6.82273C64.9895 6.52295 65.0555 6.2467 65.2404 5.99398C65.4299 5.74046 65.6813 5.58607 65.9947 5.53081C66.3081 5.47555 66.5949 5.53504 66.8551 5.70927C67.1199 5.8827 67.2787 6.11931 67.3315 6.41908C67.3844 6.71886 67.3161 6.99551 67.1266 7.24903C66.9417 7.50175 66.6925 7.65574 66.3791 7.711Z"
              ></path>
              <path
                d="M84.0232 8.37366L80.0936 19H78.4333L74.5037 8.37366H76.2748L79.2081 16.8415H79.3188L82.2521 8.37366H84.0232Z"
              ></path>
              <path
                d="M89.6986 20.199C88.6902 20.0213 87.8597 19.6453 87.2069 19.0713C86.5595 18.4934 86.109 17.7677 85.8556 16.8941C85.6076 16.0168 85.578 15.0421 85.7671 13.9702C85.9561 12.8983 86.318 11.9879 86.8527 11.2392C87.3929 10.4868 88.0554 9.94329 88.8403 9.60868C89.6305 9.27033 90.498 9.18445 91.4428 9.35103C91.9878 9.44714 92.51 9.63288 93.0094 9.90827C93.5088 10.1837 93.9405 10.5642 94.3044 11.0499C94.6692 11.531 94.9222 12.1282 95.0633 12.8415C95.2045 13.5549 95.189 14.3998 95.0168 15.3764L94.8967 16.0577L86.83 14.6353L87.075 13.2454L93.5066 14.3795C93.6107 13.789 93.5855 13.2413 93.431 12.7364C93.2811 12.2322 93.014 11.8081 92.6297 11.4641C92.25 11.1208 91.7695 10.8979 91.1881 10.7954C90.5477 10.6825 89.9655 10.7437 89.4416 10.9792C88.9231 11.2109 88.4944 11.5568 88.1557 12.0169C87.817 12.4771 87.5968 12.9955 87.4951 13.5724L87.3317 14.499C87.1923 15.2893 87.2105 15.9833 87.3861 16.5809C87.5671 17.1748 87.8776 17.6581 88.3177 18.0307C88.7585 18.3988 89.3037 18.6401 89.9533 18.7547C90.3757 18.8292 90.7676 18.8374 91.1291 18.7794C91.4959 18.7176 91.8255 18.5884 92.1177 18.3917C92.4108 18.1905 92.6575 17.9202 92.8578 17.5808L94.3343 18.2908C94.0779 18.7888 93.7214 19.2037 93.2649 19.5353C92.8091 19.8624 92.2777 20.0871 91.6707 20.2096C91.0645 20.3275 90.4071 20.324 89.6986 20.199Z"
              ></path>
              <path
                d="M106.139 16.2932L104.618 16.1816C104.615 15.9204 104.569 15.6506 104.478 15.3724C104.394 15.0914 104.235 14.8274 104.001 14.5803C103.767 14.3331 103.427 14.1283 102.981 13.9658C102.369 13.7434 101.809 13.6989 101.299 13.8324C100.795 13.963 100.465 14.2429 100.309 14.672C100.17 15.0534 100.199 15.405 100.396 15.727C100.593 16.049 100.959 16.391 101.495 16.7529L102.845 17.6564C103.659 18.198 104.203 18.7717 104.478 19.3775C104.755 19.9788 104.767 20.6284 104.513 21.3262C104.305 21.8983 103.954 22.3497 103.46 22.6806C102.971 23.013 102.387 23.2028 101.707 23.2499C101.027 23.2969 100.3 23.1793 99.5238 22.8969C98.5053 22.5262 97.7428 21.9984 97.2362 21.3134C96.7297 20.6284 96.5422 19.8289 96.6737 18.9147L98.2624 19.0807C98.2055 19.6686 98.321 20.1671 98.6089 20.5762C98.9012 20.9868 99.3615 21.3065 99.9899 21.5353C100.705 21.7956 101.328 21.8505 101.859 21.7001C102.396 21.547 102.742 21.2559 102.898 20.8269C103.024 20.4801 103.009 20.1456 102.851 19.8232C102.695 19.4965 102.387 19.1832 101.927 18.8832L100.405 17.8874C99.5691 17.3378 99.0196 16.7574 98.7562 16.1462C98.4987 15.5322 98.4953 14.8807 98.7461 14.1916C98.9512 13.6281 99.2908 13.1873 99.7649 12.8691C100.243 12.5524 100.803 12.3707 101.443 12.324C102.088 12.2789 102.761 12.3841 103.463 12.6396C104.451 12.9993 105.148 13.4984 105.554 14.1368C105.964 14.7769 106.159 15.4957 106.139 16.2932Z"
              ></path>
              <path
                d="M116.947 19.4443L116.255 20.6426L111.486 17.8891L112.177 16.6909L116.947 19.4443ZM114.84 15.2886L116.254 16.1049L111.19 24.8762C110.96 25.2756 110.845 25.6086 110.845 25.8752C110.852 26.1401 110.928 26.3596 111.072 26.5336C111.223 26.7058 111.402 26.8519 111.61 26.9719C111.766 27.0618 111.898 27.1276 112.007 27.1693C112.119 27.207 112.208 27.2371 112.275 27.2597L111.829 28.6959C111.712 28.6765 111.558 28.6352 111.365 28.572C111.17 28.5128 110.941 28.4071 110.677 28.2549C110.278 28.0243 109.936 27.7124 109.652 27.3193C109.372 26.9284 109.207 26.4846 109.158 25.9879C109.114 25.4934 109.246 24.9785 109.555 24.4433L114.84 15.2886Z"
              ></path>
              <path
                d="M115.7 31.6357L122.531 23.4955L123.739 24.5094L122.707 25.7389L122.792 25.8101C123.278 25.5318 123.821 25.4303 124.42 25.5056C125.019 25.5808 125.563 25.823 126.05 26.2321C126.142 26.3092 126.255 26.4073 126.39 26.5265C126.525 26.6456 126.625 26.7384 126.69 26.8047L125.622 28.0767C125.589 28.0305 125.505 27.9331 125.371 27.7844C125.243 27.6351 125.096 27.4908 124.93 27.3515C124.535 27.0195 124.112 26.806 123.661 26.7112C123.218 26.6158 122.784 26.6374 122.361 26.7759C121.944 26.9138 121.582 27.1665 121.273 27.534L116.951 32.6852L115.7 31.6357Z"
              ></path>
              <path
                d="M124.707 40.7574C124.049 39.973 123.654 39.1512 123.523 38.2918C123.399 37.433 123.52 36.5875 123.887 35.7554C124.261 34.9239 124.865 34.1583 125.699 33.4586C126.533 32.759 127.395 32.2943 128.286 32.0645C129.184 31.8353 130.04 31.8448 130.857 32.093C131.68 32.3417 132.399 32.8336 133.016 33.5684C133.372 33.9924 133.652 34.4704 133.858 35.0023C134.064 35.5343 134.15 36.1033 134.116 36.7093C134.086 37.3123 133.896 37.9324 133.546 38.5696C133.195 39.2068 132.64 39.8441 131.881 40.4814L131.351 40.9261L126.086 34.6514L127.167 33.7442L131.365 38.7471C131.824 38.3617 132.157 37.9259 132.363 37.4398C132.572 36.9572 132.64 36.4606 132.567 35.9501C132.497 35.4431 132.272 34.9634 131.893 34.5112C131.474 34.013 130.989 33.6857 130.436 33.5294C129.89 33.3735 129.34 33.363 128.784 33.4978C128.229 33.6325 127.727 33.8881 127.278 34.2647L126.558 34.8694C125.943 35.3853 125.511 35.9286 125.261 36.4993C125.018 37.0705 124.945 37.6403 125.043 38.2087C125.144 38.7741 125.407 39.3094 125.83 39.8146C126.106 40.1432 126.401 40.4014 126.715 40.5893C127.036 40.7778 127.372 40.8906 127.722 40.9278C128.076 40.9621 128.438 40.9136 128.81 40.7824L129.485 42.2753C128.968 42.492 128.428 42.5807 127.866 42.5412C127.306 42.4989 126.755 42.3295 126.211 42.0331C125.671 41.7338 125.169 41.3085 124.707 40.7574Z"
              ></path>
              <path
                d="M130.056 48.4254C129.72 47.8423 129.524 47.2496 129.469 46.6475C129.418 46.043 129.522 45.4799 129.78 44.9582C130.042 44.4342 130.473 43.9992 131.072 43.6533C131.599 43.3489 132.086 43.206 132.534 43.2246C132.985 43.2409 133.405 43.3686 133.793 43.6077C134.182 43.8468 134.543 44.1496 134.877 44.5159C135.217 44.8839 135.539 45.2655 135.841 45.6606C136.236 46.1783 136.552 46.6005 136.788 46.9273C137.031 47.2557 137.245 47.4733 137.429 47.58C137.615 47.6907 137.822 47.6804 138.05 47.5489L138.098 47.5212C138.689 47.1799 139.055 46.753 139.196 46.2403C139.339 45.7317 139.222 45.1519 138.846 44.5008C138.457 43.8258 138.003 43.3819 137.486 43.1691C136.969 42.9563 136.498 42.8689 136.073 42.9068L135.777 41.288C136.475 41.2048 137.095 41.273 137.637 41.4925C138.185 41.7138 138.659 42.0263 139.057 42.4301C139.461 42.8356 139.797 43.2701 140.065 43.7334C140.236 44.029 140.396 44.3892 140.545 44.8142C140.701 45.2408 140.775 45.6961 140.767 46.1801C140.761 46.6682 140.609 47.1577 140.312 47.6487C140.015 48.1397 139.501 48.5962 138.77 49.0182L132.707 52.5188L131.891 51.1049L133.137 50.3854L133.096 50.3135C132.84 50.3329 132.535 50.2965 132.178 50.2043C131.821 50.1121 131.455 49.9263 131.081 49.6471C130.707 49.3679 130.365 48.9607 130.056 48.4254ZM131.451 47.9078C131.774 48.467 132.156 48.8749 132.597 49.1315C133.04 49.3921 133.492 49.52 133.953 49.5151C134.415 49.5141 134.839 49.403 135.222 49.1816L136.516 48.4344C136.41 48.416 136.268 48.3223 136.09 48.1532C135.919 47.9857 135.735 47.7829 135.539 47.5446C135.349 47.3081 135.167 47.0752 134.992 46.846C134.823 46.6185 134.685 46.4346 134.578 46.2944C134.318 45.9546 134.041 45.656 133.749 45.3988C133.463 45.1432 133.158 44.9786 132.833 44.9051C132.515 44.8333 132.176 44.9012 131.816 45.1088C131.325 45.3924 131.058 45.7886 131.016 46.2974C130.981 46.8078 131.126 47.3446 131.451 47.9078Z"
              ></path>
              <path
                d="M133.86 54.0412L143.845 50.4068L144.385 51.889L142.825 52.4569L142.872 52.5869C143.481 52.6009 144.017 52.7862 144.48 53.1426C144.948 53.4975 145.3 54 145.537 54.6501C145.777 55.3089 145.827 55.9116 145.687 56.4581C145.553 57.0075 145.265 57.5027 144.822 57.9437L144.86 58.0477C145.468 58.1157 146.018 58.3502 146.507 58.7512C147.001 59.1506 147.378 59.7079 147.638 60.423C147.963 61.3158 147.949 62.1478 147.597 62.919C147.249 63.6887 146.488 64.2873 145.313 64.7148L138.63 67.1472L138.072 65.613L144.755 63.1805C145.491 62.9124 145.945 62.5192 146.114 62.001C146.284 61.4828 146.27 60.9506 146.071 60.4045C145.815 59.7024 145.405 59.2358 144.84 59.0047C144.279 58.772 143.676 58.7731 143.03 59.0082L136.529 61.3743L135.961 59.8141L142.8 57.3249C143.368 57.1182 143.758 56.7676 143.971 56.273C144.188 55.7769 144.19 55.2384 143.979 54.6577C143.834 54.2589 143.592 53.9249 143.254 53.6554C142.917 53.3904 142.521 53.2202 142.067 53.1451C141.618 53.0728 141.149 53.1257 140.659 53.3039L134.418 55.5755L133.86 54.0412Z"
              ></path>
              <path
                d="M150.126 69.6598L140.073 71.2919L139.794 69.7113L149.799 67.8066L150.126 69.6598ZM135.9 71.2128C135.841 70.8767 135.91 70.567 136.108 70.2838C136.307 70.0007 136.574 69.8294 136.91 69.7702C137.246 69.7109 137.556 69.7804 137.839 69.9787C138.122 70.177 138.293 70.4442 138.353 70.7803C138.412 71.1164 138.342 71.4261 138.144 71.7092C137.946 71.9924 137.679 72.1636 137.343 72.2229C137.12 72.2621 136.906 72.2414 136.699 72.1607C136.494 72.0845 136.318 71.9633 136.172 71.7971C136.031 71.6347 135.94 71.4399 135.9 71.2128Z"
              ></path>
              <path
                d="M137.504 87.3949L152.13 86.0399L151.827 87.7568L139.948 88.669L139.924 88.8053L150.765 93.7796L150.429 95.6873L138.541 96.654L138.516 96.7902L149.367 101.71L149.064 103.427L135.783 97.1513L136.091 95.4071L147.753 94.2882L147.772 94.1792L137.196 89.1391L137.504 87.3949Z"
              ></path>
              <path
                d="M133.437 103.343C133.667 102.71 133.995 102.179 134.421 101.75C134.852 101.323 135.35 101.04 135.915 100.902C136.485 100.766 137.095 100.816 137.745 101.053C138.317 101.261 138.74 101.543 139.013 101.897C139.291 102.254 139.463 102.657 139.529 103.109C139.596 103.56 139.596 104.031 139.53 104.522C139.467 105.02 139.381 105.511 139.273 105.997C139.13 106.632 139.01 107.145 138.912 107.537C138.816 107.934 138.787 108.237 138.823 108.447C138.858 108.661 138.999 108.813 139.246 108.903L139.298 108.922C139.94 109.155 140.502 109.161 140.985 108.939C141.467 108.722 141.836 108.26 142.093 107.553C142.36 106.821 142.409 106.188 142.239 105.656C142.07 105.123 141.834 104.706 141.532 104.404L142.582 103.137C143.094 103.618 143.44 104.137 143.62 104.693C143.803 105.256 143.868 105.819 143.815 106.384C143.764 106.954 143.647 107.491 143.464 107.994C143.348 108.314 143.175 108.669 142.945 109.056C142.719 109.45 142.417 109.799 142.041 110.104C141.664 110.413 141.191 110.612 140.624 110.7C140.057 110.788 139.377 110.688 138.584 110.399L132.005 108.004L132.563 106.47L133.916 106.962L133.944 106.884C133.765 106.701 133.596 106.444 133.438 106.111C133.279 105.778 133.186 105.379 133.16 104.913C133.133 104.447 133.225 103.923 133.437 103.343ZM134.73 104.078C134.509 104.685 134.442 105.24 134.529 105.743C134.614 106.25 134.807 106.678 135.107 107.028C135.405 107.382 135.762 107.634 136.178 107.786L137.582 108.297C137.528 108.203 137.508 108.034 137.524 107.79C137.542 107.551 137.579 107.28 137.636 106.976C137.695 106.679 137.756 106.39 137.819 106.108C137.885 105.833 137.937 105.609 137.975 105.436C138.069 105.019 138.12 104.615 138.129 104.226C138.141 103.842 138.071 103.503 137.918 103.207C137.769 102.917 137.499 102.701 137.109 102.559C136.576 102.365 136.101 102.415 135.684 102.71C135.27 103.011 134.952 103.467 134.73 104.078Z"
              ></path>
              <path
                d="M137.171 119.514L135.972 118.823L138.726 114.053L139.924 114.745L137.171 119.514ZM141.326 117.408L140.51 118.822L131.739 113.758C131.339 113.527 131.006 113.412 130.74 113.413C130.475 113.42 130.255 113.495 130.081 113.64C129.909 113.791 129.763 113.97 129.643 114.178C129.553 114.333 129.487 114.466 129.446 114.575C129.408 114.686 129.378 114.775 129.355 114.842L127.919 114.397C127.938 114.28 127.98 114.125 128.043 113.933C128.102 113.738 128.208 113.509 128.36 113.245C128.591 112.846 128.903 112.504 129.296 112.22C129.686 111.939 130.13 111.775 130.627 111.726C131.122 111.681 131.636 111.814 132.172 112.123L141.326 117.408Z"
              ></path>
              <path
                d="M123.077 120.198C123.717 119.435 124.449 118.929 125.271 118.681C126.094 118.432 126.946 118.424 127.828 118.658C128.709 118.892 129.556 119.35 130.369 120.032C131.196 120.726 131.798 121.49 132.175 122.324C132.553 123.165 132.691 124.009 132.588 124.856C132.486 125.71 132.127 126.504 131.51 127.239C131.03 127.811 130.491 128.238 129.894 128.52C129.296 128.801 128.684 128.928 128.056 128.901C127.429 128.874 126.831 128.683 126.263 128.327L127.312 127.076C127.763 127.292 128.27 127.356 128.831 127.267C129.394 127.185 129.906 126.869 130.369 126.317C130.778 125.83 131.009 125.296 131.063 124.715C131.118 124.14 131.002 123.558 130.714 122.968C130.427 122.384 129.977 121.834 129.362 121.318C128.733 120.79 128.102 120.43 127.47 120.236C126.835 120.046 126.235 120.025 125.672 120.173C125.106 120.324 124.615 120.647 124.2 121.141C123.927 121.466 123.736 121.809 123.627 122.169C123.518 122.528 123.492 122.889 123.55 123.251C123.608 123.612 123.752 123.957 123.984 124.283L122.934 125.534C122.513 125.06 122.227 124.522 122.076 123.92C121.926 123.324 121.929 122.703 122.085 122.058C122.242 121.419 122.573 120.799 123.077 120.198Z"
              ></path>
              <path
                d="M122.336 130.475L118.227 125.578L119.478 124.528L128.585 135.382L127.335 136.432L123.991 132.446L123.885 132.535C124.047 133.116 124.041 133.69 123.867 134.257C123.692 134.831 123.285 135.386 122.645 135.923C122.091 136.388 121.512 136.685 120.908 136.812C120.307 136.943 119.701 136.877 119.089 136.614C118.476 136.357 117.876 135.879 117.289 135.179L112.949 130.007L114.2 128.958L118.469 134.045C119.011 134.692 119.599 135.051 120.231 135.123C120.862 135.201 121.473 134.992 122.063 134.497C122.473 134.153 122.768 133.758 122.947 133.312C123.124 132.87 123.166 132.404 123.075 131.914C122.98 131.428 122.734 130.948 122.336 130.475Z"
              ></path>
              <path
                d="M101.671 136.329L106.517 149.643L104.904 150.23L100.579 138.346L94.39 140.599L93.8695 139.168L101.671 136.329Z"
              ></path>
              <path
                d="M89.2896 140.041L91.1348 150.506L89.5269 150.789L87.6817 140.324L89.2896 140.041ZM90.6248 152.394C90.9382 152.339 91.2272 152.398 91.492 152.571C91.7522 152.746 91.9087 152.983 91.9616 153.282C92.0144 153.582 91.9484 153.858 91.7635 154.111C91.574 154.365 91.3226 154.519 91.0092 154.574C90.6958 154.63 90.409 154.57 90.1488 154.396C89.884 154.222 89.7252 153.986 89.6724 153.686C89.6195 153.386 89.6878 153.11 89.8773 152.856C90.0622 152.603 90.3114 152.449 90.6248 152.394Z"
              ></path>
              <path
                d="M72.9807 151.732L76.9103 141.105L78.5706 141.105L82.5002 151.732L80.7291 151.732L77.7958 143.264L77.6851 143.264L74.7518 151.732L72.9807 151.732Z"
              ></path>
              <path
                d="M67.3053 139.906C68.3137 140.084 69.1442 140.46 69.797 141.034C70.4445 141.612 70.8949 142.337 71.1483 143.211C71.3963 144.088 71.4259 145.063 71.2368 146.135C71.0478 147.207 70.6859 148.117 70.1512 148.866C69.611 149.618 68.9485 150.162 68.1636 150.497C67.3734 150.835 66.5059 150.921 65.5611 150.754C65.0161 150.658 64.4939 150.472 63.9945 150.197C63.4951 149.922 63.0634 149.541 62.6995 149.055C62.3347 148.574 62.0817 147.977 61.9406 147.264C61.7994 146.55 61.8149 145.705 61.9871 144.729L62.1072 144.048L70.1739 145.47L69.9289 146.86L63.4973 145.726C63.3932 146.316 63.4184 146.864 63.5729 147.369C63.7228 147.873 63.9899 148.297 64.3742 148.641C64.7539 148.984 65.2344 149.207 65.8158 149.31C66.4562 149.423 67.0384 149.361 67.5623 149.126C68.0808 148.894 68.5095 148.548 68.8482 148.088C69.1869 147.628 69.4071 147.11 69.5088 146.533L69.6722 145.606C69.8116 144.816 69.7934 144.122 69.6178 143.524C69.4369 142.93 69.1263 142.447 68.6862 142.074C68.2454 141.706 67.7002 141.465 67.0506 141.351C66.6282 141.276 66.2363 141.268 65.8748 141.326C65.508 141.388 65.1784 141.517 64.8862 141.714C64.5931 141.915 64.3464 142.185 64.1461 142.524L62.6696 141.814C62.926 141.316 63.2825 140.902 63.7391 140.57C64.1948 140.243 64.7262 140.018 65.3332 139.896C65.9394 139.778 66.5968 139.781 67.3053 139.906Z"
              ></path>
              <path
                d="M50.8654 143.812L52.3856 143.924C52.3887 144.185 52.4353 144.455 52.5254 144.733C52.6097 145.014 52.7688 145.278 53.0028 145.525C53.2368 145.772 53.5769 145.977 54.0233 146.139C54.6344 146.362 55.1949 146.406 55.7049 146.273C56.2089 146.142 56.539 145.862 56.6951 145.433C56.834 145.052 56.8049 144.7 56.608 144.378C56.4111 144.056 56.0447 143.714 55.5089 143.352L54.1592 142.449C53.3453 141.907 52.8007 141.333 52.5254 140.728C52.2486 140.126 52.2372 139.477 52.4911 138.779C52.6993 138.207 53.0502 137.755 53.5436 137.425C54.0327 137.092 54.6171 136.902 55.2969 136.855C55.9766 136.808 56.7044 136.926 57.4801 137.208C58.4986 137.579 59.2611 138.107 59.7677 138.792C60.2742 139.477 60.4617 140.276 60.3302 141.19L58.7415 141.025C58.7984 140.437 58.6829 139.938 58.395 139.529C58.1028 139.118 57.6424 138.799 57.014 138.57C56.2989 138.31 55.6759 138.255 55.1451 138.405C54.6084 138.558 54.2619 138.849 54.1058 139.278C53.9796 139.625 53.9952 139.96 54.1527 140.282C54.3087 140.609 54.6167 140.922 55.0769 141.222L56.5992 142.218C57.4348 142.767 57.9843 143.348 58.2477 143.959C58.5052 144.573 58.5086 145.225 58.2578 145.914C58.0527 146.477 57.7131 146.918 57.239 147.236C56.7605 147.553 56.2011 147.734 55.5608 147.781C54.9161 147.826 54.2428 147.721 53.5406 147.466C52.5525 147.106 51.8556 146.607 51.4499 145.968C51.0399 145.328 50.8451 144.61 50.8654 143.812Z"
              ></path>
              <path
                d="M40.0574 140.661L40.7492 139.463L45.5183 142.216L44.8265 143.414L40.0574 140.661ZM42.1635 144.817L40.7496 144L45.8137 135.229C46.0443 134.83 46.1593 134.497 46.1588 134.23C46.152 133.965 46.0763 133.746 45.9318 133.572C45.7809 133.399 45.6017 133.253 45.394 133.133C45.2382 133.043 45.1058 132.978 44.9967 132.936C44.8853 132.898 44.7962 132.868 44.7294 132.845L45.1751 131.409C45.2917 131.429 45.4463 131.47 45.6388 131.533C45.8336 131.592 46.0628 131.698 46.3264 131.85C46.7259 132.081 47.0677 132.393 47.352 132.786C47.6323 133.177 47.7968 133.621 47.8455 134.117C47.8902 134.612 47.758 135.127 47.449 135.662L42.1635 144.817Z"
              ></path>
              <path
                d="M41.3039 128.469L34.4734 136.61L33.2651 135.596L34.2967 134.366L34.2119 134.295C33.7256 134.573 33.1828 134.675 32.5837 134.6C31.9846 134.524 31.4412 134.282 30.9537 133.873C30.8618 133.796 30.7485 133.698 30.6136 133.579C30.4788 133.46 30.379 133.367 30.3143 133.3L31.3816 132.028C31.4151 132.075 31.4989 132.172 31.633 132.321C31.7607 132.47 31.9075 132.614 32.0736 132.754C32.4693 133.086 32.8923 133.299 33.3425 133.394C33.7863 133.489 34.2198 133.468 34.6431 133.329C35.0598 133.191 35.4224 132.939 35.7307 132.571L40.0531 127.42L41.3039 128.469Z"
              ></path>
              <path
                d="M32.297 119.348C32.9551 120.132 33.3497 120.954 33.4808 121.813C33.6054 122.672 33.4839 123.518 33.1165 124.35C32.7425 125.181 32.1387 125.947 31.3049 126.647C30.4711 127.346 29.6087 127.811 28.7178 128.041C27.8204 128.27 26.9635 128.26 26.1471 128.012C25.3243 127.763 24.6045 127.272 23.9879 126.537C23.6321 126.113 23.3515 125.635 23.1459 125.103C22.9404 124.571 22.8543 124.002 22.8877 123.396C22.9175 122.793 23.1077 122.173 23.458 121.536C23.8084 120.898 24.3634 120.261 25.123 119.624L25.653 119.179L30.9182 125.454L29.837 126.361L25.6391 121.358C25.1798 121.744 24.8471 122.179 24.6409 122.665C24.4317 123.148 24.3637 123.645 24.4369 124.155C24.5071 124.662 24.7319 125.142 25.1114 125.594C25.5294 126.092 26.0148 126.419 26.5674 126.576C27.1136 126.732 27.6643 126.742 28.2195 126.607C28.7748 126.473 29.2767 126.217 29.7254 125.841L30.4462 125.236C31.0609 124.72 31.4931 124.177 31.7428 123.606C31.9859 123.035 32.0587 122.465 31.9611 121.897C31.8599 121.331 31.5974 120.796 31.1735 120.291C30.8977 119.962 30.6028 119.704 30.2886 119.516C29.9679 119.327 29.6324 119.215 29.2821 119.177C28.9282 119.143 28.5655 119.192 28.1939 119.323L27.5192 117.83C28.0358 117.613 28.5755 117.525 29.1384 117.564C29.6978 117.606 30.2493 117.776 30.793 118.072C31.3332 118.371 31.8345 118.797 32.297 119.348Z"
              ></path>
              <path
                d="M26.9476 111.68C27.2843 112.263 27.48 112.855 27.5347 113.458C27.5855 114.062 27.4819 114.625 27.2239 115.147C26.9619 115.671 26.5314 116.106 25.9323 116.452C25.405 116.756 24.9177 116.899 24.4702 116.881C24.0188 116.864 23.5989 116.737 23.2106 116.497C22.8222 116.258 22.461 115.956 22.127 115.589C21.7867 115.221 21.4652 114.84 21.1626 114.445C20.7678 113.927 20.4522 113.505 20.2156 113.178C19.9727 112.849 19.7592 112.632 19.5751 112.525C19.3887 112.414 19.1816 112.425 18.954 112.556L18.906 112.584C18.3149 112.925 17.949 113.352 17.8082 113.865C17.6652 114.373 17.7816 114.953 18.1575 115.604C18.5472 116.279 19.0006 116.723 19.5175 116.936C20.0345 117.149 20.5057 117.236 20.9311 117.198L21.2267 118.817C20.5291 118.9 19.9092 118.832 19.3671 118.613C18.8186 118.391 18.3453 118.079 17.947 117.675C17.5425 117.269 17.2065 116.835 16.939 116.372C16.7683 116.076 16.6083 115.716 16.4588 115.291C16.303 114.864 16.2292 114.409 16.2373 113.925C16.2431 113.437 16.3946 112.947 16.6916 112.456C16.9886 111.965 17.5025 111.509 18.2335 111.087L24.2967 107.586L25.1131 109L23.8669 109.72L23.9084 109.792C24.1634 109.772 24.4694 109.809 24.8262 109.901C25.183 109.993 25.5485 110.179 25.9227 110.458C26.297 110.737 26.6386 111.144 26.9476 111.68ZM25.5529 112.197C25.2301 111.638 24.8481 111.23 24.407 110.974C23.9637 110.713 23.5117 110.585 23.0513 110.59C22.5884 110.591 22.1653 110.702 21.7819 110.924L20.4878 111.671C20.5942 111.689 20.7362 111.783 20.9138 111.952C21.085 112.119 21.2687 112.322 21.4648 112.56C21.6546 112.797 21.837 113.03 22.012 113.259C22.1806 113.487 22.3187 113.671 22.4263 113.811C22.6864 114.151 22.9626 114.449 23.2549 114.706C23.541 114.962 23.8463 115.126 24.171 115.2C24.4894 115.272 24.8283 115.204 25.1878 114.996C25.6791 114.713 25.9456 114.317 25.9874 113.808C26.0229 113.297 25.8781 112.761 25.5529 112.197Z"
              ></path>
              <path
                d="M23.144 106.064L13.1585 109.698L12.619 108.216L14.1792 107.648L14.1319 107.518C13.5231 107.504 12.987 107.319 12.5235 106.963C12.0556 106.608 11.7034 106.105 11.4668 105.455C11.227 104.796 11.177 104.194 11.3167 103.647C11.4505 103.098 11.739 102.603 12.1822 102.161L12.1443 102.057C11.5355 101.989 10.9864 101.755 10.4968 101.354C10.003 100.955 9.62593 100.397 9.36566 99.6822C9.0407 98.7894 9.05445 97.9574 9.40689 97.1861C9.75499 96.4165 10.5163 95.8179 11.6908 95.3904L18.3738 92.958L18.9322 94.4922L12.2492 96.9246C11.5124 97.1928 11.0592 97.586 10.8895 98.1042C10.7199 98.6224 10.7344 99.1546 10.9332 99.7007C11.1887 100.403 11.599 100.869 12.1642 101.101C12.7249 101.333 13.3282 101.332 13.974 101.097L20.475 98.7309L21.0428 100.291L14.2038 102.78C13.6361 102.987 13.2459 103.338 13.0332 103.832C12.8163 104.328 12.8135 104.867 13.0248 105.448C13.17 105.846 13.4118 106.18 13.7504 106.45C14.0874 106.715 14.483 106.885 14.9374 106.96C15.3858 107.032 15.8549 106.98 16.3446 106.801L22.5856 104.53L23.144 106.064Z"
              ></path>
              <path
                d="M6.87835 90.4454L16.9312 88.8133L17.21 90.3939L7.20511 92.2985L6.87835 90.4454ZM21.104 88.8924C21.1632 89.2285 21.0937 89.5382 20.8954 89.8214C20.6971 90.1045 20.4299 90.2757 20.0938 90.335C19.7577 90.3943 19.4481 90.3248 19.1649 90.1265C18.8817 89.9282 18.7105 89.661 18.6512 89.3249C18.592 88.9888 18.6615 88.6791 18.8598 88.396C19.058 88.1128 19.3252 87.9416 19.6614 87.8823C19.8839 87.8431 20.0983 87.8638 20.3046 87.9445C20.51 88.0207 20.6859 88.1419 20.8323 88.3081C20.9734 88.4705 21.0639 88.6653 21.104 88.8924Z"
              ></path>
            </g>
            <circle cx="79" cy="80" r="50" fill="#FF0000"></circle>
            <path
              d="M91.6328 78.9022L70.398 89.3046L70.398 68.4999L91.6328 78.9022Z"
              fill="white"></path>
          </svg>
        </a>
      </div>
      <div class="flex w-full flex-col items-center justify-center gap-12">
        <Speakers />

        <div
          class="relative grid w-full max-w-4xl grid-cols-2 gap-x-5 gap-y-8 md:grid-cols-3 md:gap-6"
        >
          {speakers.map((speaker) => <Spearker speaker={speaker} />)}
          <!-- <BluredSpeaker
            speakers={speakers.filter((speaker) => speaker?.blured)}
          /> -->
        </div>
        <a
          href="https://akashnet.typeform.com/to/bj9Bu7Ax?typeform-source=akash.network"
          target="_blank"
          class="rounded-md bg-primary px-8 py-3 text-base font-bold text-white md:py-4 md:text-xl"
          >Interested in speaking? Apply Now!</a
        >
      </div>
      <div class="flex w-full flex-col items-center justify-center gap-12">
        <Show />
        <div class="flex flex-col gap-4">
          <Table />
          <!-- <BlurTable /> -->
          <Tablebottom />
        </div>
      </div>
      <!-- <div class="flex w-full flex-col items-center justify-center gap-12">
        <Location />
        <div class="flex max-w-[929px] flex-col gap-5">
          <Image
            src="/images/accelerate/location.png"
            alt="Akash Accelerate 2024"
            width="1920"
            height="1080"
            class="w-full rounded-md object-contain"
          />
          <p
            class="text-center text-sm text-primary dark:text-white md:text-base"
          >
            ATELIER 1205, 1205 E Cesar Chavez St., AUSTIN - TEXAS, 78702
          </p>
        </div>
      </div> -->
    </div>
  </div>
  <div class="flex flex-col items-center justify-center gap-4 bg-primary py-20">
    <h1 class="container px-6 text-center text-xl font-medium text-white">
      Stay in touch about Akash Accelerate 2024
    </h1>
    <a
      href="https://akashnet.typeform.com/to/awKX5bPw?typeform-source=akash.network"
      target="_blank"
      class="rounded-md bg-white px-8 py-2.5 font-medium text-primary"
    >
      Subscribe Now
    </a>
  </div>

  <Footer />
</Layout>
