---
import { ContactForm } from "@/components/blackwell/ContactForm";

import ProductCard from "@/components/blackwell/ProductCard.astro";
import TopMargin from "@/components/ui/top-margin.astro";
import Layout from "@/layouts/layout.astro";
import "@/styles/globals.css";

const products = [
  {
    title: "NVIDIA GB200 Grace™ Blackwell Superchip",
    description:
      "Delivers up to 30x faster real-time LLM inference and 4x faster training compared to NVIDIA Hopper architecture.",
    imageUrl: "/images/blackwell/gpu1.png",
  },
  {
    title: "NVIDIA HGX B200",
    description:
      "Provides up to 15x faster real-time inference and 3x faster training than the previous generation.",
    imageUrl: "/images/blackwell/gpu2.png",
  },
];
---

<Layout title="NVIDIA Blackwell GPUs - Coming Soon">
  <TopMargin>
    <section class="grid min-h-screen grid-cols-2 gap-20">
      <div class="flex flex-col gap-16">
        <div class="flex flex-col gap-4">
          <div class="flex">
            <img
              src="/images/blackwell/nvidiatoakash.svg"
              alt="NVIDIA Blackwell"
            />
          </div>
          <h1 class="text-4xl !font-semibold leading-[1.2] lg:text-[54px]">
            NVIDIA Blackwell GPUs Coming Soon to Akash Supercloud
          </h1>
          <p class="text-lg text-para">
            Supercharge your AI and compute workloads with NVIDIA's most
            advanced GPUs, coming soon to Akash Supercloud. These game-changing
            innovations redefine performance for real-time inference and AI
            training.
          </p>
        </div>

        <div class="flex flex-col gap-4">
          {
            products.map((product) => (
              <ProductCard
                title={product.title}
                description={product.description}
                imageUrl={product.imageUrl}
              />
            ))
          }
        </div>
      </div>
      <div class="flex flex-col gap-8 rounded-lg border p-14">
        <h2 class="text-2xl font-medium">
          Secure your NVIDIA Blackwell Superchips
        </h2>

        <ContactForm client:load />
      </div>
    </section>
  </TopMargin>
</Layout>
