---
import AiModelsAndApps from "@/components/home/aiModelsAndApps/aiModelsAndApps.astro";
import FuelNew from "@/components/home/fuelNew.astro";
import CaseStudies from "@/components/home/caseStudies.astro";
import ShipIt from "@/components/home/shipIt.astro";
import Hero from "@/components/home/hero/hero.astro";
import Infrastructure from "@/components/home/infrastructure/infrastructure.astro";
import InfrastructureNew from "@/components/home/infrastructure/infrastructureNew.astro";
import ReadyToDeploy from "@/components/home/ready-to-deploy.astro";
import Permissionless from "@/components/home/permissionless.astro";
import TrustedBy from "@/components/home/trustedby/trusted-by.astro";
import Layout from "@/layouts/layout.astro";
import { getCollection, getEntry, type CollectionEntry } from "astro:content";

const homepage = await getEntry("Homepage", "index");

type BlogPost = CollectionEntry<"Blog">;

const posts = (await getCollection("Blog"))
  .filter((post) => {
    return post.data.archive !== true;
  })
  .sort((a, b) => {
    const dateA = new Date(a.data.pubDate);
    const dateB = new Date(b.data.pubDate);
    return dateB.getTime() - dateA.getTime();
  });
const {
  advert,
  heroSection,
  infrastructureSection,
  featureSection,
  aiModelsAndAppsSection,
  testimonialsSection,
} = homepage?.data;
---

<head>
  <script src="https://t.contentsquare.net/uxa/f3d653170e755.js"></script>
</head>

<Layout
  classname=" bg-[#FCFCFC] dark:bg-[#030303] "
  headerClassName="bg-[#F5F5F5] dark:bg-[#0a0a0a] top-0 sticky z-[30] border-b border-[#dddddd] dark:border-[#282828]"
  title="Akash Network - Decentralized Compute Marketplace"
  footerClassName="dark:bg-[#000000] container-nav-3 border-t dark:border-[#282828]"
  description="Akash is an open network that lets users buy and sell computing resources securely and efficiently. Purpose-built for public utility."
>
  <script is:inline slot="head" src="https://t.contentsquare.net/uxa/f3d653170e755.js"></script>
  <div>
    <Hero heroSection={heroSection} />
    <div class="bg-[#F1F1F1] dark:bg-[#101010] w-full h-fit"><TrustedBy /></div>
    <div class="bg-[#E3E3E3] dark:bg-[#0D0D0E] w-full h-fit"><InfrastructureNew /></div>
    <div class="bg-[#E3E3E3] dark:bg-[#0D0D0E] w-full h-fit"><FuelNew /></div>
    <div class="bg-[#EAEAEA] dark:bg-[#0D0D0E] w-full h-fit"><Permissionless /></div>
    <div class="bg-[#EEEEEE] dark:bg-[#101010]"><CaseStudies /></div>
    <div class="bg-[#171717]"><ShipIt /></div>
  </div>
</Layout>
