---
import AiModelsAndApps from "@/components/home/aiModelsAndApps/aiModelsAndApps.astro";
import Fuel from "@/components/home/Fuel";

import Hero from "@/components/home/hero/hero.astro";
import Infrastructure from "@/components/home/infrastructure/infrastructure.astro";
import ReadyToDeploy from "@/components/home/ready-to-deploy.astro";
import TrustedBy from "@/components/home/trustedby/trusted-by.astro";
import Layout from "@/layouts/layout.astro";
import { getCollection, getEntry, type CollectionEntry } from "astro:content";

const homepage = await getEntry("Homepage", "index");

type BlogPost = CollectionEntry<"Blog">;

const posts = (await getCollection("Blog"))
  .filter((post) => {
    return post.data.archive !== true;
  })
  .sort((a, b) => {
    const dateA = new Date(a.data.pubDate);
    const dateB = new Date(b.data.pubDate);
    return dateB.getTime() - dateA.getTime();
  });
const {
  advert,
  heroSection,
  infrastructureSection,
  featureSection,
  aiModelsAndAppsSection,
  testimonialsSection,
} = homepage?.data;
---

<Layout
  classname="dark !bg-[#000000] "
  headerClassName="!bg-[#000000] top-0 sticky z-[30] "
  title="Akash Network - Decentralized Compute Marketplace"
  footerClassName="bg-[#000000] container-home"
  hideDarkToggle
  description="Akash is an open network that lets users buy and sell computing resources securely and efficiently. Purpose-built for public utility."
>
  <div>
    <Hero heroSection={heroSection} />
    <TrustedBy />

    <Infrastructure infrastructureSection={infrastructureSection} />
    <Fuel client:load />
    <AiModelsAndApps aiModelsAndAppsSection={aiModelsAndAppsSection} />
    <ReadyToDeploy />
  </div>
</Layout>
