---
import FuelNew from "@/components/home/fuelNew.astro";
import CaseStudies from "@/components/home/caseStudies.astro";
import ShipIt from "@/components/home/shipIt.astro";
import Hero from "@/components/home/hero/hero.astro";
import InfrastructureNew from "@/components/home/infrastructure/infrastructureNew.astro";
import Permissionless from "@/components/home/permissionless.astro";
import TrustedBy from "@/components/home/trustedby/trusted-by.astro";
import Layout from "@/layouts/layout.astro";
import { getEntry } from "astro:content";

const homepage = await getEntry("Homepage", "index");

const {
  heroSection,
} = homepage?.data;
---

<Layout
  classname=" bg-[#FCFCFC] dark:bg-[#030303] "
  headerClassName="bg-[#F5F5F5] dark:bg-[#0a0a0a] top-0 sticky z-[30] border-b border-[#dddddd] dark:border-[#282828]"
  title="Akash Network - Meeting Confirmation"
  footerClassName="dark:bg-[#000000] container-wide border-t dark:border-[#282828]"
  description="Thanks for booking your meeting with Akash Network. We look forward to speaking with you."
>
  <div>
    <Hero heroSection={heroSection} />
    <div class="bg-[#F1F1F1] dark:bg-[#101010] w-full h-fit"><TrustedBy /></div>
    <div class="bg-[#E3E3E3] dark:bg-[#0D0D0E] w-full h-fit"><InfrastructureNew /></div>
    <div class="bg-[#E3E3E3] dark:bg-[#0D0D0E] w-full h-fit"><FuelNew /></div>
    <div class="bg-[#EAEAEA] dark:bg-[#0D0D0E] w-full h-fit"><Permissionless /></div>
    <div class="bg-[#EEEEEE] dark:bg-[#0D0D0E]"><CaseStudies /></div>
    <div class="bg-[#171717]"><ShipIt /></div>
  </div>
</Layout>
