---
---

<section class="w-full text-white py-20 lg:py-[120px]">
  <div class="container">

    <!-- Header -->
    <div class="text-center">
      <h2 class="text-[26px] font-semibold">
        Case Studies
      </h2>
      <p class="mt-1 text-[#8A8F98] text-sm">
        The future of DePIN is sovereign, distributed, and builder-owned.
        <br class="hidden md:block"/>
        See how the world's most resilient projects deploy on a global GPU grid that can't be shut down.
      </p>
    </div>


  </div>
</section>
