<div
  class="not-prose my-10 hidden space-y-4 rounded-lg border-l-4 border-l-blue-500 bg-blue-100 px-5 py-5 text-lg font-medium"
>
  note
</div>

<div
  class="not-prose my-10 hidden space-y-4 rounded-lg border-l-4 border-l-purple-500 bg-purple-100 px-5 py-5 text-lg font-medium"
>
  tip
</div>

<div
  class="not-prose my-10 hidden space-y-4 rounded-lg border-l-4 border-l-yellow-500 bg-yellow-50 px-5 py-5 text-lg font-medium"
>
  Caution
</div>

<div
  class="not-prose my-10 hidden space-y-4 rounded-lg border-l-4 border-l-primary bg-primary/10 px-5 py-5 text-lg font-medium"
>
  Danger
</div>
