---
import clsx from "clsx";

const links = [
  {
    title: "Compute Providers",
    link: "/ecosystem/providers/",
  },
  {
    title: "Network Capacity",
    link: "/ecosystem/network-capacity/",
  },
];

const pathname = Astro.url.pathname;
const normalised = pathname.replace(/\/$/, "");
---

<div class="my-10 flex items-center justify-center md:my-16">
  <div class="flex gap-1 rounded-lg bg-[#F4F4F5] p-1 dark:bg-background2">
    {
      links.map((link) => (
        <a
          href={link.link}
          class={clsx(
            "rounded-[4px] px-3 py-1.5 text-sm font-medium",
            normalised === link.link.replace(/\/$/, "")
              ? "bg-background text-foreground shadow-sm"
              : "text-para hover:text-foreground",
          )}
        >
          {link.title}
        </a>
      ))
    }
  </div>
</div>
