---
import { ArrowRight } from "lucide-react";
---

<section class="dark bg-[#111114] py-24 text-white">
  <div class="container-small flex items-center justify-between gap-10 pb-10">
    <div class="w-full flex-1">
      <h1 class="mb-4 text-6xl font-semibold">Join Akash at NeurIPS 2024</h1>
      <p class="mb-12 text-lg">
        December 10-19 / Vancouver, BC / Vancouver Convention Centre
      </p>
      <div
        class="flex max-w-[700px] items-center gap-6 rounded-lg border bg-background p-5"
      >
        <div
          class="flex aspect-square w-28 flex-col items-center justify-center rounded-[5px] bg-white p-4"
        >
          <p class="font-instrument text-lg text-black">NeurIPS</p>
          <p
            class="text-center font-instrument text-lg italic leading-4 text-primary"
          >
            AI Social Space
          </p>
        </div>
        <div class="flex flex-col gap-4">
          <div class="flex items-center gap-2">
            <h2 class="text-2xl font-semibold">
              Join Us at the NeurIPS AI Social Space
            </h2>
            <div
              class="flex size-6 items-center justify-center rounded-full bg-white"
            >
              <ArrowRight className="size-4 stroke-[1.5] text-black" />
            </div>
          </div>
          <p class="text-sm text-white">
            Connect and collaborate with the leading projects and companies
          </p>
        </div>
      </div>
    </div>
    <div class="w-[30%] xl:w-[35%]">
      <img src="/images/neurips/hero.png" alt="Akash Icon" class="w-full" />
    </div>
  </div>
</section>
<section
  class="z-[2] mx-auto -mt-10 flex max-w-6xl items-center divide-x divide-defaultBorder rounded-lg border bg-background p-6 shadow-xl"
>
  <div class="pl-3 pr-6">
    <img src="/images/neurips/neural.png" alt="NeurIPS Logo" />
  </div>
  <div class="flex flex-col gap-4 p-3 pl-6">
    <h2 class="text-2xl font-semibold">
      Akash is a platinum sponsor of the 2024 NeurIPS Conference
    </h2>
    <a
      href="https://neurips.cc/Conferences/2024/Sponsor"
      class="flex items-center gap-1 text-para transition-all hover:text-primary hover:underline"
      >Learn more <ArrowRight className="size-4 " /></a
    >
  </div>
</section>
