---
import { ArrowRight } from "lucide-react";
import JoinCard from "./joinCard.astro";
---

<section class="dark bg-[#111114] py-14 text-white md:py-24">
  <div
    class="container-small flex flex-col items-center justify-between gap-10 pb-10 md:flex-row"
  >
    <div class="w-full flex-1">
      <h1 class="mb-4 text-[40px] font-semibold leading-[1] md:text-6xl">
        Join Akash at NeurIPS 2024
      </h1>
      <p class="md:mb-12 md:text-lg">
        December 10-19 / Vancouver, BC <span class="hidden md:inline-flex"
          >/</span
        ><br class="md:hidden" /> Vancouver Convention Centre
      </p>
      <JoinCard className="hidden md:flex" />
    </div>
    <div class="w-[90%] md:w-[30%] xl:w-[35%]">
      <img src="/images/neurips/hero.png" alt="Akash Icon" class="w-full" />
    </div>
    <JoinCard className="flex md:hidden" />
  </div>
</section>
<section
  class="z-[2] mx-5 -mt-10 flex max-w-6xl flex-col items-center divide-y divide-defaultBorder rounded-lg border bg-background p-6 shadow-lg md:flex-row md:divide-x md:divide-y-0 md:shadow-xl lg:mx-auto"
>
  <div class="pb-5 md:pb-0 md:pl-3 md:pr-6">
    <img src="/images/neurips/neural.png" alt="NeurIPS Logo" />
  </div>
  <div class="flex flex-col gap-4 pt-5 md:pl-6 md:pr-3 md:pt-0">
    <h2 class="text-xl font-semibold md:text-2xl">
      Akash is a platinum sponsor of the 2024 NeurIPS Conference
    </h2>
    <a
      href="https://neurips.cc/Conferences/2024/Sponsor"
      class="flex items-center gap-1 text-para transition-all hover:text-primary hover:underline"
      >Learn more <ArrowRight className="size-4 " /></a
    >
  </div>
</section>
