---
const cards = [
  {
    image: "/images/neurips/card1.jpg",
    className: "object-right",
    title:
      "Listen to Greg Osuri lay out the future of open-source cloud compute",
    content:
      "Greg Osuri, the Founder of Akash, will present the vision for the future of open-source cloud compute for AI and machine learning on December 10th at 10:30 AM in East Exhibition Hall C.",
  },
  {
    image: "/images/neurips/card2.jpg",
    title: "Check out the latest from Akash at booth 229",
    content:
      "Discover how open-source cloud compute is transforming AI and machine learning. Meet the core team and community to learn more about Akash and see live demos.",
  },
];
---

<div
  class="container-small grid max-w-7xl grid-cols-1 gap-6 py-10 md:grid-cols-2 md:py-20 lg:gap-10"
>
  {
    cards.map((card, index) => (
      <div class="overflow-hidden rounded-lg border bg-background p-6">
        <img
          src={card.image}
          alt={card.title}
          class="aspect-[16/10] w-full rounded-md object-cover md:aspect-[16/7] "
        />
        <div class=" mt-6 md:mt-8">
          <h3 class="mb-2  text-xl  font-semibold md:mb-4 md:text-2xl">
            {card.title}
          </h3>
          <p class="text-para">{card.content}</p>
        </div>
      </div>
    ))
  }
</div>
