---
import { getCollection, type CollectionEntry } from "astro:content";
import IntegrationSwiper from "./IntegrationSwiper.tsx";
import { getPriorityIndex } from "@/utils/sequences/deployedOnAkash";
import ProjectCard from "../ecosystem-pages/project-card.astro";
import { Button } from "../ui/button";
import PostCard from "../cards/post-card.astro";

const showBlogs = [
  "brev-dev-leverages-akash-networks-permissionless-gpu-infrastructure-to-seamlessly-scale",
  "prime-intellect-integrates-permissionless-akash-gpus",
  "running-vllm-on-akash",
];

type Project = CollectionEntry<"Ecosystem_Page">;
type BlogPost = CollectionEntry<"Blog">;

const data = await getCollection("Ecosystem_Page");
const blogs = await getCollection("Blog").then((blogs) =>
  blogs.filter((blog) => showBlogs.includes(blog.slug)),
);

const sortProjects = (projects: Project[]) =>
  projects.sort((a, b) => {
    const priorityDiff =
      getPriorityIndex(a.data.projectTitle) -
      getPriorityIndex(b.data.projectTitle);
    if (priorityDiff !== 0) return priorityDiff;

    return (
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
    );
  });

const projects = sortProjects(
  data.filter((project) => project.data.showcase === true),
);
---

<section class="bg-black py-20">
  <div class="container-small flex flex-col items-center">
    <h2 class="mb-4 text-center text-3xl font-medium text-white">
      Akash is a global, peer-to-peer network for cloud resources and the
      starting point for an entirely new generation of AI and machine learning
      applications.
    </h2>
    <p class="text-center text-white/60">
      Check out the latest projects and companies that have integrated the Akash
      Supercloud.
    </p>
  </div>
  <IntegrationSwiper projects={projects} client:load />
  <div class="mt-10 flex justify-center">
    <a href="/ecosystem/deployed-on-akash/">
      <Button variant={"outline"}>View Akash Ecosystem</Button></a
    >
  </div>
</section>
