---
import clsx from "clsx";
import { ArrowRight } from "lucide-react";
type Props = {
  className?: string;
};
const { className } = Astro.props;
---

<div
  class={clsx(
    "flex max-w-[700px] items-center gap-4 md:gap-6 rounded-lg border bg-background p-3 md:p-5",
    className,
  )}
>
  <div
    class="flex aspect-square flex-col items-center justify-center rounded-[5px] bg-white p-3 md:w-28 md:p-4"
  >
    <p class="font-instrument text-sm text-black md:text-lg">NeurIPS</p>
    <p
      class="text-center font-instrument text-sm italic !leading-[1] text-primary md:text-lg"
    >
      AI Social <br /> Space
    </p>
  </div>
  <div class="flex w-full flex-1 flex-col gap-2 md:gap-4">
    <div class="flex gap-2 md:items-center">
      <h2 class="flex-1 text-sm font-semibold md:flex-initial md:text-2xl">
        Join Us at the NeurIPS AI Social Space
      </h2>
      <div
        class="flex size-6 items-center justify-center rounded-full bg-white"
      >
        <ArrowRight className="size-4 stroke-[1.5] text-black" />
      </div>
    </div>
    <p class="text-xs text-white md:text-sm">
      Connect and collaborate with the leading projects and companies
    </p>
  </div>
</div>
