---
import ButtonLink from "../ui/button-link.astro";

import fallbackImage from "@/assets/akash-logo.svg";
import { GithubIcon, RightArrowIcon } from "../header/icons";

const { card } = Astro.props;
---

<div
  class={`flex-col gap-x-10 gap-y-6 mt-20 mx-auto w-fit  flex lg:items-start justify-items-center  ${
    card.id % 2 === 0 ? "lg:flex-row-reverse" : "lg:flex-row"
  }`}
>
  <div
    class={`md:max-w-[536px] w-full not-prose flex-1 flex-shrink-0  !rounded-lg`}
  >
    <img
      class="w-full object-contain"
      alt="Feature illustration"
      src={card?.image.src ?? fallbackImage}
    />
    <!-- <Image
      class="hidden w-full object-contain dark:block"
      alt="Feature illustration"
      width={1200}
      height={1200}
      src={card?.darkImage ?? card?.image ?? fallbackImage}
    /> -->
  </div>
  <div class="flex flex-1 flex-col gap-6 pt-0 max-w-[500px]">
    <h2 class="not-prose text-3xl font-semibold md:mt-0 pl-2">
      {card.title}
    </h2>

    <p
      class="not-prose text-sm leading-[24px] text-[#71717A] font-normal text-para md:text-start md:text-base md:leading-[24px] px-2"
      set:html={card.description}
    />
    <ButtonLink
      link={card.link ?? "#"}
      size="lg"
      variant={card.type ?? "secondary"}
      className="not-prose"
    >
      {
        card.icon &&
          (card.link.startsWith("https://github.com") ? (
            <GithubIcon className="text-para" />
          ) : (
            <RightArrowIcon className="text-para" />
          ))
      }

      {card.linkText}
    </ButtonLink>
  </div>
</div>
