---
import ButtonLink from "../ui/button-link.astro";

import fallbackImage from "@/assets/akash-logo.svg";
import { GithubIcon, RightArrowIcon } from "../header/icons";

const { card } = Astro.props;
---

<div
  class={`flex-col gap-x-10 lg:gap-x-14 gap-y-6    flex lg:items-start justify-items-center  ${
    card.id % 2 === 0 ? "lg:flex-row-reverse" : "lg:flex-row"
  }`}
>
  <div class={`flex-1 w-full not-prose  flex-shrink-0  !rounded-lg`}>
    <img
      class="w-full object-contain"
      alt="Feature illustration"
      src={card?.image.src ?? fallbackImage}
    />
  </div>
  <div class="flex max-w-[500px] flex-1 flex-col gap-6 pt-0">
    <h2 class="not-prose text-3xl font-semibold md:mt-0">
      {card.title}
    </h2>

    <p
      class="not-prose text-sm font-normal leading-[24px] text-para md:text-start md:text-base md:leading-[24px]"
      set:html={card.description}
    />
    <ButtonLink
      link={card.link ?? "#"}
      size="lg"
      variant={card.type ?? "secondary"}
      className="not-prose"
    >
      {
        card.icon &&
          (card.link.startsWith("https://github.com") ? (
            <GithubIcon className="text-para" />
          ) : (
            <RightArrowIcon className="text-para" />
          ))
      }

      {card.linkText}
    </ButtonLink>
  </div>
</div>
