---
import logo from "@/assets/akash-logo.svg";
import SunIcon from "@/assets/icons/sun.svg";
import FooterLink from "@/components/footer/footer-link.astro";
import { Image } from "astro:assets";
import DarkModeToggle from "../dark-mode-toggle.astro";
import Logo from "../ui/logo.astro";
import AkashFooterLogo from "../ui/akash-footer-logo.astro";
import {
  DiscordIcon,
  GithubIcon,
  TelegramIcon,
  TwitterIcon,
  YoutubeIcon,
} from "../header/icons";

const pathname = Astro.url.pathname;
---

<footer class="w-full bg-[#ffffff] dark:bg-background">
  <div class="lg:container">
    <div class="mx-auto text-white lg:pt-[80px]">
      <!-- logo -->
      <div
        class="flex flex-col items-start px-4 py-[40px] pb-[50px] md:pt-[26px] lg:hidden"
      >
        <a href="/" aria-label="Akash Network" class="text-foreground">
          <AkashFooterLogo />
        </a>

        <div class="mt-10 flex flex-col items-start justify-start lg:hidden">
          <p class="text-base font-medium leading-[24px] text-foreground">
            Stay up to date with Akash Newsletter
          </p>

          <a
            href="https://akashnet.typeform.com/to/awKX5bPw"
            class="mt-4 flex cursor-pointer items-center justify-center rounded-md bg-primary px-[13px] py-[9px] text-sm font-bold text-white hover:bg-darkGray"
            >Subscribe Now</a
          >
        </div>
      </div>

      <!-- footer content -->
      <div class="justify-between px-4 md:mx-auto md:px-0 lg:flex">
        <!-- description  -->
        <div class="hidden text-left text-base font-[300] lg:block">
          <p class="text-foreground">
            <AkashFooterLogo />
          </p>
          <div class="flex gap-x-[24px] pb-[40px] pt-[20px] font-[300]">
            <!-- twitter -->
            <a
              href="https://twitter.com/akashnet_"
              target="_blank"
              aria-label="Akash Network Twitter"
              class="flex items-center gap-4 text-para hover:text-primary"
            >
              <TwitterIcon />
            </a>
            <!-- github -->
            <a
              aria-label="Akash Network Github"
              href="https://github.com/akash-network"
              class="flex items-center gap-4 text-para hover:text-primary"
            >
              <GithubIcon />
            </a>
            <!-- discord -->
            <a
              aria-label="Akash Network Discord"
              href="https://discord.com/invite/akash"
              class="flex items-center gap-4 text-para hover:text-primary"
            >
              <DiscordIcon />
            </a>
            <!-- youtube -->
            <a
              aria-label="Akash Network Youtube"
              href="https://www.youtube.com/c/AkashNetwork"
              class="flex items-center gap-4 text-para hover:text-primary"
            >
              <YoutubeIcon />
            </a>
            <!-- telegram -->
            <a
              target="_blank"
              aria-label="Akash Network Telegram"
              href="https://t.me/AkashNW"
              class="flex items-center gap-4 text-para hover:text-primary"
            >
              <TelegramIcon />
            </a>
          </div>
        </div>
        <div
          class="grid grid-cols-3 justify-between gap-y-10 md:grid-cols-5 md:gap-x-[30px] md:px-10 lg:gap-x-7 lg:px-0 xl:gap-x-10"
        >
          <!-- tools -->
          <div>
            <p class="text-xs font-[700] text-foreground md:text-sm">
              Products
            </p>
            <FooterLink
              aria-label="Cloudmos"
              link="https://console.akash.network/"
            >
              Akash Console
            </FooterLink>
            <FooterLink aria-label="Praetor App" link="https://praetorapp.com/">
              Praetor App
            </FooterLink>
          </div>
          <!-- quick links  -->
          <div>
            <p class="text-xs font-[700] text-foreground md:text-sm">Network</p>
            <FooterLink
              aria-label="Akash Stats"
              link="https://stats.akash.network/"
            >
              Akash Stats
            </FooterLink>
            <FooterLink
              aria-label="Akash Ecosystem"
              link="/ecosystem/akash-tools/latest"
            >
              Akash Ecosystem
            </FooterLink>
            <FooterLink
              aria-label="About Akash"
              link="/about/general-information/"
            >
              About Akash
            </FooterLink>
            <FooterLink aria-label="AKT Token" link="/token">
              AKT Token
            </FooterLink>
          </div>
          <!-- Development -->
          <div>
            <p class="text-xs font-[700] text-foreground md:text-sm">
              Development
            </p>
            <FooterLink
              aria-label="Meetings"
              link="/current-groups/special-interest-groups/sig-analytics/"
            >
              Meetings
            </FooterLink>
            <FooterLink
              aria-label="Product Strategy"
              link="/development/product-strategy/"
            >
              Product Strategy
            </FooterLink>
            <FooterLink
              aria-label="Community Groups"
              link="/development/current-groups/"
            >
              Community Groups
            </FooterLink>
            <FooterLink
              aria-label="Current Projects"
              link="/development/current-projects/"
            >
              Current Projects
            </FooterLink>
          </div>
          <div>
            <p class="text-xs font-[700] text-foreground md:text-sm">
              Community
            </p>
            <FooterLink
              aria-label="Contributions"
              link="/community/community-contributions/"
            >
              Contributions
            </FooterLink>

            <FooterLink
              aria-label="Akash Insiders"
              link="/community/akash-insiders/"
            >
              Akash Insiders
            </FooterLink>
            <FooterLink
              aria-label="Akash Validators"
              link="/community/akash-validators/"
            >
              Akash Validators
            </FooterLink>
            <FooterLink
              aria-label="Akash EDU"
              link="/community/community-akash-edu/"
            >
              Akash EDU
            </FooterLink>
            <FooterLink aria-label="Events" link="/community/events/">
              Events
            </FooterLink>
          </div>
          <div>
            <p class="text-xs font-[700] text-foreground md:text-sm">
              Resources
            </p>
            <FooterLink aria-label="Documentation" link="/docs">
              Documentation
            </FooterLink>

            <FooterLink aria-label="Blog" link="/blog">Blog</FooterLink>
            <FooterLink aria-label="Support" link="/support">
              Support
            </FooterLink>
            <FooterLink aria-label="Brand & Press" link="/brand/resources/">
              Brand & Press
            </FooterLink>
            <FooterLink
              aria-label="Discussions"
              link="https://github.com/orgs/akash-network/discussions"
            >
              Discussions
            </FooterLink>
          </div>
        </div>
      </div>
    </div>
    <!-- social links -->
    <div class="my-[40px] flex gap-x-6 px-4 font-[300] text-para lg:hidden">
      <!-- twittee -->
      <a
        aria-label="Akash Network Twitter"
        href="https://twitter.com/akashnet_"
        target="_blank"
        class="flex items-center gap-4 hover:text-primary"
      >
        <TwitterIcon />
      </a>
      <!-- github -->
      <a
        aria-label="Akash Network Github"
        href="https://github.com/akash-network"
        target="_blank"
        class="flex items-center gap-4 hover:text-primary"
      >
        <GithubIcon />
      </a>
      <!-- discord -->
      <a
        aria-label="Akash Network Discord"
        href="https://discord.com/invite/akash"
        target="_blank"
        class="flex items-center gap-4 hover:text-primary"
      >
        <DiscordIcon />
      </a>
      <!-- youtube -->
      <a
        aria-label="Akash Network Youtube"
        href="https://www.youtube.com/c/AkashNetwork"
        target="_blank"
        class="flex items-center gap-4 hover:text-primary"
      >
        <YoutubeIcon />
      </a>
      <a
        aria-label="Akash Network Telegram"
        href="https://t.me/AkashNW"
        target="_blank"
        class="flex items-center gap-4 text-para hover:text-primary"
      >
        <TelegramIcon />
      </a>
    </div>

    <!-- Stay up to date -->
    <div
      class="mt-20 hidden items-center justify-between border-y py-5 lg:flex"
    >
      <p class="text-xl font-medium leading-[30px] text-foreground">
        Stay up to date with Akash Newsletter
      </p>
      <a
        aria-label="Subscribe Now"
        href="https://akashnet.typeform.com/to/awKX5bPw"
        class="ml-6 flex cursor-pointer items-center justify-center rounded-md bg-primary px-[13px] py-[9px] text-sm font-bold text-white hover:bg-darkGray"
        >Subscribe Now</a
      >
    </div>

    <!-- bottom footer -->
    <div
      class="relative flex flex-col px-4 text-center md:pt-4 lg:flex-row lg:px-0 lg:pt-[32px]"
    >
      <div
        class="flex w-full flex-col items-start justify-start gap-y-[16px] lg:flex-row lg:items-center"
      >
        <p class="text-left text-2xs text-para lg:border-r lg:pr-[16px]">
          © Akash Network {new Date().getFullYear()}
           The Akash Network Authors Documentation Distributed under CC BY 4.0
        </p>
        <div class="flex">
          <p class="border-r pr-[8px] text-2xs text-para lg:px-[16px]">
            <a
              aria-label="Open-source Apache 2.0 Licensed."
              class="text-decoration-none"
              target="_blank"
              href="https://github.com/akash-network"
            >
              Open-source Apache 2.0 Licensed.
            </a>
          </p>
          <p class="border-r px-[8px] text-2xs text-para lg:px-[16px]">
            <a
              aria-label="GitHub v0.20.0"
              class="text-decoration-none"
              target="_blank"
              href="https://github.com/akash-network/node"
            >
              GitHub v0.20.0
            </a>
          </p>

          <p class="pl-[8px] text-2xs text-para lg:pl-[16px]">
            <a
              aria-label="Privacy"
              class="text-decoration-none"
              target="_blank"
              href="/privacy"
            >
              Privacy
            </a>
          </p>
        </div>
      </div>
      <div class="hidden lg:block">
        <DarkModeToggle footer />
      </div>
    </div>
    <div
      class="flex flex-col items-center gap-10 px-4 pb-[40px] pt-[32px] text-cardGray dark:text-textGray md:pb-[80px]"
    >
      <div class="grid w-full grid-cols-3 items-center justify-between">
        <p></p>
        <a
          aria-label="Back To Top"
          class="text-center text-[12px] font-[700] text-foreground lg:hidden"
          href="#">Back To Top</a
        >
        <div class="ml-auto lg:hidden">
          <DarkModeToggle />
        </div>
      </div>
    </div>
  </div>
</footer>
