---
import clsx from "clsx";

type Props = {
  className?: string;
};
const { className } = Astro.props;
---

<div
  class={clsx(
    " flex flex-col items-center justify-center gap-2.5 md:flex-row",
    className,
  )}
>
  <div
    class="flex items-center gap-2 font-jetBrainsMono text-[15px] font-light"
  >
    <span>akash</span>
    <svg
      width="64"
      height="20"
      viewBox="0 0 64 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M53.3746 9.93702C53.3746 11.0223 52.8553 12.1054 51.8138 13.1435C50.7703 14.1838 49.2318 15.1464 47.2858 15.9669C43.3962 17.6069 37.9836 18.6347 31.9759 18.6347C25.9682 18.6347 20.5557 17.6069 16.666 15.9669C14.72 15.1464 13.1816 14.1838 12.138 13.1435C11.0966 12.1054 10.5773 11.0223 10.5773 9.93702C10.5773 8.8517 11.0966 7.76861 12.138 6.73049C13.1816 5.69021 14.72 4.72759 16.666 3.90712C20.5557 2.26714 25.9682 1.23936 31.9759 1.23936C37.9836 1.23936 43.3962 2.26714 47.2858 3.90712C49.2318 4.72759 50.7703 5.69021 51.8138 6.73049C52.8553 7.76861 53.3746 8.8517 53.3746 9.93702Z"
        stroke="currentColor"
        stroke-width="1.12228"></path>
      <path
        d="M42.3948 9.93702C42.3948 14.6547 37.8236 18.6347 31.976 18.6347C26.1284 18.6347 21.5572 14.6547 21.5572 9.93702C21.5572 5.21929 26.1284 1.23936 31.976 1.23936C37.8236 1.23936 42.3948 5.21929 42.3948 9.93702Z"
        stroke="currentColor"
        strokeWidstroke-widthth="1.12228"></path>
      <path
        d="M63.4002 9.93702C63.4002 10.9341 62.6982 12.0052 61.1308 13.0779C59.5816 14.1382 57.3031 15.1153 54.4371 15.945C48.7126 17.6021 40.7713 18.6347 31.9764 18.6347C23.1814 18.6347 15.2402 17.6021 9.51565 15.945C6.64963 15.1153 4.37112 14.1382 2.82191 13.0779C1.25454 12.0052 0.552594 10.9341 0.552594 9.93702C0.552594 8.93998 1.25454 7.86885 2.82191 6.79615C4.37112 5.73588 6.64963 4.75871 9.51565 3.92907C15.2402 2.27197 23.1814 1.23936 31.9764 1.23936C40.7713 1.23936 48.7126 2.27197 54.4371 3.92907C57.3031 4.75871 59.5816 5.73588 61.1308 6.79615C62.6982 7.86885 63.4002 8.93998 63.4002 9.93702Z"
        stroke="currentColor"
        stroke-width="1.12228"></path>
      <line
        x1="0.946289"
        y1="9.37587"
        x2="63.484"
        y2="9.37587"
        stroke="currentColor"
        stroke-width="1.12228"></line>
      <line
        x1="32.0602"
        y1="1.08105"
        x2="32.0602"
        y2="19.1961"
        stroke="currentColor"
        stroke-width="1.12228"></line>
    </svg>

    <span>supercloud</span>
  </div>
  <div class="hidden h-5 w-[1px] bg-white md:block"></div>
  <div
    class="flex items-center gap-2 font-jetBrainsMono text-[15px] font-light"
  >
    <span>premier</span>
    <span class="font-instrument text-[18.6px] italic">decentralized</span>

    <span>compute marketplace</span>
  </div>
  <div class="mb-4 h-px w-[40%] bg-white md:mb-0 md:h-5 md:w-[1px]"></div>
  <svg
    width="53"
    height="24"
    viewBox="0 0 53 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M43.4606 11.936C43.4606 14.8002 41.2417 17.5282 37.3509 19.5734C33.4862 21.6048 28.1083 22.8782 22.1374 22.8782C16.1664 22.8782 10.7885 21.6048 6.92381 19.5734C3.03303 17.5282 0.814069 14.8002 0.814069 11.936C0.814069 9.07176 3.03303 6.34373 6.92381 4.29857C10.7885 2.26713 16.1664 0.993756 22.1374 0.993756C28.1083 0.993756 33.4862 2.26713 37.3509 4.29857C41.2417 6.34373 43.4606 9.07176 43.4606 11.936Z"
      stroke="currentColor"
      stroke-width="1.12228"></path>
    <path
      d="M24.0506 13.958L26.5594 17.1052L27.0041 18.1938H22.1395L19.7058 13.958H24.0506Z"
      fill="currentColor"></path>
    <path
      d="M27.0028 18.1944L29.4324 13.9585L24.5691 5.48486H19.7058L27.0028 18.1944Z"
      fill="currentColor"></path>
    <path
      d="M17.2742 9.71973H22.1375L17.2762 18.1934L14.8425 13.9576L17.2742 9.71973Z"
      fill="currentColor"></path>
    <path
      d="M48.2664 0.494122C48.3211 0.228826 48.7001 0.228825 48.7548 0.494121L49.2456 2.87132C49.2657 2.96882 49.3419 3.04501 49.4394 3.06514L51.8166 3.5559C52.0819 3.61067 52.0819 3.98962 51.8166 4.04439L49.4394 4.53516C49.3419 4.55529 49.2657 4.63148 49.2456 4.72898L48.7548 7.10617C48.7001 7.37147 48.3211 7.37147 48.2664 7.10617L47.7756 4.72898C47.7555 4.63148 47.6793 4.55529 47.5818 4.53516L45.2046 4.04439C44.9393 3.98962 44.9393 3.61067 45.2046 3.5559L47.5818 3.06514C47.6793 3.04501 47.7555 2.96882 47.7756 2.87132L48.2664 0.494122Z"
      fill="currentColor"></path>
  </svg>
</div>
