<div class="container mt-10">
  <p class="inline-flex items-center space-x-[4px]">
    <a class="hover:text-primary" href="/#getting-started"> Get Started</a>

    <svg
      width="24"
      height="24"
      viewBox="0 0 32 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M11.6678 23.5314C11.043 22.9065 11.043 21.8935 11.6678 21.2686L16.9365 16L11.6678 10.7314C11.043 10.1065 11.043 9.09347 11.6678 8.46863C12.2927 7.84379 13.3058 7.84379 13.9306 8.46863L20.3306 14.8686C20.9554 15.4935 20.9554 16.5065 20.3306 17.1314L13.9306 23.5314C13.3058 24.1562 12.2927 24.1562 11.6678 23.5314Z"
        fill="#808080"></path>
    </svg>
    <span class="font-bold text-foreground">Deploy</span>
  </p>
</div>
