---
import Layout from "@/layouts/layout.astro";
import PricingNavbar from "@/components/pricing-page/pricing-navbar.astro";
import UsageTable from "@/components/pricing-page/usage/usage-table";
import { gpus } from "@/utils/api";

const astroUrl = Astro.url;
const pathName = astroUrl.pathname.split("/");
// const response = await fetch(gpus);
// const data = await response.json();
---

<Layout
  title="  GPU Availability and Pricing"
  description="  GPU Availability and Pricing"
  image="/meta-images/gpus.png"
>
  <section
    class="container mx-auto flex max-w-[1380px] flex-col gap-16 pt-[100px]"
  >
    <h1
      class="text-center text-2xl font-bold md:block md:text-2lg lg:text-3lg lg:leading-[52px]"
    >
      Explorer pricing and calculate<br /> your costs or earnings
    </h1>
    <PricingNavbar pathName={pathName} />
    <div class="">
      <h2 class="text-center text-2xl font-bold md:block md:text-3xl">
        Usage Pricing
      </h2>
      <p class="text-center leading-[28px]">
        Estimate your costs by selecting the resources you need. <br />
         Adjust CPU, memory, storage, and other parameters to get a detailed
        cost breakdown.
      </p>
    </div>
    <UsageTable client:load initialData={null}/>
  </section>
</Layout>
